<!-- <script id="navMenusTml" type="text/x-jsrender">
{^{for navMenus}}
            <li  class="dropdown menu-dropdown">
                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">{{:name}}</a>
                <ul class="dropdown-menu pull-center min-width-250">
                    {^{for childMenus}}
                    <li class="menu">
                       <div class="menu-group">   
                                <div class="menu" >
                                    <div class="menu-title text-center" style="font-size: 14px;font-weight: 600;">{{:name}}</div>
                                    <div class="menu-body">
                                        <div class="menu-content" style="text-align: left;padding-left:70px;width:150px;">
                                         {^{for childMenu}}
                                            <a href="javascript:;" data-router="{{:url}}" data-title="{{:name}}" data-cross-domain="false"><i style="font-style: normal !important;font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;{{:name}}</i></a>
                                          {{/for}}

                                        </div>
                                    </div>

                                </div>
                         

                        </div>

                    </li>
                    {{/for}}
                </ul>
            </li>
{{/for}}
     </script> -->