 <div class="page-header">
 	<div class="btn-group pull-right"> 
        <a class="btn btn-default"   ng-click="genEventShare(claimShare)">生成账单</a>
        <a class="btn btn-default" ng-href="#/claims/createInsurance">返回</a>
    </div>
    <h3>事故分摊</h3>
 </div>
    <br/>
    <br/>
      
      <div class="table-responsive" style="overflow:scroll;">
	      <table class="table table-bordered" >
	          <tr>
	              <td>事故号 : </td>
	              <td>{{claimShare.fxoEventVo.eventCode}}</td>
	              <td>&nbsp;&nbsp;</td>
	              <td>币别 : </td>
	              <td>{{claimShare.currency}}</td>
	              <td>&nbsp;&nbsp;</td>
	              <td>待摊金额 : </td>
	              <td>{{claimShare.rePaid | currency }}</td>
	          </tr>
	      </table>
      </div>
        
      <div class="table-responsive" style="overflow:scroll;">
	      <table class="table table-bordered" >
	          <tr>
	              <td><input type="checkbox" ng-model="checkAll">全选</td>
	              <td>合同号</td>
	              <td>合同简称</td>
	              <td>分项号</td>
	              <td>层号</td>
	              <td>层超赔性质</td>
	              <td>合同币别</td>
	              <td>起赔点</td>
	              <td>层限额</td>
	              <td>年度免赔</td>
	              <td>已使用免赔</td>
	              <td>免赔额</td>
	          </tr>								     
	          <tr  ng-repeat="fhxLayer in claimShare.fhxLayerVoList">
	              <td><input type="checkbox" ng-model="fhxLayer.checked" > {{$index+1}}</td>
	              <td>{{fhxLayer.treatyNo}}</td>
	              <td>{{fhxLayer.treatyName}}</td>
	              <td>{{fhxLayer.sectionNo}}</td>
	              <td>{{fhxLayer.layerNo}}</td>
	              <td>{{fhxLayer.layerType}}</td>
	              <td>{{fhxLayer.currency}}</td>
	              <td>{{fhxLayer.excessLoss | currency }}</td>
	              <td>{{fhxLayer.layerQuota | currency }}</td>
	              <td>{{fhxLayer.usedd | currency }}</td>
	              <td>{{fhxLayer.annd | currency }}</td>
	              <td>
	                  <div class="input-group">
	                      <input type="number" ng-model="fhxLayer.thisAnnd"
	                          >
	                      <span></span>
	                  </div>
	              </td>
	          </tr>
	      </table>
      </div>
        <form name="frmSearchContract2" novalidate>
            <div class="row" >
                <div class="col-lg-2">
                    <label>USD:CNY = 1 :</label>
                </div>

                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="number" ng-model="claimShare.exChangeRate">
                            <span></span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;（参考值：6.070600000）<br>
                        请确认超赔分摊的兑换率<br></label>
                </div>

            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <a class="btn btn-default" ng-disabled="!frmSearchContract2.$valid"  
                    	ng-click="genEventShare(claimShare)">确认生成</a>
                    <a class="btn btn-default">恢复默认</a>
                    <a class="btn btn-default">取消</a>
                </div>
            </div>
        </form>