<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>序号</th>
            <th>账单状态</th>
            <th>账单类型</th>
            <th>账单编号</th>
            <th>合约编号</th>
            <th>层号</th>
            <th>接受人编码</th>
            <th>账单期</th>
            <th>合约币种</th>
            <th>账单余额</th>
            <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="contractout in fzXRAccList" class="hover-visible-wrapper" >
        	<td>{{getListIndex($index, pagination)}}</td>
            <td>
            	<div ng-if="(contractout.settleStatus === '0')">未转收付</div>
            	<div ng-if="(contractout.settleStatus === '1')">已转收付</div>
            </td>
            <td>
            	<div ng-if="(contractout.accKind ==='X')">MDP</div>
            	<div ng-if="(contractout.accKind === 'T')">T</div>
            	<div ng-if="(contractout.accKind === 'R')">R</div>
            </td>
            <td>{{contractout.accNo}}</td>
            <td>{{contractout.treatyNo}}</td>
            <td>{{contractout.sectionNo}}</td>
            <td>{{contractout.reinsCode}}</td>
            <td>{{contractout.accPeriod}}</td>
            <td>{{contractout.currency1}}</td>
            <td>{{contractout.balance1}}</td>
        </tr>
        </tbody>
    </table>
</div>