<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        	<th>序号</th>
            <th>账单状态</th>
            <th>账单类型</th>
            <th>账单编号</th>
            <th>合约编号</th>
            <th>出单公司</th>
            <th>账单期</th>
            <th>合约币种</th>
            <th>账单余额</th>
            <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="contractin in fzXBAccList" class="hover-visible-wrapper" >
        	<td>{{getListIndex($index, pagination)}}</td>
            <td>
            	<div ng-if="(contractin.settleStatus === '0')">未转收付</div>
            	<div ng-if="(contractin.settleStatus === '1')">已转收付</div>
            </td>
            <td>
            	<div ng-if="(contractin.accKind ==='X')">MDP</div>
            	<div ng-if="(contractin.accKind === 'T')">T</div>
            	<div ng-if="(contractin.accKind === 'R')">R</div>
            </td>
            <td>{{contractin.accNo}}</td>
            <td>{{contractin.treatyNo}}</td>
            <td>{{contractin.payCode}}</td>
            <td>{{contractin.accPeriod}}</td>
            <td>{{contractin.currency}}</td>
            <td>{{contractin.balance}}</td>
        </tr>
        </tbody>
    </table>
</div>