<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        	<th>合约编码</th>
            <th>合约简称</th>
            <th>账单期</th>
            <th>数据类型</th>
            <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="contract in contractListss" class="hover-visible-wrapper" >
            <td>{{contract.treatyNo}}</td>
            <td>{{contract.refNo}}</td>
            <td>{{contract.accPeriod}}</td>
            <td>{{contract.dataType}}</td>
        </tr>
        <tr>
          		<td >对内公司信息导入:</td>
          		<td><input type=file name="filePath"></td>
          		
          		<td ><input type="button"  class="button" value ="导入"    onclick="importExcel()"></td>
          		<td></td>
        	</tr >
        </tbody>
    </table>
</div>