    <div ng-hide="options.ready"
         >
          <table class="table table-striped table-hover">
          	<tbody>
          		<tr    class="hover-visible-wrapper" >
          			<td ng-model="sectionNos.treatyNo"><span>合约编号： {{contractListr.treatyNo}}</span> </td>
          			
          			<td>
		                <select ng-model="sectionNos.accPeriod" >
		                	<option value="" >--请选择--</option>
		                    <option ng-repeat="billDate in contractListr.accPeriodList" >{{billDate}}</option>
		                </select>
		            </span> 
		            </td>
		            <td>
          			 <button  ng-click="searchAccNo(contractListr,sectionNos.accPeriod)" class="btn btn-default">&nbsp;显示账单</button>
          			</td>
          			<td>
          			 <button  ng-click="prepareGenAcc(contractListr,sectionNos.accPeriod)" class="btn btn-default">&nbsp;生成对内账单</button>
          			 <!-- <a class="btn btn-default" ng-href="#/{{mode}}/contracts/prop/{{mode}}/{{contract.tmpContNo}}/view">查看</a> -->
          			</td>
          			<td>
          			 <button  ng-click="deleteAcc('TB',contractListr,sectionNos.accPeriod)" class="btn btn-default">&nbsp;删除对内账单</button>
          			</td>
          			<td>
          			 <button  ng-click="preparePrintAcc('TB',contractListr.treatyNo,sectionNos.accPeriod)" class="btn btn-default">&nbsp;打印对内账单</button>
          			</td>
          			<td>
          			 <button  ng-click="genAcc('TR','X',contractListr,sectionNos.accPeriod)" class="btn btn-default">&nbsp;生成对外账单</button>
          			</td>
          			<td>
          			 <button  ng-click="deleteAcc('TR',contractListr,sectionNos.accPeriod)" class="btn btn-default">&nbsp;删除对外账单</button>
          			</td>
          			<td>
          			 <button  ng-click="preparePrintAcc('TR',contractListr.treatyNo,sectionNos.accPeriod)" class="btn btn-default">&nbsp;打印对外账单</button>
          			</td>
          		</tr>
          	</tbody>
          </table>

</div>