<div>
    <div class="modal-header" font-size="12" align="center" >
        <div ng-switch on="accType">
	        <div ng-switch-when="TB">
	            <span> 对内账单打印  </span>
	        </div>
	        <div ng-switch-when="TR">
	            <span> 对外账单打印</span>
	        </div>
    	</div>
    </div>
    <div class="modal-body">
    	<div>
    	 	
  	 		 	<div class="row">
		            <div class="col-lg-2">
	                			<label>合约编号</label>
	                </div>
	
	                <div class="col-lg-4">
	                    <div class="input-group"> {{contractListr.treatyNo}}
	                        <span></span>
	                    </div>
	                </div>
	
	                <div class="col-lg-2">
	                    <label>合约简称</label>
	                </div>
	                <div class="col-lg-4">
	                    <div class="input-group">  {{contractListr.refNo}}
	                        <span></span>
	                    </div>
	                </div>
	    		</div>
	        	<div class="row" ng-switch on="accType">
			        <div ng-switch-when="TB">
				            <div class="col-lg-2">
	                			<label>账单期</label>
	                		</div>
	
	                		<div class="col-lg-4">
			                    <div class="input-group"> {{contractListr.accPeriod}}
			                        <span></span>
			                    </div>
	                		</div>
			        </div>
			        <div ng-switch-when="TR">
			            <div class="col-lg-2">
	                 			<label>层号</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <!-- <div class="input-group"> {{contractListr.treatyNo}}
		                        <span></span>
		                    </div> -->
		                    <select ng-model="contractListr.layerNo" >
		                	<option value="" >全部</option>
		                    <option ng-repeat="layerNo in fhXLayerDtoList" >{{layerNo}}</option>
		                </select>
		                </div>
			        </div>
	    		</div>
	    		<div class="row" ng-switch on="accType">
			        <div ng-switch-when="TB">
				            <div class="col-lg-2">
	                			<label>机构</label>
	                		</div>
	
	                		<div class="col-lg-4">
			                    <div class="input-group"> {{contractListr.accPeriod}}
			                        <span></span>
			                    </div>
	                		</div>
			        </div>
			        <div ng-switch-when="TB">
			            <div class="col-lg-2">
	                 			<label>是否包含下级分公司</label>
		                </div>
		
		                <div class="col-lg-4">
							<input type="radio" ng-value="1" ng-model="contractListr.includeSubCom" checked/>是
							<input type="radio" ng-value="0" ng-model="contractListr.includeSubCom" />否
		                </select>
		                </div>
			        </div>
	    		</div>
	    		<div class="row">
		            <div class="col-lg-2">
	                			<label>备注</label>
	                </div>
	
	                <div class="col-lg-4">
	                    <div class="input-group"> 
	                    	<td ng-model="contractListr.remarks" colspan="1"><textarea name="remarks" class="common" cols=50 rows=3></textarea></td>
	                        <span></span>
	                    </div>
	                </div>
	    		</div>
			            
        </div>
	        
	    
   	 </div>
		<div class="row">
			<div class="col-lg-12" align="center" ng-switch on="accType">
				<div ng-switch-when="TB">
					<a ng-click="printAcc('TB')" class="btn btn-primary" ng-disabled="!searchForm.$valid">立即打印</a>
					<a ng-click="searchTable.flag = !searchTable.flag" class="btn btn-default">取消打印</a>
				</div>
				<div ng-switch-when="TR">
					<a ng-click="printAcc('TR')" class="btn btn-primary" ng-disabled="!searchForm.$valid">立即打印</a>
					<a ng-click="searchTable.flag = !searchTable.flag" class="btn btn-default">取消打印</a>
				</div>
		    </div>
		</div>
        
    </div>
</div>