<!-- <div ng-controller="queryXTreaty">
    -->
    <div ng-hide="options.ready"
         style="padding:50px;text-align: center">
          <table class="table table-striped table-hover">
          	<tbody>
          		<tr    class="hover-visible-wrapper" >
          			<td ng-model="sectionNos.treatyNo"><span>合约编号： {{contractListr.treatyNo}}</span> </td>
          			<td>
		          		<span >  账单类型:
		                <select ng-model="contract.accType" >
		                	<option value="">--帐单类型--</option>
		                	<option value="Y">预付帐单</option>
							<option value="R">调整保费帐单 </option>
							<option value="T">恢复保费调整帐单 </option> 
				        </select>
		            </span> 
		            </td>
		            <td>
          			 <button  ng-click="searchAccNo(contractListr,contract.accType)" class="btn btn-default">&nbsp;显示账单</button>
          			</td>
          			<td>
          			 <button  ng-click="settle('TB',contractListr)" class="btn btn-default">&nbsp;对内帐单确认</button>
          			</td>
          			<td>
          			 <button  ng-click="settle('TR',contractListr)" class="btn btn-default">&nbsp;对外帐单确认</button>
          			</td>
          		</tr>
          	</tbody>
          </table>

</div>