<hr>
<div>

	<form name="frmSearch" novalidate>

		<div class="row">
            <div class="col-lg-2">
                <label>类型</label>
            </div>

            <div class="col-lg-4">
                <div class="input-group">
                	<select ng-model="keywords.certiType"
		                    ng-options="certiType.id as certiType.value for certiType in options.certiTypes">
		            </select>
                </div>
            </div>

            <div class="col-lg-2">
                <label>赔款类型</label>
            </div>

            <div class="col-lg-4">
                <div class="input-group">
                    <select ng-model="keywords.clmassType"
		                    ng-options="clmassType.id as clmassType.value for clmassType in options.clmassTypes">
		            </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>立案号</label>
            </div>

            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" ng-model="keywords.registerNo">
                    <span></span>
                </div>
            </div>

            <div class="col-lg-2">
                <label>追偿立案号</label>
            </div>

            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" ng-model="keywords.replevyRegistNo" ng-required="true">
                    <span></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>次数</label>
            </div>

            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" ng-model="keywords.sumClaimTime" ng-required="true">
                    <span></span>
                </div>
            </div>

            <div class="col-lg-2">
            </div>

            <div class="col-lg-4">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
            	<a class="btn btn-default" ng-click="claimCountClick(keywords)" ng-disabled="!frmSearch.$valid">赔案分摊 </a>
            </div>

            <div class="col-lg-6">
            </div>

        </div>
        
        </form>
        
        <form name="frmSearch1" novalidate>
	        <div class="row">
	            <div class="col-lg-6">
	            	<a class="btn btn-default" ng-click="countDealClick()" >分保/分批计算</a>
	            </div>
	
	            <div class="col-lg-6">
	            </div>
	
	        </div>
        </form>
</div>