functon.list.tpl.html
功能管理

<!--功能查询条件-->
<div>
    功能代码: <input type="text"/>
    上级功能代码: <input type="text"/>
    有效标志:
    <select >
        <option value="">有效</option>
    </select>
</div>
<div>
    功能简体名称： <input type="text"/>
    功能繁体名称： <input type="text"/>
    功能英文名称： <input type="text"/>
</div>
<a href="" class="btn btn-default">查询</a>
<a href="" class="btn btn-default">增加</a>
<a href="" class="btn btn-default">编辑</a>

<!--功能查询列表-->
<table>
    <tr>
        <td>&nbsp;</td>
        <td>功能代码</td>
        <td>上级功能代码</td>
        <td>功能简体名称</td>
        <td>功能繁体名称</td>
        <td>功能英文名称</td>
        <td>修改人</td>
        <td>修改时间</td>
        <td>有效标志</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><a href="" class="btn btn-default">编辑</a></td>
    </tr>
</table>

<!--功能新增-->
<div>
    功能代码
    <input type="text"/>
    上级功能代码
    <input type="text"/>
    有效标志
    <select >
        <option value="">有效</option>
    </select>
</div>
<div>
    功能简体名称
    <input type="text"/>
    功能繁体名称
    <input type="text"/>
    功能英文名称
    <input type="text"/>
</div>
<a href="" class="btn btn-default">保存</a>
<a href="" class="btn btn-default">返回</a>