institution.list.tpl.html
机构管理

<div style="text-align: center">
    <div style="text-align: center">请输入查询条件</div>
    <div>
        机构代码<input type="text">
        上级机构代码<input type="text">
        机构名称简体<input type="text">
    </div>
    <div>
        邮编<input type="text">
        传真<input type="text">
        机构名称英文<input type="text">
    </div>
    <div>
        <a class="btn btn-default">查询</a>
        <a class="btn btn-default">增加</a>
    </div>
        <table style="text-align: center">
        <tr>
            <td>机构代码</td>
            <td>机构中文名</td>
            <td>机构英文名</td>
            <td>地址中文名</td>
            <td>电话</td>
            <td>上级机构代码</td>
            <td>修改</td>
            <td>删除</td>
        </tr>
        <tr>
            <td>00000000</td>
            <td>总公司</td>
            <td></td>
            <td></td>
            <td></td>
            <td>0000000</td>
            <td><a class="btn btn-default">修改</a></td>
            <td><a class="btn btn-default">删除</a></td>
        </tr>
    </table>
</div>

        <br>
        <br>
        <br>

        增加结构界面
        <div style="text-align: center">
            <div style="text-align: center">增加用户信息</div>
            <div>
                机构代码<input type="text">
                上级机构代码<input type="text">
            </div>
            <div>
                机构简体名称<input type="text">
                机构英文名称<input type="text">
            </div>
            <div>
                <a class="btn btn-default">重置</a>
                <a class="btn btn-default">暂存</a>
                <a class="btn btn-default">关闭(G)</a>
            </div>
        </div>
