post.list.tpl.html
岗位管理

<!--岗位查询条件-->
<div>
    岗位名称: <input type="text"/>
    岗位归属机构: <input type="text"/>
    有效标志:
    <select >
        <option value="">有效</option>
    </select>
</div>
<a href="" class="btn btn-default">查询</a>
<a href="" class="btn btn-default">增加</a>

<br/>
<!--岗位查询列表-->
<table>
    <tr>
        <td>&nbsp;</td>
        <td>岗位ID</td>
        <td>岗位简体名称</td>
        <td>岗位繁体名称</td>
        <td>岗位英文名称</td>
        <td>修改人</td>
        <td>修改时间</td>
        <td>有效标志</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><a href="" class="btn btn-default">编辑</a></td>
    </tr>
</table>

<br/>
<!--岗位新增-->
<div>
    岗位简体名称
    <input type="text"/>
    岗位繁体名称
    <input type="text"/>
</div>
<div>
    岗位英文名称
    <input type="text"/>
    岗位归属机构
    <input type="text"/>
</div>
<div>
    有效标志
    <select >
        <option value="">有效</option>
    </select>
</div>
<div>
    备注
    <input type="text"/>
</div>
<a href="" class="btn btn-default">保存</a>
<a href="" class="btn btn-default">返回</a>