staff.list.tpl.html
员工管理
        <div>
            <div>请输入查询条件</div>
            <div>
                人员工号<input type="text">
                员工名称<input type="text">
            </div>
            <div>
                机构代码<input type="text">
                最新员工代码<input type="text">
            </div>
            <div>
                <a class="btn btn-default">查询</a>
                <a class="btn btn-default">增加</a>
            </div>

            <table>
                <tr>
                    <td>人员工号</td>
                    <td>人员名称</td>
                    <td>机构代码</td>
                    <td>最新员工代码</td>
                    <td>修改</td>
                    <td>删除</td>
                </tr>

                <tr>
                    <td>00000000</td>
                    <td>管理员</td>
                    <td>00000-0</td>
                    <td>0000000</td>
                    <td><a class="btn btn-default">修改</a></td>
                    <td><a class="btn btn-default">删除</a></td>
                </tr>
            </table>
        </div>

       <br>
       <br>
       <br>

 增加用户信息
        <div>
            <div>
                人员工号<input type="text">
                员工名称<input type="text">
            </div>
            <div>
                机构代码<input type="text">
                客户密码<input type="text">
            </div>
            <div>
                密码设置日期<input type="text">
                密码过期日期<input type="text">
            </div>
            <div>
                专项代码<input type="text">
                最新员工代码<input type="text">
            </div>
            <div>
                有效标志
                <select>
                    <option>有效</option>
                </select>
            </div>
            <div>
                <a class="btn btn-default">暂存</a>
                <a class="btn btn-default">重置</a>
                <a class="btn btn-default">关闭(G)</a>
            </div>
        </div>