user.list.tpl.html
人员权限管理

<!--新增-->
<div>
    <h1>权限配置选择</h1>
    <ul>
        <li>
            <input type="radio"/>权限简单配置
        </li>
    </ul>
</div>

<br/>

<h1>权限简单配置</h1>
<div>
    员工代码： <input type="text"/>
    员工名称： <input type="text"/>
</div>
<div>
    岗位代码： <input type="text"/>
    岗位名称： <input type="text"/>
</div>
<div>
    允许机构代码： <input type="text"/>
    允许机构名称： <input type="text"/>
</div>
<div>
    允许险种代码： <input type="text"/>
    允许险种名称： <input type="text"/>
</div>
<a href="" class="btn btn-default">保存设置</a>