<hr>
<h4>地震险适用险别</h4>
<div ng-if="section.fhRiskList.length > 0" style="overflow:scroll; height:150px;">
    <div  ng-show="operation != 'view'" class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <select class="form-control"  ng-model="section.insrncCde" ng-options="cc.insrncCde as cc.insrncName for cc in section.fhRiskList"
                        ng-change="searchEarthQuake(section)">
                </select>
            </div>

            <div class="col-lg-3">
                <select class="form-control"  ng-model="section.riComCde" ng-options="ac.id as ac.value for ac in section.riComCdes" >
                </select>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-default" ng-show="operation != 'view'"
                   ng-click="addEarthRisk(section)" ng-disabled="section.riComCdes.length === 0"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>

    </div>
    <table style="width: 80%">
        <tr ng-repeat="ri in section.contOutInssectEqDtls">
        	<td>{{ri.insrncCde}}</td>
        	<td>{{ri.insrncName}}</td>
            <td>{{ri.rdrCde}}</td>
            <td>{{ri.rdrName}}</td>
            <td><a class="btn btn-default" ng-if="operation != 'view'"
                   ng-show="ri.deletable || contract.stateFlag !=3" ng-click="delEarthRisk(section, ri)"><span class="glyphicon glyphicon-minus"></span></a></td>
            <td></td>
        </tr>
    </table>
</div>