<!-- 适用险种 -->
<!--<hr>-->
<h4>适用险种</h4>
<div style="overflow:scroll; height:150px;">
<table class="table table-stripped" >
    <tr ng-hide="operation === 'view'">
        <td colspan="4">
            <select ng-model="risk.classCode"  
                    ng-options="c.id as c.value for c in classCodes"
                    ng-change="searchRiskCode(risk.classCode)">
                    <option value="">--请选择--</option>
            </select>  

            <select ng-model="risk.riskCode" ng-show="riskCodes.length > '0'"
                    ng-options="c.id as c.id +'-'+ c.value for c in riskCodes">
                    
            </select>
            <a ng-if="contAttr === 'prop'" ng-show="riskCodes.length >'0'" class="btn btn-default" ng-click="addRiskType(section, risk.riskCode)" ><span class="glyphicon glyphicon-plus"></span></a>
        	<a ng-if="contAttr === 'nprop'" ng-show="riskCodes.length >'0'" class="btn btn-default" ng-click="addfhxRiskType(layer, risk.riskCode)" ><span class="glyphicon glyphicon-plus"></span></a>
        	

        </td>
    </tr>
    <!-- 显示比例适用险种 -->

    <tr ng-if="contAttr === 'prop'" ng-repeat="r in section.fhRiskList">
        <td>{{r.riskCode}}</td>
        <td>{{r.riskName}}</td>
		<td >
			<a class="btn btn-default" ng-click="delRiskType(section,r)" ng-if="operation != 'view'"
               ng-show="r.deletable||(contract.stateFlag!=3)"><span class="glyphicon glyphicon-minus"></span></a>
        </td>
    </tr>
    <!-- 显示非比例适用险种 -->
    <tr ng-if="contAttr === 'nprop' && layer.fhxRiskList.length > 0" ng-repeat="r2 in layer.fhxRiskList">
        <td>{{r2.riskCode}}</td>
        <td>{{r2.riskName}}</td>
        <td>
            <a class="btn btn-default" 
               ng-click="openExclusion(r2)">除外责任</a>
        </td>
        <td ><a class="btn btn-default"  ng-click="delRiskType(layer,r2)" ng-if="operation != 'view'"
                ng-show="r2.deletable||contract.stateFlag!=3"><span class="glyphicon glyphicon-minus"></span></a>
        </td>
    </tr>
</table>
</div>
