<!--<h2 style="background: #dcdcdc">浮动手续费管理</h2>--><!-- 手续费、赔付率未处理，等待后台提供参数 -->
<!--浮动手续费-->
<hr>
<h4>纯益手续费</h4>
<div class="container-fluid" style="overflow:scroll; height:150px;">
    <table class="table table-stripped" ng-if="contAttr === 'prop'">
    <!--  <tr ng-if="operation != 'view'">
         <td colspan="3">
         <div class="pull-right"><a class="btn btn-default" ng-if="operation != 'view'&&!effected" ng-click="addAdjustrate(section)" style="margin-top: 10px"><span class="glyphicon glyphicon-plus"></span></a></div></td>
     </tr> -->
 
      <div class ="row">
     <div class = "col-sm-2">
        <label>纯益手续费方式</label>
     </div>
      <div class="col-sm-4">
      
                <select class="form-control" type="text" ng-model="section.pcCleanMode"  ng-required="true"
                       ng-init="contract.pcCleanMode='0'" ng-show="operation != 'view' && !effected"
                       ng-options="c.id as c.value for c in pcCleanModes"
                       
                       ng-maxlength="10"></select>
                        <div ng-model="section.pcCleanMode"  ng-show="operation === 'view' ||effected">
                    {{section.pcCleanMode | code : 'pcCleanMode'}}
                </div>
                <span></span>
            </div>
            
         <div class = "col-sm-2">
            <label>纯益手续费比例(%)</label>
         </div>           
             <div class="col-sm-4">      
                <input class="form-control" type="text" ng-model="section.pcMinRate"
                      percentage   ng-readonly="operation === 'view'||effected" ng-required="true"  >
                       <span></span>
            </div>
     </div>
      <div class ="row">
     <div class = "col-sm-2">
        <label>接受人管理费用比例(%)</label>
     </div>
      <div class="col-sm-4">     
                <input class="form-control" type="text" ng-model="section.expenseRate"
                      percentage   ng-readonly="operation === 'view'||effected" ng-required="true"  >
                       <span></span>
            </div>
            
            <div class = "col-sm-2">
        <label>起算日期(月)</label>
     </div>
      <div class="col-sm-4">     
                <input class="form-control" type="text"
                ng-model="section.pcStartMths"
                         ng-readonly="operation === 'view'||effected" ng-required="true"  >
                       <span></span>
            </div>
       
     </div>
     
      <div class ="row">
     <div class = "col-sm-2">
        <label>亏损滚转周期(月)</label>
     </div>
      <div class="col-sm-4">     
                <input class="form-control" type="text" ng-model="section.carriedYrs"
                        ng-readonly="operation === 'view'||effected" ng-required="true"  >
                       <span></span>
            </div>
     </div>
</table>
</div>