
<hr>
<h4>机构信息</h4>

<a class="btn btn-default" ng-if="operation !='view' && !(effected||effected)"
   ng-if="contAttr==='prop'" ng-click="addCompanyprop(contract)"><span class="glyphicon glyphicon-plus"></span></a>

<form name="frmCompany" ng-class="{'readonly': operation==='view'}">

    <div>
        <!--比例-->
        <table class="table table-bordered" ng-if="contAttr ==='prop'" ng-if="contract.fhReinsList.length > 0">
            <thead>
            <th nowrap>业务所属公司</th>
            <th ng-if="operation != 'view'">&nbsp;</th>
            </thead>

            <tr ng-repeat-start=" receptor in contract.fhReinsList  track by $index">
                <td>
                    <div class="input-group">
                        <select ng-if="operation === 'new'" ng-model="receptor.reinsCode"
                                ng-options="c.id as c.id +'-'+ c.value for c in comCodes">
                            <option value="">--请选择--</option>
                        </select>
                        <select ng-if="operation === 'edit' || operation === 'view'" ng-model="receptor.reinsCode"
                                ng-options="c.id as c.id +'-'+ c.value for c in comCodes" ng-disabled = "operation === 'view'">	
                            <option value="" ng-selected="{{receptor.reinsCode}}">{{receptor.reinsCode}}</option>
                        </select>
                        <!-- <select ng-if="operation === 'view'" ng-model="receptor.reinsCode"
                                disabled="operation === 'view'"
                                class="form-control"
                                ng-options="c.id as c.id +'-'+ c.value for c in comCodes">
                            <option value="" ng-selected="{{receptor.reinsCode}}">{{receptor.reinsCode}}</option>
                        </select> -->
                        <!--<input ng-if="operation === 'view'" class="form-control" type="text" ng-model="receptor.reinsCode"-->
                               <!--ng-required="true"-->
                               <!--width="400px"-->
                               <!--ng-readonly="operation ==='view' || effected " placeholder=""-->
                               <!--typeahead-loading="loading...">-->
                        <span></span>
                    </div>
                </td>
                <td>
                    <button ng-click="deleteReinsList($index)" ng-if="operation != 'view'">删除</button>
                </td>
            </tr>
            <tr ng-repeat-end class="well">
            </tr>
        </table>


    </div>
</form>