<link rel="import" href="/reins/page/templates/assets/polymer/paper-input/paper-input.html">
<div class="desktop clearfix">

    <div class="pull-right">
        <div class="btn-group">
            <a ng-if="operation==='edit' || operation==='new'" style=" cursor:pointer " class="btn btn-primary" ng-click="saveContract()"
               >保存</a>
            <!--ng-disabled="contractForm.$invalid"-->
            <a ng-if="contAttr === 'nprop' && ( contract.stateFlag === '0') &&  operation==='view'" class="btn btn-primary" ng-click="toggleMode('edit')">编辑</a>
            <a ng-if="contAttr === 'prop' && ( contract.stateFlag === '6') && mode==='admin' && operation==='view'" class="btn btn-primary" ng-click="toggleMode('edit')">编辑</a>
            <a ng-if="operation==='view'&&($stateParams.contOutTyp==='admin')" ng-click="copyContract()" class="btn btn-default">复制</a>
            <a ng-if="operation==='view'&&($stateParams.contOutTyp==='admin')" ng-click="renContract()" class="btn btn-default">续转</a>
            <a ng-if="operation==='view'&&($stateParams.contOutTyp==='admin')"  ng-click="deleteContract()" class="btn btn-danger">删除</a>
            <a ng-if="((operation==='edit' || operation==='new')&& contAttr==='prop') " class="btn btn-default"
               ng-click="addSection(section)">增加分项</a>
			 <a ng-if="(operation==='edit'&& contAttr==='nprop') || (operation==='new' && contAttr==='nprop' )" class="btn btn-default"
               ng-click="addLayer()">增加层项</a>   

            <a ng-click="closeContract(contAttr, $stateParams.contOutTyp, operation, contractForm.$dirty)" class="btn btn-default">关闭</a>
        </div>
    </div>

    <div class="paper">
        <form name="contractForm" ng-class="{'readonly': operation==='view'}">

        <tabset>
            <tab heading="主项">
                <div ng-if="contAttr==='prop'" ng-include="'page/templates/contract/editor/contract.main.A.tpl.html'"></div>
                <div ng-if="contAttr==='nprop'" ng-include="'page/templates/contract/editor/contract.main.B.tpl.html'"></div>
            	
            </tab>

            <!--非比例分项-->
            <tab ng-if="contAttr=='nprop'" ng-repeat = "layer in contract.fhxLayerList" active="layer.isActive">
                <tab-heading>
                {{layer.layerNo}}
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
                     <span class="caret" ></span>
                </a>
                <ul   class="dropdown-menu">
                    <li><a class="btn btn-link" ng-if="layer.layerNo!='1'" ng-show="operation != 'view' &&!effected" ng-click="removeLayer(contract,layer)">删除层</a></li>
					<li><a class="btn btn-link" ng-click="copyLayer(section,layer)" ng-show="operation != 'view' &&!effected">复制层</a></li>

                </ul>
            </tab-heading>
            	<!-- 险种信息 -->
                 <div ng-include="'/reins/page/templates/contract/editor/contract.risks.tpl.html'"></div>
                <div >
                    <div ng-include="'/reins/page/templates/contract/editor/contract.layer.tpl.html'"></div>
                </div>
                
            </tab>

            <!--比例分项-->
            <tab ng-if="contAttr=='prop'" ng-repeat = "section in contract.fhSectionList" active="section.isActive">
                <!--分入，核共体成数分项-->
                <tab-heading>
                    {{section.sectionNo}}
                    <a ng-if="(operation ==='edit' && contract.stateFlag!='4') || operation==='new'" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul ng-if="operation==='edit' || operation==='new'" class="dropdown-menu">
                        <li><a class="btn btn-link" ng-if="section.sectionNo!='a'" ng-click="removeSection(section)">删除分项</a></li>
                         <li><a class="btn btn-link" ng-click="copySection(section)">复制分项</a></li>
                         <li><a ng-if="((operation==='edit' || operation==='new')&& contAttr==='prop') " class="btn btn-link"
               ng-click="addSection(section)">增加分项</a></li>
                    </ul>
                </tab-heading><!--
                <div ng-if="(contract.inoutMrk==='0' || contract.inoutMrk==='2') && (
                        contract.contGrpTypCde==='B')"
                     ng-include="'contract/editor/contract.section.A.tpl.html'"></div>
                分入，核共体溢额，预约，协议分项
                <div ng-if="(contract.bsnsTyp==='1' || contract.bsnsTyp==='2') && (contract.contGrpTypCde==='D'
                         || contract.contGrpTypCde==='I' || contract.contGrpTypCde==='A')"
                     ng-include="'contract/editor/contract.section.B.tpl.html'"></div>
                分出成数分项
                <div ng-if="(contract.inoutMrk==='1') && (
                        contract.contGrpTypCde==='B')"
                     ng-include="'contract/editor/contract.section.C.tpl.html'"></div>
                分出溢额，预约，协议分项
                <div ng-if="(contract.inoutMrk==='1') && (contract.contGrpTypCde==='D'
                         || contract.contGrpTypCde==='I' || contract.contGrpTypCde==='A')"
                     ng-include="'contract/editor/contract.section.D.tpl.html'"></div>
            -->
            <!-- 比例溢额 -->
           <!--  <div ng-if="contract.treatyType === '21' " ng-include="'page/templates/contract/editor/contract.section.B.tpl.html'">
            </div> -->
            <!-- 成数，法定，预约  -->
             <div   ng-include="'page/templates/contract/editor/contract.section.A.tpl.html'">
            </div>
            </tab>
        </tabset>
        </form>
    </div>
</div>