<!--高架车部分设置-->
<hr>
<h4>高架车特殊分保条件</h4>

<a class="btn btn-default"  ng-if="operation !='view' && !(effected||effected)"
   ng-show="contAttr==='prop'" ng-click="addExpenCar(section)"><span class="glyphicon glyphicon-plus"></span></a>

<form name="frmRecepter"  ng-class="{'readonly': operation==='view'}" >

    <div style="overflow: scroll">
        <!--比例-->
        <table  class="table table-bordered"  ng-if="contAttr ==='prop'" ng-show=" section.contOutExpensiveCars.length > 0">
            <thead>
                <th nowrap>序号</th>
                <th >分项号</th>
                <th nowrap>业务品质/保额区间</th>
                <th nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分出比例(%)</th>
                <th nowrap>是否有效</th>
                <th ng-if="operation != 'view'">&nbsp;</th>
            </thead>
            <tr ng-repeat-start="expenCar in section.contOutExpensiveCars">
                <td>{{$index+1}}</td>
                <td>
                	<div class="input-group" >
                		<input class="form-control" type="hidden" size="200" type="text" ng-model="expenCar.sectNo" ng-readonly="true">
                		&nbsp;&nbsp;&nbsp;&nbsp;{{section.sectNo}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <span></span>
		            </div>
                </td>
                <td >
                    <div class="input-group" ng-if="(contract.carServAmoutFlag===1) || (contract.carServAmoutFlag==='1')">
                        <input size="30" type="text" ng-model="expenCar.carCode"
                               ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..."  
                               typeahead="state.id +'-'+ state.value as state.id +'-'+ state.value for state in getByReturn('expenCarCodeSer',$viewValue) | filter:$viewValue "
                               ng-required="true" 	typeahead-wait-ms="500" ng-blur="distinctExpenCar(section,expenCar,'expenCar')">
                        <span></span>
                    </div>
                    <div class="input-group" ng-if="(contract.carServAmoutFlag===2) || (contract.carServAmoutFlag==='2')">
                        <input size="30" type="text" ng-model="expenCar.carCode"
                               ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..."  
                               typeahead="state.id +'-'+ state.value as state.id +'-'+ state.value for state in getByReturn('expenCarCodeAmt',$viewValue) | filter:$viewValue "
                               ng-required="true" 	typeahead-wait-ms="500" ng-blur="distinctExpenCar(section,expenCar,'expenCar')">
                        <span></span>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4" >
                        <input size="30" type="text" ng-model="expenCar.outRate" percentage
                               ng-readonly="operation ==='view' || effected" ng-required="true"  >
                        <span></span>
                    </div>
                </td>
                <td>
                    <div ng-if="operation==='view' ||effected">
                        <div style="width: 70px;" ng-if="expenCar.effecFlag==='1' ">是</div>
                        <div style="width: 70px;" ng-if="expenCar.effecFlag==='0' ">否</div>
                    </div>
                    <div ng-if="operation!='view' &&! effected" style="width: 70px;" >
                        <div class="input-group" >
                            <input type="radio" ng-model="expenCar.effecFlag" ng-value="1">是
                            <input type="radio" ng-model="expenCar.effecFlag" ng-value="0">否
                            <span></span>
                        </div>
                    </div>
                </td>
            
                <td ng-if="operation != 'view'&&!effected">
                    <div class="btn-group" style="width: 165px;">
                        <a class="btn btn-default" ng-model="addReinsurer"
                           ng-if="operation !='view'" ng-click="removeExpenCar(section,expenCar)">-</a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end class="well">
            </tr>
        </table>
    </div>
</form>