<!--再保人部分设置-->
<hr>
<h4>再保人设置</h4>

<a class="btn btn-default"  ng-if="operation !='view' && !(effected||effected)"
   ng-show="contAttr==='nprop'" ng-click="addRecepterNprop(layer)"><span class="glyphicon glyphicon-plus"></span></a>
<a class="btn btn-default"  ng-if="operation !='view' && !(effected||effected)"
   ng-show="contAttr==='prop'" ng-click="addRecepterProp(contract)"><span class="glyphicon glyphicon-plus"></span></a>

<form name="frmRecepter"  ng-class="{'readonly': operation==='view'}" >

    <div style="overflow: scroll">
        <!--非比例-->
        <table  class="table table-bordered" ng-if="contAttr ==='nprop'" ng-show="layer.fhxReinsList.length > 0">
            <thead>
                <th nowrap>序号</th>
                <th nowrap>再保人</th>
                <th nowrap>最终再保人</th>
                <th nowrap>再保份额(%)</th>
                <th nowrap>属性</th>

                <th ng-if="operation != 'view'">&nbsp;</th>
            </thead>
            <tr ng-repeat-start="rein in layer.fhxReinsList">
                <td>{{$index + 1}}</td>
                <td>
                    <div class="input-group" >
                    	<select ng-if="operation === 'new'"  ng-model="rein.reinsCode" 
                    			ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes">	
	                    	<option value="">--请选择--</option> 
	                    	 <!--< option ng-repeat=" c in reinsCodes"
	                    	  value="{{c.id}}">{{c.value}}</option>       -->            	
	            		</select>  
                    	<select ng-if="operation === 'edit'"  ng-model="rein.reinsCode" 
                    			ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes">	
	                    	<option value="" ng-selected="{{rein.reinsCode}}" >{{rein.reinsCode}}</option>	
	            		</select>  
	            			
                        <input ng-if="operation ==='view'" size="30" type="text" ng-model="rein.reinsCode"
                               ng-readonly="operation ==='view' || effected " placeholder="" typeahead-loading="loading..."  
                               typeahead="c.id as c.id +'-'+ c.value for c in   getByReturn('reinsCode',$viewValue) | filter:$viewValue "
                               ng-required="true" typeahead-wait-ms="500" ng-blur="distinctReceiver(layer,rein,'recepter')">
                               
                        <span></span>
                    </div>
                </td>
                <td>
                <div class="input-group">
                	 <select ng-if="operation === 'new'" ng-model="rein.freinsCode"
                	 		 ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes">
     					<option value="">--请选择--</option>              	
					</select>	
					<select ng-if="operation === 'edit'" ng-model="rein.freinsCode"
                	 		 ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes">
     	 			       <option value="" ng-selected="{{rein.freinsCode}}">{{rein.freinsCode}}</option>   	
					</select>
                    <input ng-if="operation ==='view'" size="30" type="text" ng-model="rein.freinsCode"
                           ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..." 
                           typeahead="c.id as c.id +'-'+ c.value for c in   getByReturn('freinsCode',$viewValue) | filter:$viewValue "
                           ng-required="true" typeahead-wait-ms="500" ng-blur="distinctReceiver(layer,final,'finalRecepter')">
                    <span></span>
                </div>
                </td>
                <td>
                    <div class="input-group " ng-class="{'warning':rein.warning}">
                        <input size="20" type="text" percentage ng-model="rein.shareRate"  ng-required="true"
                               ng-readonly="operation==='view' ||effected"  ng-change="checkRecepterDetail(rein)" >
                        <span></span>
                    </div>
                </td>
                <td>
                    <div ng-if="operation==='view' || effected">
                        <div style="width: 70px;"  ng-if=" rein.brokerFlag==='1'">经纪人</div>
                         <div style="width: 70px;"  ng-if="rein.brokerFlag==='0'">再保人</div>
                    </div>
                    <div ng-if="operation!='view' && !effected">
                        <div style="width: 70px;">
                            <div class="input-group">
                                <input  type="radio" ng-model="rein.brokerFlag" value="1" />经纪人
                                <input  type="radio" ng-model="rein.brokerFlag" value="0" ng-click="toggleBrokerFlag(rein)"/>再保人
                                <span></span>
                            </div>
                        </div>
                    </div>
                 </td>

                <td nowrap ng-if="operation != 'view' && !effected">
                    <div class="btn-group" style="width:165px">
                        <a class="btn btn-default" ng-model="addReinsurer" ng-if="operation !='view'"
                           ng-click="removeRecepterNprop(layer,layer,rein)">-</a>
                    </div>
                </td>
            </tr >
            <tr ng-repeat-end class="well">
            </tr>
        </table>
        <!--比例-->
        <table  class="table table-bordered"  ng-if="contAttr ==='prop'" ng-show=" contract.fhReinsList.length > 0">
            <thead>
                <th nowrap>序号</th>
                <th nowrap>再保人</th>
                <th nowrap>再保份额(%)</th>
                <th nowrap>属性</th>
            <!--     <th nowrap>是否首席</th>
                <th>联系人姓名</th>
                <th>联系人手机</th>
                <th>联系人电话</th>
                <th>联系人传真</th>
                <th>联系人mail</th>
                <th>联系人地址</th>
                <th>联系人邮编</th> -->
                <th ng-if="operation != 'view'">&nbsp;</th>
            </thead>
            <tr ng-repeat-start="receptor in contract.fhReinsList  track by $index" >
                <td>{{$index+1}}</td>
                <td >
                    <div  class="input-group" >
	                     <!-- <select ng-if="operation != 'view'" name="reinsCode" ng-model="receptor.reinsCode">
	                    	<option value="">--请选择--</option> c.id as c.value for
	                    	 <option ng-repeat=" c in reinsCodes"
	                    	  value="{{c.id}}">{{c.value}}</option>                                            	
	            		</select>
	            		 -->
	            		<select class="form-control" ng-show="operation !='view'" ng-model="receptor.reinsCode"
                        	
                         ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes"
                         ng-change="linkageReinsCode(contract.fhReinsList,$index)">
                            <option value="" ng-selected="{{receptor.reinsCode}}" >{{receptor.reinsCode}}</option>
                        </select>

                        <!-- ng-options="c.value for c in reinsCodes"></select>	 -->
                         <input  ng-model="receptor.reinsCode" ng-if="operation ==='view'" size="30" type="text" ng-model="receptor.reinsCode"
                               ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..."  
                               typeahead="c.id as c.id +'-'+ c.value for c in   getByReturn('reinsCode',$viewValue) | filter:$viewValue "
                               ng-required="true"
                        	   typeahead-wait-ms="500" > 
                        <span></span>
                    </div>
                </td>
                
                <td>
                    <div class="col-sm-4 input-group " ng-class="{'warning':receptor.warning}" >
                        <input size="30" type="text" ng-model="receptor.shareRate" percentage  ng-change="checkRecepterDetail(receptor);linkageShareRate(contract.fhReinsList,$index)"
                               ng-readonly="operation ==='view' || effected" ng-required="true"
                                >
                        <span></span>
                    </div>
                </td>
                <td>
                    <div ng-if="operation==='view' ||effected">
                        <div style="width: 70px;" ng-if="receptor.brokerFlag==='1' ">经纪人</div>
                        <div style="width: 70px;" ng-if="receptor.brokerFlag==='false' ">再保人</div>
                    </div>
                    <div ng-if="operation!='view' && !effected" style="width: 70px;">
                        <div class="input-group">
                            <input  type="radio" ng-model="receptor.brokerFlag"  value="1">经纪人 
                            <input  type="radio" ng-model="receptor.brokerFlag"  value="0" ng-click="toggleBrokerFlag(receptor)">再保人 
                            <span></span>
                        </div>
                    </div>
                </td>
              <!--   <td>
                    <div ng-if="operation==='view' ||effected">
                        <div style="width: 70px;" ng-if="receptor.isPrireins==='true' ">是</div>
                        <div style="width: 70px;" ng-if="receptor.isPrireins==='false' ">否</div>
                    </div>
                    <div ng-if="operation!='view' &&! effected" style="width: 70px;" >
                        <div class="input-group">
                            <input type="radio" ng-model="receptor.isPrireins" value="true">是
                            <input type="radio" ng-model="receptor.isPrireins" value="false">否
                            <span></span>
                        </div>
                    </div>
                </td> -->
            
                <td ng-if="operation != 'view'&&!effected">
                    <div class="btn-group" style="width: 165px;">
                        <a class="btn btn-default" ng-model="addReinsurer"
                           ng-if="operation !='view'" ng-click="removeRecepterProp(contract.fhReinsList,receptor)">-</a>
                        <a class="btn btn-default" ng-model="addReinsurer" ng-show="receptor.brokerFlag"
                           ng-if="operation !='view'" ng-click="addFinalRecepterProp(contract)">添加最终再保人</a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end class="well">
                <td></td>
                <td colspan="8">
                        <table class="table table-bordered" ng-show="receptor.fhFinalReinsList.length >0 ">
                            <tr>
                                <td>序号</td>
                                <td nowrap>最终再保人</td>
                                <td nowrap>再保份额(%)</td>
                                <td></td><!-- slh  去掉“是否首席”的名字显示 -->
                                <td ng-if="operation != 'view' && receptor.fhFinalReinsList.length > 0"></td>
                            </tr>
                            <tr ng-repeat="final in receptor.fhFinalReinsList" class="table-stripped" >
                                <td><div style="width: 35px;">{{$index + 1}}</div></td>
                                <td>
                                    <div class="input-group">
                                    	<select ng-if="operation != 'view'" 
                                    			name="freins" 
                                    			ng-model="final.freinsCode"
                                    			ng-options="c.id as c.id +'-'+ c.value for c in freinsCodes">
					                    	<option value="">--请选择--</option>
					                    	<!-- <option ng-repeat=" c in freinsCodes" value="{{c.id}}">{{c.value}}</option> -->                  	
					            		</select> 	
                                        <input ng-if="operation ==='view'" size="30" type="text" ng-model="final.freinsCode"
                                               ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..."  
                                               typeahead="state.id +'-'+ state.value as state.id +'-'+ state.value for state in getByReturn('freinsCode',$viewValue) | filter:$viewValue "
                                               ng-required="true" typeahead-wait-ms="500" ng-required="true" >
                                    </div>
                                </td>
                                <td class="col-sm-4">
                                <div class="input-group">
                                	 <input size="30" type="text" ng-model="final.shareRate" ng-change="checkRecepterDetail(receptor)"
                                           ng-readonly="operation==='view'||effected"  
                                           percentage ng-required="true" >
                                     <span></span>
                                </div>
                                   
                                </td>
                               <!--  <td>
                                    <div ng-if="operation==='view'&&!effected">
                                        <div style="width: 70px;" ng-if="final.isPrireins==='true'">是</div>
                                        <div style="width: 70px;" ng-if="final.isPrireins==='false'">否</div>
                                    </div>
                                    <div ng-if="operation!='view'||effected" >
                                        <div style="width: 70px;" >
                                            <div class="input-group">
                                                <input type="radio"  ng-model="final.isPrireins" value="true" >是
                                                <input type="radio"  ng-model="final.isPrireins" value="false">否
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </td> -->
                                <td ng-if="operation != 'view'&&!effected">
                                    <a class="btn btn-default" ng-model="addReinsurer" ng-if="operation !='view'"
                                       ng-click="removeFinalRecepterProp(receptor.fhFinalReinsList,final)">-</a>
                                </td>
                            </tr>
                        </table>
                </td>
                <td colspan="4"></td>
            </tr>

        </table>

    </div>
</form>