<hr>
<div ng-show="operation != 'view' && !effected">
	<h4>层信息设置</h4>
	<a class="btn btn-default" ng-click="addLayer()"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="container-fluid">
    <form ng-class="{'readonly':operation==='view'}">
    <tabset>
        	
                <!--层起赔点-->
                <form name="frmSearchContract" novalidate>
                <div class="row">
                        

                        <div class="col-sm-2">
                         	<label>层号</label>
                        </div>
					
                        <div class="col-sm-4">
                        		<input class="form-control" type="text" ng-model="layer.layerNo"
                                    ng-required="true">
                            <span></span>
                        </div>
                        <div class="col-sm-2">
		                    <label>层超赔性质</label>
		                </div>
		
		                <div class="col-sm-4">
		                    <select class="form-control" ng-show="(operation != 'view' && !effected)" 
		                    ng-model="layer.layerType"
		                            ng-options="c.id as c.value for c in treatyTypes"
		                            ng-required="true"></select>
		                    <span></span>
		                    <div  ng-show="(operation==='view' || effected) ">{{layer.layerType | code: 'nprop.treatyType'}}</div>
		                </div>
                        
						
                    </div>
            <div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>层起赔点</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" percentage2 type="text" ng-model="layer.excessLoss"  ng-required="true"
                            ng-readonly="operation==='view' || effected"     >
                            <span></span>
                        </div>

                        <div class="col-sm-2">
                            <label>赔偿限额</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.layerquota" ng-readonly="operation==='view' ||effected"
                                ng-required="true" percentage2  ng-blur="calTotalQuota(layer);setRol(layer)"   >
                            <span></span>
                        </div>

                    </div>
                  	<div class="row">
                    	<div class="col-sm-2">
                            <label>层预估净自留保费</label>
						</div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.egnpi" ng-readonly="operation==='view' ||effected"
                                     ng-required="true" percentage2  ng-blur="calLayerPremium(layer);calLayerMdp(layer);setRol(layer)">
                            <span></span>
                        </div>
                    	<div class="col-sm-2">
                            <label>币别</label>
                        </div>

                        <div class="col-sm-4">
                            <select class="form-control" ng-if="operation != 'view' && !effected" ng-model="layer.currency" ng-options="c.id as c.id +'-'+ c.value for c in currencys"></select>
                            <div ng-if="operation==='view' || effected">{{layer.currency | code : 'currency'}}</div>
                            <span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>层费率(%)</label>
                        </div>

                        <div class="col-sm-4">
                            <input ng-if="(operation==='view' ||effected)"
                            	class="form-control" type="text" ng-model="layer.rate"
                                   ng-readonly="operation==='view' ||effected" percentage ng-required="true"
                                    >
                            <input ng-if="!(operation==='view' ||effected)"
                            	class="form-control" type="text" ng-model="layer.rate"
                                    percentage ng-required="true"
                                    ng-blur="calLayerPremium(layer);calLayerMdp(layer);setRol(layer)">
                            <span></span>
                        </div>

                        <div class="col-sm-2">
                            <label>层保费</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" percentage2  ng-model="layer.layerPremium"
                                  ng-readonly="operation === 'view'||'new'||'edit'||effected"  ng-required="true"
                                   >
                            <span></span>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-sm-2">
                            <label>预付比例(%)</label>
                        </div>

                        <div class="col-sm-4">
                            <input ng-if="(operation==='view' || effected)"
                            	class="form-control" type="text" ng-model="layer.mdpRate" percentage
                                   ng-readonly="operation==='view' || effected" ng-required="true"
                                    >
                            <input ng-if="!(operation==='view' || effected)"
                            	class="form-control" type="text" ng-model="layer.mdpRate" percentage
                                    ng-blur="calLayerMdp(layer)" ng-required="true"
                                    >
                            <span></span>
                        </div>

                        <div class="col-sm-2">
                            <label>最低预付分保费(MDP)</label>
                        </div>

                        <div class="col-sm-4">
                            <input ng-if="(operation==='view' || effected)"
                            	class="form-control" percentage2 type="text" ng-model="layer.mdp"
                                   ng-readonly="operation==='view' || effected" ng-required="true">
                           	<input ng-if="!(operation==='view' || effected)"
                            	class="form-control" percentage2 type="text" ng-model="layer.mdp"
                                ng-readonly="operation ==='new'||'edit'||effected" ng-required="true">
                            <span></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>ROL(%)</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.rol"
                                    ng-readonly="operation === 'view'||'new'||'edit'||effected" ng-required="true" percentage
                                    >
                            <span></span>
                        </div>

                        <div class="col-sm-2">
                            <label>责任恢复次数</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.reinstTimes" 
                                   ng-readonly="operation==='view' ||effected" ng-required="true"
                                  >
                                  
                            <span></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>总责任限额</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" percentage2 type="text" ng-model="layer.totalquota"
                            ng-readonly="operation==='view' ||effected" >
                           <span></span>
                        </div>	
						<div class="col-sm-2">
                            <label>分出份额(%)</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.shareRate"
                                   ng-readonly="operation==='view' ||effected" percentage ng-required="true"
                                    >
                            <span></span>
                        </div> 
                        

                    </div>
                    <div class="row">
                        
                        <div class="col-sm-2">
                            <label>备注</label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="layer.remarks" ng-readonly="operation==='view' || effected">
                            <span></span>
                        </div>
                       
                    </div>
                </form>

                <!--恢复保费-->
                <br/>
                <form name="frmSearchContract" novalidate>


                    <span class="col-xs-2">恢复保费</span>
                    <span class="col-xs-1">恢复次数:</span>
                    <span class="col-xs-1"><input type="text" ng-disabled="operation==='view'"
                                                  ng-init="allCreateNum=layer.fhXReinstTimesList.length"
                                                  ng-model="allCreateNum" style="width: 88px;background-color: white"/></span>
                    <span class="col-xs-1" ng-if="operation!=='view'"><button class="btn btn-default"
                                                                              ng-click="createNum(layer,allCreateNum)">确定</button></span>


                    <table  class="table table-stripped" >
                        <tr>
                            <td>次数</td>
                            <td>恢复保费类型</td>
                            <td class=" col-sm-4" align="left">恢复比例</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="rein in layer.fhXReinstTimesList">
                            <td>
                                <input type="number" ng-model="rein.reinstTimes"
                                       ng-blur="changeTimes(rein.reinstTimes,rein.randomNum)"
                                       ng-disabled="operation==='view'"
                                       style="width: 50px;background-color: white"/>
                            </td>
                            <td>
                                <div ng-if="operation!='view' && !effected">
                                    <select ng-model="rein.reinstType"
                                            ng-options="a.id as a.value for a in reinstTypes"></select>
                                </div>
                                <div ng-if="operation === 'view' || effected">{{rein.reinstType |
                                    code:'nprop.reinstTypes'}}
                                </div>
                            </td>
                            <td align="left">
                                <div class="input-group col-sm-9">
                                    <input class="form-control" type="text" ng-model="rein.reinsRate" percentage
                                           ng-readonly="operation==='view' ||effected" ng-required="true"
                                           ng-blur="calTotalQuota(layer);setRol(layer)">
                                    <span></span>
                                </div>
                            </td>
                            <td ><button ng-if="operation!=='view'" ng-click="delReinstTypeList($index)">删除</button></td>
                        </tr>

                        <tr><td><button ng-if="operation!=='view'" ng-click="addReinstTypeList()">添加</button></td></tr>
                    </table>
                </form>
                 <!--最终接受人-->
                <div ng-include="'/reins/page/templates/contract/editor/contract.recepter.tpl.html'"></div>
				<!-- 机构信息 -->
                <div ng-include="'/reins/page/templates/contract/editor/contract.company.tpl.html'"></div>	
                <!--保费支付-->
                <hr>

                 <h4>保费支付信息</h4>
                <form name="frmPayment" novalidate>
                    <div class="container-fluid">
	                    <tr >
	                        <div class="row">
	                            <div class="col-sm-1">
	                                <label>期次:</label>
	                            </div>
	                            <div class="col-sm-2">
	                                <input class="form-control" type="text" ng-init="payTimes=layer.fhxPlanList.length"  ng-model="payTimes"
	                                       ng-readonly="operation==='view' ||effected" ng-required="true">
	                                <span></span>
	                            </div>
	                            <div class="col-sm-9" ng-if="operation !='view' && !effected">
	                                <a class="btn btn-default" ng-click="confirmPay(layer,payTimes)">确定</a>
	                            </div>
	                        </div>
                        </tr>
                    </div>
                    <table class="table table-stripped" ng-if="layer.fhxPlanList.length > 0">
                        <thead>
                            <th>分期</th>
                            <th>支付日期</th>
                            <th>币别</th>
                            <th>支付金额</th>
                        </thead>
                        <tr ng-repeat="plan in layer.fhxPlanList">

                            <!-- <td>{{plan.payNo}}</td> -->
                            <td>{{plan.payTimes}}</td>
                            <td>
                                <div ng-if="operation!='view' && !(effected)" class="col-sm-4">
                                    <input class="form-control "
                                           datepicker2
                                           ng-required="true"
                                           type="text"  ng-model="plan.plan" ng-change="checkPlanDate(layer.fhxPlanList, plan.planDate)">
                                </div>
                                <div ng-if="operation==='view'||effected">
                                    {{plan.plan | date:'yyyy-MM-dd'}}
                                </div>
                            </td>
                            <td>{{plan.currency | code : 'currency'}}</td>
                            <td>
                                <div ng-if="operation!='view' && !effected" class=" col-sm-9">
                                    <input class="form-control " type="text"  ng-model="plan.payValue"
                                           ng-change="checkPayValue(layer, plan)">
                                    <span></span>
                                </div>
                                <div ng-if="operation==='view' || effected">
                                    {{plan.payValue}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </form> 
                
            </div>
    </tabset>
    </form>
</div>