<!--再保人部分设置-->
<hr>
<h4>机构信息</h4>

<a class="btn btn-default"  ng-if="operation !='view' && !(effected||effected)"
   ng-show="contAttr==='nprop'" ng-click="addCompanyNprop(layer)"><span class="glyphicon glyphicon-plus"></span></a>

<form name="frmCompany"  ng-class="{'readonly': operation==='view'}" >

    <div style="overflow: scroll">
        <!--非比例-->
        <table  class="table table-bordered" ng-if="contAttr ==='nprop'" ng-show="layer.fhxCompanyList.length > 0">
            <thead>
                <th nowrap>业务所属公司</th>
                <th nowrap>机构名称</th>
                <th ng-if="operation != 'view'">&nbsp;</th>
            </thead>
            <tr ng-repeat-start="company in layer.fhxCompanyList">
                <td>
                    <div class="input-group" >
                        <input class="form-control" type="text" ng-model="company.comCode"  ng-required="true" placeholder="必填"
                               ng-readonly="operation ==='view' || effected " placeholder="" typeahead-loading="loading..."  >
                        <span></span>
                    </div>
                </td>
                <td>
                    <div class="input-group" >
                        <input type="text" ng-model="company.comName" class="form-control"
                               ng-readonly="operation ==='view' || effected" placeholder="" typeahead-loading="loading..."> 
                        <span></span>
                    </div>
                </td>
                <td nowrap ng-if="operation != 'view' && !effected">
                    <div class="btn-group" style="width:165px">
                        <a class="btn btn-default" ng-model="removeCompany" ng-if="operation !='view'"
                           ng-click="removeCompanyNprop(layer,layer,company)">-</a>
                    </div>
                </td>
            </tr >
            <tr ng-repeat-end class="well">
            </tr>
        </table>
       

    </div>
</form>