<div class="table-responsive">
      <div>
	        <table class="table table-striped table-hover">
	        	<thead>
	        	    <tr>
		               <a ng-href="#/reinsurers" class="btn btn-default pull-right">关闭</a>
		            <th>
			        <tr>
			            <th>有效标志</th>
			            <th>助记码</th>
			            <th>接受人代码</th>
			            <th>接受人简称</th>
			            <th>修改人姓名</th>
			            <th>修改时间</th>
			            <th>第几次修改</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr ng-repeat="reinsurer in reinsurerList" class="hover-visible-wrapper">
			            <td>{{reinsurer.validStatus}}</td>
			            <td>{{reinsurer.code}}</td>
			            <td>{{reinsurer.reinsCode}}</td>
			            <td>{{reinsurer.shortName}}</td>
			            <td>{{reinsurer.changeName}}</td>
			            <td>{{reinsurer.strChgDate}}</td>
			            <td>{{reinsurer.changeTimes}}</td>
			            <td><a class="btn btn-default" ng-href="#/reinsEditMessages/{{reinsurer.reinsCode}}/{{reinsurer.changeTimes}}">查看详情</a></td>
			            			            
			        </tr>
		        </tbody>
		    </table>
     </div>
    <div class="clearfix panel-footer">
        <span class="pull-right">共: {{pagination.totalItems}}份</span>
    </div>
    <div class="clearfix pull-right" ng-show="reinsurerList.length > 0">
        <!-- 分页  -->
	    <pagination total-items="pagination.totalItems"
	                page="pagination.pageIndex"
	                items-per-page="pagination.pageSize"
	                max-size="pagination.maxSize"
	                previous-text="{{pagination.previousText}}"
	                next-text="{{pagination.nextText}}"
	                first-text="{{pagination.firstText}}"
	                last-text="{{pagination.lastText}}"
	                class="pagination-small"
	                boundary-links="true"
	                on-select-page="onSelectPage(page)"></pagination>
    </div>
</div>
