<div >
	<div class="modal-header">
        <h3>新增合同</h3>
    </div>
    <div class="modal-body">
        合同管理类型:
        <div class="btn-group">
        <div ng-if="options.contAttr === 'prop'">
            <button type="button" class="btn btn-default" ng-model="options.contAttr" btn-radio="'prop'">比例</button>
            </div>
            <div ng-if="options.contAttr === 'nprop'">
            <button type="button" class="btn btn-default" ng-model="options.contAttr" btn-radio="'nprop'">非比例</button>
            </div>
        </div>

        <div>
            业务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类型:
            <div class="btn-group">
                <div ng-if="options.contAttr === 'prop'">
                    <button type="button" class="btn btn-default"
                            ng-model = "options.optType"
                            btn-radio="'{{code.id}}'"
                            ng-repeat="code in codes['prop.optType']">{{code.value}}</button>
                            
                           
                </div>
                <div ng-if="options.contAttr === 'nprop'">
                    <button type="button" class="btn btn-default"

                            ng-model = "options.inoutMrk"
                            btn-radio="'{{code.id}}'"
                            ng-repeat="code in codes['nprop.inoutMrk']">{{code.value}}</button>
                </div>
            </div>
        </div>

        <div ng-show="options.contAttr === 'prop'">
            合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类型:
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-model = "options.treatyType"
                        btn-radio="'{{code.id}}'"
                        ng-repeat="code in codes['prop.treatyType']">{{code.value}}</button>
            </div>
        </div>

        <div ng-show="options.contAttr === 'nprop'">
            合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类型:
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-model = "options.treatyType"
                        btn-radio="'{{code.id}}'"
                        ng-repeat="code in codes['nprop.treatyType']">{{code.value}}</button>
            </div>
        </div><br>

        <div>
            <a class="btn btn-primary" ng-click="ok()">确定</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-default" ng-click="cancel()">取消</a>
        </div>
		
    </div>
</div>