<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
	        <th>
	        	<div ng-if="mode==='admin'">
	        		<input type="checkbox"  ng-model="checkAll" ng-click="checkAllContracts()">全选
        		</div>
        		<div ng-if="!(mode==='admin')">
	        		序号
        		</div>
        	</th>
		    <th>合同编号</th>
	        <th>业务年度</th>
	        <th>合同简称</th>
	        <th>合同起期</th>
	        <th>合同止期</th>
	        <th>合同类型</th>
	        <th>合同状态</th>
	        <th></th>
	    </thead>
	    <tbody>
	    <tr ng-repeat="contract in contractList" class="hover-visible-wrapper" ng-class="{'danger animated shake':contract.contStatus==='2'}">
	        <td><input ng-if="mode==='admin'" type="checkbox" ng-model="contract.checked">
	            {{getListIndex($index, pagination)}}</td>
	        <!-- <td>
	            <a ng-if="mode!='admin'"
	               ng-href="#/contracts/nprop/{{mode}}/{{contract.tmpTreatyNo}}/view">{{contract.tmpTreatyNo}}</a>
	            <a ng-if="mode==='admin'"
	                    ng-href="#/contracts/nprop/{{mode}}/{{contract.tmpTreatyNo}}/view">{{contract.tmpTreatyNo}}</a>
	        </td> -->
	        <td>{{contract.treatyNo}}</td>
	        <td>{{contract.uwYear}}</td>
	        <td>{{contract.refNo}}</td>
	        <td>{{contract.startDate.time | date : 'yyyy-MM-dd' }}</td>
	        <td>{{contract.endDate.time | date : 'yyyy-MM-dd'}} </td>
	        <td>{{contract.treatyType | code: 'nprop.treatyType'}}</td>
	        <td>{{contract.stateFlag | code : 'nprop.stateFlag'}}</td>
	        <td>
	        	<div class="btn-group btn-group-sm hover-visible">
		            <a class="btn btn-default" ng-if="mode==='admin'"  ng-href="#/contracts/nprop/{{contract.treatyNo}}/{{mode}}/view">查看</a>
	                <a class="btn btn-default" ng-if="!(mode==='admin')" ng-href="#/contracts/nprop/{{contract.treatyNo}}/{{mode}}/view">查看</a>
	                <a class="btn btn-default" ng-if="contract.stateFlag ==='0'" ng-href="#/contracts/nprop/{{contract.treatyNo}}/{{mode}}/edit">编辑</a>
	                <a ng-if="mode==='bill'" ng-click="openContractBill(contract)" class="btn btn-default" ><span class="glyphicon glyphicon-list-alt"></span> 账单</a>
	        	</div>
	        </td>
	    </tr>
	    </tbody>
	</table>
</div>