<div class="">
    <div ng-if="mode==='admin'">
        <input type="checkbox" ng-model="checkAll" ng-click="checkAllContracts()">全选
    </div>

    <div ng-repeat="contract in contractList " class="contract-thumbnail-wrapper hover-visible-wrapper">
        <div ng-if="mode==='admin'">
            <input type="checkbox" ng-model="contract.checked">
            {{getListIndex($index, pagination)}}
        </div>

        <div class="contract-thumbnail" ng-class="{'animated shake':contract.contStatus==='2'}">

           	<div>合同编号：{{contract.treatyNo}}</div>
            <div>业务年度：{{contract.uwYear}}</div>
            <div>合同简称：{{contract.refNo}}</div>
            <div>合同起期：{{contract.startDate.time | date : config.display.dateFormat}}</div>
            <div>合同止期：{{contract.endDate.time | date : config.display.dateFormat}}</div>
            <div>合同类型：{{contract.treatyType | code : 'prop.treatyType'}}</div>
            <div>合同状态：{{contract.stateFlag | code : 'prop.stateFlag'}}</div>
            <div>业务类型：{{contract.optType | code : 'prop.optType'}}</div>
        </div>

        <div class="text-center" style="margin:5px 0 0 0">
            <div>
                <span class="contract-status"></span>
                {{contract.treatyNo}}
            </div>

            <div class="btn-group btn-group-sm hover-visible">
                <a class="btn btn-default" ng-if="mode==='admin'" ng-href="#/contracts/prop/{{contract.treatyNo}}/view">查看</a>
                <a class="btn btn-default" ng-if="!(mode==='admin')" ng-href="#/contracts/prop/{{contract.treatyNo}}/view">查看</a>
                <a class="btn btn-default" ng-if="mode==='admin' && contract.contStatus !='6'" ng-href="#/contracts/prop/{{contract.treatyNo}}/edit">编辑</a>
                <button ng-if="mode==='bill' || mode==='1' || mode==='2'" ng-click="openContractBill(contract)" class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;账单</button>
            </div>
        </div>
    </div>
</div>