
<div class="login-wrapper-editpassword">
	<div class="login-window">
		<div class="header" style="margin:0px;text-align:center;">
			修改密码：
		</div>
	    <div align="center">
	        <input type="password" class="form-control" placeholder="原密码"   ng-model="keywords.oldpwd"/>
	        <input type="password" class="form-control" placeholder="新密码"   ng-model="keywords.newpwd"/>
	        <input type="password" class="form-control" placeholder="再输一次" ng-model="againpassword"/>
	        <button ng-click="editPassword()" class="btn btn-default btn-lg btn-block">确定</button>
	    </div>
	</div>
</div>