<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive ng-scope">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th>
            	<div class="ng-scope">
                	<input type="checkbox" ng-model="checkAll" ng-click="checkAllContracts()" class="ng-pristine ng-valid">全选
                	<!--<paper-checkbox ng-if="mode==='admin'" angupoly="{checked:'checkAll'}" ng-click="checkAllContracts()"></paper-checkbox>全选-->
            	</div>
            </th>
            <th>再保岗位管理</th>
            <th>归属机构</th>
            <th>创建时间</th>
            <th>状态</th>
            <th></th>
        </tr></thead>
        <tbody>
        <tr ng-repeat="saaGrade in saaGradeList  track by $index" class="hover-visible-wrapper ng-scope">
            <td class="ng-binding">
               <input type="checkbox" ng-model="checkAll" ng-click="checkAllContracts()" class="ng-pristine ng-valid">
            </td>
            <td class="ng-binding">{{saaGrade.gradeCName}}</td>
            <td class="ng-binding">{{saaGrade.comCode}}</td>
            <td class="ng-binding">{{saaGrade.createTime.time | date : config.display.dateFormat}}</td>
            <td class="ng-binding">	
            	<div ng-if="(saaGrade.validStatus === '0')">无效</div>
		        <div ng-if="(saaGrade.validStatus === '1')">有效</div>
            </td>
            <td>
                <div class="btn-group btn-group-sm hover-visible">
                    <!-- ngIf: mode==='admin' -->
                    <!-- ngIf: !(mode==='admin') --><a class="btn btn-default ng-scope" ng-if="!(mode==='admin')" ng-href="#/contracts/prop/OP2018214/view" href="#/contracts/prop/OP2018214/view">查看</a><!-- end ngIf: !(mode==='admin') -->
                    <!-- ngIf: mode==='admin' && contract.contStatus !='6'&& contract.stateFlag ==='0' -->
                    <!-- ngIf: mode==='bill' || mode==='1' || mode==='2' --><button ng-if="mode==='bill' || mode==='1' || mode==='2'" ng-click="openContractBill(contract)" class="btn btn-default ng-scope"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;账单</button><!-- end ngIf: mode==='bill' || mode==='1' || mode==='2' -->
                </div>

            </td>
        </tr>
       
        </tbody>
    </table>
</div>