	<div class="pull-right">
        <div class="btn-group">
            <a ng-if="operation==='edit' || operation==='new'" ng-disabled="invoiceForm.$invalid"
            	class="btn btn-primary" ng-click="saveInvoiceList()">保存</a>
            <a ng-if="operation==='edit' || operation==='new'" ng-href="#/settleInvoice" class="btn btn-default">返回</a>
            <a ng-if="operation==='invoicecheckList'" class="btn btn-primary" ng-click="confirmInvoiceCheck()">确认</a>
            <a ng-if="operation==='view'" ng-href="#/settleInvoice" class="btn btn-default">返回</a>
            <a ng-if="operation==='invoicecheckList'" ng-href="#/entry/invoicecheck" class="btn btn-default">返回</a>
        </div>
        <div><br></div>
    </div>
	<div>
        <table class="table table-bordered" >
         	<tbody>
	       		<tr>           
	       			<td>结算单编号</td>
	            	<td><input size="20" type="hidden" ng-model="chargeOffPkg.chargeoffPkgNo" />
	            		{{chargeOffPkg.chargeoffPkgNo}}
	            	</td>
	            </tr>
	        </tbody>
        </table>
    </div>
    <hr>
    <ng-form name="invoiceForm">
   	<h4>汇总信息:</h4>
   	
    
  	<div >
         <table class="table table-striped table-hover " >
             <thead>
             		<td nowrap>最终接收人</td>
		           <td nowrap>分公司代码</td>
		           <td nowrap>分公司名称</td>
		           <td nowrap>原增值税金额</td>
		           <td nowrap>原增值税保费金额</td>
		           <td nowrap>增值税金额</td>
		           <td nowrap>增值税保费金额（不含税保费）</td>
		          <!--  <td nowrap>价税合计金额</td> -->
		           <td nowrap>操作</td>
    		</thead>
    		<tbody>
		        <tr ng-repeat-start="fjInvoice in chargeOffPkg.fjInvoiceList">   
		       	    <td>{{fjInvoice.freinsCode}}</td>  
		            <td>{{fjInvoice.payCode}}</td>
		            <td>{{fjInvoice.payName}}</td>
		            <td>{{fjInvoice.oriVat | currency }}</td>
		            <td>{{fjInvoice.oriInvAmount | currency }}</td>
		            <td>{{fjInvoice.vat | currency }}</td>
		            <td>{{fjInvoice.invAmount | currency }}</td>
		            <!-- <td>{{fjInvoice.marginVat | currency }}</td> -->
		            <td>
						<a  ng-if="operation==='edit' || operation==='new'" class="btn btn-default" 
						    ng-click="addFjInvoiceDetail(fjInvoice)" >增加发票明细</a>
		            </td>   
		        </tr>
		        <tr ng-repeat-end class="well">
		        	<td></td>
		        	<td colspan="7">
		        		<table class="table table-striped table-hover " >
				            <tr ng-if="fjInvoice.fjInvoiceDetailList.length>0">
					           <td>发票代码 (*)</td>
					           <td>发票号 (*)</td>
					           <td>开票日期(yyyy-mm-dd) (*)</td>
					           <td>税额 (*)</td>
					           <td>保费金额 (*)</td>
					           <td>操作</td>
					           <td></td> 
					            <td></td> 
					            <td></td>
				  			</tr>
				        	<tr ng-repeat="fjInvoiceDetail in fjInvoice.fjInvoiceDetailList">        
					            <td>
						            <div class="input-group" ng-class="{'warning':fjInvoiceDetail.warning}">
						            <input size="20" type="text"  ng-readonly="operation === 'view'"
						             	ng-model="fjInvoiceDetail.invCode" ng-required="true"/>
						            <span></span>
						            </div>
					            </td>
					            <td><input size="20" type="text" ng-readonly="operation === 'view'"
					            	ng-model="fjInvoiceDetail.invNo" ng-required="true"/></td>
					            <td><input size="20" type="text" ng-readonly="operation === 'view'"
					            	ng-model="fjInvoiceDetail.invDate" ng-required="true"/></td>
					            <td>
					            	<div class="input-group" >
                                        <input size="20" type="text" ng-model="fjInvoiceDetail.vat"  
                                        	   ng-readonly="operation === 'view'" 
					            	 		   ng-required="true" currency
					            	 		   ng-keyup="calSumInvoice('vat',fjInvoice);"> 
                                           <span></span>
									</div>
					            </td>
					            <td>
					            	<div class="input-group" >
                                        <input size="20" type="text" ng-model="fjInvoiceDetail.invAmount"   
                                        	   ng-readonly="operation === 'view'" 
					            	 		   ng-required="true" currency
											   ng-keyup="calSumInvoice('invAmount',fjInvoice);"> 
                                           <span></span>
									</div>
					            </td>	
					            <td>
									<a  ng-if="operation==='edit' || operation==='new'" class="btn btn-default" 
									    ng-click="removeFjInvoiceDetail(fjInvoice.fjInvoiceDetailList,fjInvoiceDetail)" >删除</a>
					            </td>
					            <td></td> 
					            <td></td> 
					            <td></td> 
				        	</tr>
				      </table>
		        	</td>
		        </tr>
      		</tbody>                                       
        </table>
    </div> 
    </ng-form>
