<div>
	 <div class="modal-header">
        <h3>分批单主信息</h3>
    </div>
    <div class="modal-body">
    	 <div>
    	 	<tabset>
    	 		 <tab heading="分批单主信息">
    	 		 	<form name="searchForm">
    	 		 	<div class="row">
			            <div class="col-lg-2">
                  			<label>批单号</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.endorNo}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>投保单号码</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.proposalNo}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>保单号</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.policyNo}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>危险单位号</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.dangerNo}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>保额币别</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.currency}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>保费币别</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.currency}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>保险起期</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.startDate | date : config.display.dateFormat}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>保险止期</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.endDate | date : config.display.dateFormat}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>出单公司</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group">{{plyRiskUnit.comName}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>被保险人</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.insuredName}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>总保额</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.amount}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>总含税保费</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.premium}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			          <div class="row">
			            <div class="col-lg-2">
                  				<label>总不含税保费</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.noTaxPremium}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>总增值税</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.taxFee}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>我司保额变化量</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.amountChg}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>我司含税保费变化量</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.premiumChg}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>不含税毛保费变化量</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.noTaxPremiumChg}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>毛保费税额变化量</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.taxFeeChg}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>我司所占保额</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.baseAmount}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>我司所占含税保费</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.baseTaxFee}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			          <div class="row">
			            <div class="col-lg-2">
                  				<label>我司所占不含税保费</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.baseNoTaxPremium}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>我司所占增值税</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.basePremium}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        <div class="row">
			            <div class="col-lg-2">
                  				<label>我司份额</label>
		                </div>
		
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.baseRate}}%
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-2">
		                    <label>险种</label>
		                </div>
		                <div class="col-lg-4">
		                    <div class="input-group"> {{plyRiskUnit.riskCode}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			        </form>
    	 		 </tab>
    	 		 
    	 		 
    	 		 
    	 		 <tab heading="批单费用信息">
    	 		 	<div style="overflow: auto;height: auto;">
						<table class="table table-bordered">
					        <thead >
					        	<tr>
					        		<td nowrap>保单号</td>
						            <td nowrap>险种</td>
						            <td nowrap>保额币别</td>
						            <td nowrap>我司所占保额</td>
						            <td nowrap>保费币别</td>
						            <td nowrap>我司所占保费</td>
						            <td nowrap>不含税保费</td>
						            <td nowrap>不含税保费变化量</td>
						            <td nowrap>总保额</td>
						            <td nowrap>总保费</td>
					        	</tr>
					        </thead>
					        <tbody>
				                <tr>
				                    <td> {{plyRiskUnit.policyNo}} </td>
						            <td> {{plyRiskUnit.riskCode}} </td>
						            <td> {{plyRiskUnit.currency}} </td>
						            <td> {{plyRiskUnit.baseAmount}} </td>
						            <td> {{plyRiskUnit.currency}} </td>
						            <td> {{plyRiskUnit.basePremium}} </td>
						            <td> {{plyRiskUnit.noTaxPremium}} </td>
						            <td> {{plyRiskUnit.noTaxPremiumChg}} </td>
						            <td> {{plyRiskUnit.amount}} </td>
						            <td> {{plyRiskUnit.premium}} </td>
				                 </tr>
					        </tbody>
					    </table>
					</div>
    	 		 </tab>
    	 		 
    	 		 
    	 		 <tab heading="分保信息">
    	 		 	<div class="row">
			            <div class="col-lg-4" style="font-weight:normal;">
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我司共保比例%：</label>
		                </div>
		
		                <div class="col-lg-2">
		                    <div class="input-group"> {{plyRiskUnit.baseRate}}
		                        <span></span>
		                    </div>
		                </div>
		
		                <div class="col-lg-4" style="font-weight:normal;">
		                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分出份额：</label>
		                </div>
		                <div class="col-lg-2">
		                    <div class="input-group"> {{plyRiskUnit.shareRate}}
		                        <span></span>
		                    </div>
		                </div>
			        </div>
			      <div class="modal-body">
			        	<div ng-if="reinsShares.length > 0" ng-repeat="reinsShare in reinsShares">
							<div ng-include="'/reins/page/templates/fromquery/fromquery.result.2.edr.tpl.html'"></div>
	    				</div>
    				</div> 
    	 		 </tab>
    	 		 
    	 		 
    	 		<!--  <tab heading="超赔层信息">
    	 		 	<div ng-include="'/reins/page/templates/fromquery/fromquery.intention.nprop.edr.tpl.html'"></div>
    	 		 </tab> -->
    	 	</tabset>
    	 </div>
    	 <div>
            <a class="btn btn-default" ng-click="ok()">关闭</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
    