<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>投保单号</td>
			<td>分保单号</td>
			<td>危险单位号</td>
			<td>被保险人名/运输工具</td>
			<td>起保日期</td>
			<td>保额币别</td>
			<td>总保额</td>
			<td>保费币别</td>
			<td>总含税保费</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="riskUnit in plyRiskUnitList">
			<td>{{riskUnit.proposalNo}}</td>
			<td>{{riskUnit.rePolicyNo}}</td>
			<td>{{riskUnit.dangerNo}}</td>
			<td>{{riskUnit.insuredName}}</td>
			<td>{{riskUnit.startDate.time | date : config.display.dateFormat}}</td>
			<td>{{riskUnit.currency}}</td>
			<td>{{riskUnit.amount}}</td>
			<td>{{riskUnit.currency}}</td>
			<td>{{riskUnit.premium}}</td>
			<td><a class="btn btn-default" ng-click="openPlyFromQuery(riskUnit.rePolicyNo,riskUnit.dangerNo)">详情</a>
			</td>
		</tr>
	</tbody>
</table>
</div>