<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>批单号</td>
			<td>危险单位号</td>
			<td>被保险人名称/运输工具</td>
			<td>起保日期</td>
			<td>批改生效日期</td>
			<td>批改内容</td>
			<td>保额币别</td>
			<td>保费币别</td>
			<td>保额变化量 (兑换后)</td>
			<td>保费变化量 (兑换后)</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="riskUnit in plyRiskUnitList">
			<td>{{riskUnit.endorNo}}</td>
			<td>{{riskUnit.dangerNo}}</td>
			<td>{{riskUnit.insuredName}}</td>
<!-- 			<td>{{riskUnit.startDate}}</td>
			<td>{{riskUnit.endorDate}}</td> -->
			<td>{{riskUnit.startDate.time | date : config.display.dateFormat}}</td>
            <td>{{riskUnit.endorDate.time | date : config.display.dateFormat}}</td>
			<td>{{riskUnit.endorDesc}}</td>
			<td>{{riskUnit.currency}}</td>
			<td>{{riskUnit.currency}}</td>
			<td>{{riskUnit.amountChg}}</td>
			<td>{{riskUnit.premiumChg}}</td>
			<td><a class="btn btn-default" ng-click="openEdrFromQuery(riskUnit.endorNo,riskUnit.dangerNo)">详情</a>
			</td>
		</tr>
	</tbody>
</table>
</div>