<div>
	 <div class="modal-header">
        <h3>分赔案详情</h3>
    </div>
    <div class="modal-body">
    	 <div>
    	 	<tabset>
    	 		 <tab heading="分赔案主信息">
    	 		 	<form name="searchForm">
	    	 		 	<div class="row">
				            <div class="col-lg-2">
	                  			<label>分保赔案号</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.repayNo}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>立案号</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.payNo}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
				            <div class="col-lg-2">
	                  				<label>保单号</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.policyNo}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>出险日期</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.damageDate|date:'yyyy-MM-dd'}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
				            <div class="col-lg-2">
	                  				<label>出险原因</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.damageReason}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>结案否标志</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group">
			                   		<!-- <div ng-if="plyRiskUnit.clmassType=='2'">
										<input name="" type="checkbox" checked="checked" onclick="return false;"/>
									</div> -->
									<div ng-if="plyRiskUnit.endCaseFlag=='0'">
										<input name="" type="checkbox" onclick="return false;"/>
									</div>
									<div ng-if="plyRiskUnit.endCaseFlag=='1'">
										<input name="" type="checkbox" onclick="return false;"/>
									</div>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
			                <div class="col-lg-2">
			                    <label>险种</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.riskName}}
			                        <span></span>
			                    </div>
			                </div>
							<div class="col-lg-2">
			                    <label>币别</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.currency}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
				            <div class="col-lg-2">
	                  				<label>起保日期</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.startDate|date:'yyyy-MM-dd'}}
			                        <span></span>
			                    </div>
			                </div>
			
			                <div class="col-lg-2">
			                    <label>终止日期</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.endDate|date:'yyyy-MM-dd'}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
				            <div class="col-lg-2">
	                  				<label>被保险人</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.insuredName}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>出单公司</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.comCode}}-{{plyRiskUnit.comName}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
				        
				        
				        
				        <div class="row">
							<div class="col-lg-2">
	                  				<label>赔款金额</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.totClmAmout}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>赔付币别</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.scurrency}}
			                    </div>
			                </div>
				        </div>
				        
				        
				        
			        </form>
				</tab>
    	 		 
    	 		 
    	 		 
				<tab heading="赔案费用信息">
    	 		 	<div style="overflow: auto;height: auto;">
						<table class="table table-bordered">
					        <thead >
					        	<tr>
						            <td nowrap>赔款类型</td>
						            <td nowrap>账单项目编码</td>
						            <td nowrap>标的名称</td>
						            <td nowrap>赔付币别</td>
						            <td nowrap>赔款金额</td>
								</tr>
					        </thead>
					        <tbody>
				                <tr ng-repeat="item in plyRiskUnit .floReItemList">
				                   <!--  <td ng-repeat="item in plyRiskUnit .floReItemList"> {{item.payType}} </td> -->
						            <!-- <td ng-repeat="item in plyRiskUnit .floReItemList"> {{item.itemCode}} </td> -->
						            <td>
						            		<div ng-if="item.payType==='0'">物质损失赔款</div>
						            		<div ng-if="item.payType==='1'">费用</div> 
						            		<div ng-if="item.payType==='2'">未决</div>  
						            </td>
						            <td> 
						            		<div ng-if="item.itemCode==='00'">物质损失赔款</div>
						            		<div ng-if="item.itemCode==='99'">未决</div> 
						            		<div ng-if="item.itemCode!='00'&&item.itemCode!='99'">费用</div>  
						            </td>
						            <td>{{item.itemName}} </td>
						            <td>{{item.currency}} </td>
						            <td>{{item.payValue}} </td>				                 </tr>
					        </tbody>
					    </table>
					</div>
    	 		 </tab>
    	 		 
    	 		 
    	 		 
    	 		 <tab heading="理赔分摊">
    	 		 	<div style="overflow: auto;height: auto;">
					    <table class="table table-bordered">
					    	<thead>
					    		<tr>
						        	<td nowrap>风险单位号</td>
						        	<td nowrap>风险单位描述</td>
						            <td nowrap>分保方式</td>
						            <td nowrap>接受人</td>
						            <td nowrap>最终接受人</td>
						            <td width="30">分摊比例（%）</td>
						            <td nowrap>分摊币别</td>
						            <td nowrap>分摊赔款</td>
						        </tr>
					    	</thead>
					        <tbody>
						        <tr ng-repeat="settle in plyRiskUnit.clmFComShareVos">
						            <td>{{settle.dangerNo}}</td>
						            <td>{{settle.dangerDesc}}</td>
						            <td>{{settle.reinsMode}}</td>
						            <td>{{settle.reinsName}}</td>
						            <td>{{settle.fReinsName}}</td>
						            <td>{{settle.ShareRate}}</td>
						            <td>{{settle.tCurrency | code:'currency'}}</td>
						            <td>{{settle.payValue}}</td>
						        </tr>
					        </tbody>
					    </table>
				    </div>
    	 		 </tab>
    	 	</tabset>
    	 </div>
    	 <div>
            <a class="btn btn-default" ng-click="ok()">关闭</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>

    