<div class="row">
    <div class="col-xs-4">
        <label class="col-xs-4">投保单号</label>
        <div class="col-xs-8">
            <select ng-model="keywords.proposalNoFlag">
                <option value="=" selected>=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.proposalNo">
        </div>
    </div>
    <div class="col-xs-4">
        <label class="col-xs-4">保单号</label>
        <div class="col-xs-8">
            <select ng-model="keywords.policyNoFlag">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.policyNo">
        </div>
    </div>
    <div class="col-xs-4">
        <label class="col-xs-4">分保单号</label>
        <div class="col-xs-8">
            <select ng-model="keywords.rePolicyNoFlag">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.rePolicyNo">
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xs-4">
        <label class="col-xs-4">危险单位号</label>
        <div class="col-xs-8">
            <select ng-model="keywords.dangerNoFlag">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.dangerNo">
        </div>
    </div>
    <div class="col-xs-4">
        <label class="col-xs-4">被保险人</label>
        <div class="col-xs-8">
            <select ng-model="keywords.insuredNameFlag">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.insuredName">
        </div>
    </div>
    <div class="col-xs-4">
        <label class="col-xs-4">险种</label>
        <div class="col-xs-8">
            <select ng-model="keywords.riskCodeFlag">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.riskCode">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label class="col-xs-4">保额币别</label>
        <div class="col-xs-8">
            <select ng-model="keywords.currency"
                    ng-options="c.id as c.id +'-'+ c.value for c in currencys">
                <option value=''>全部</option>
            </select>
        </div>
    </div>
    <!-- <div class="col-xs-4">
        <label class="col-xs-4">保费币别</label>
        <div class="col-xs-8">
            <select ng-model="keywords.currency1" ng-options="c.id as c.id +'-'+ c.value for c in currencys">
                <option value=''>全部</option>
            </select>
        </div>
    </div> -->
    <div class="col-xs-4">
        <label class="col-xs-4">归属部门</label>
        <div class="col-xs-8">
            <select ng-model="keywords.comCodeFalg">
                <option value="=" selected="true">=</option>
                <option value="*">*</option>
            </select>
            <input type="text" ng-model="keywords.comCode">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <label class="col-xs-2">起保日期</label>
        <div class="col-xs-10">
            <input type="date" datepicker2 style="line-height: normal" ng-model="keywords.startDate">
            <span>至</span>
            <input type="date" datepicker2 style="line-height: normal" ng-model="keywords.endDate">

        </div>
    </div>

</div>
<div class="">
    <div style="float: right;margin-right:20px;">
        <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
        <a ng-click="searchTable.flag = !searchTable.flag" class="btn btn-default">取消</a>
        <a ng-click="searchPlyInfo()" class="btn btn-primary" ng-disabled="!searchForm.$valid">立即查询</a>
    </div>
</div>
	    
	    
   	
