<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>分摊</td>
			<td>复核</td>
			<!-- <td>标识</td> -->
			<td>分保方式</td>
			<!-- <td>已决/未决</td> -->
			<td>分保赔案号</td>
			<td>立案号</td>
			<!-- <td>危险单位号</td> -->
			<td>保单号</td>
			<td>出险日期</td>
			<td>出险原因</td>
			<td>出单公司</td>
			<td>被保险人/船名</td>
			<td>币种</td>
			<td>已决</td>
			<td>未决</td>
			<td>生成日期</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="riskUnit in plyRiskUnitList">
			<td>
				<div ng-if="(riskUnit.reinsureFlag === '0')">未分摊</div>
                <div ng-if="(riskUnit.reinsureFlag === '1')">已分摊完毕</div>
                <div ng-if="(riskUnit.reinsureFlag === '2')">未分摊完毕</div>
			</td>
			<td>
				<div ng-if="(riskUnit.underWriteFlag === '0')">未复核</div>
                <div ng-if="(riskUnit.underWriteFlag === '1')">已复核</div>
                <div ng-if="(riskUnit.underWriteFlag === '9')">待复核</div>
			</td>
			<!-- <td>{{riskUnit.repayNo}}</td> -->
			<td>
				<div ng-if="(riskUnit.reinsType === '0')">合同</div>
                <div ng-if="(riskUnit.reinsType === '1')">临分</div>
                <div ng-if="(riskUnit.reinsType === '2')">混合</div>
                <div ng-if="(riskUnit.reinsType === '3')">自留</div>
			</td>
			<!-- <td>{{riskUnit.repayNo}}</td> -->
			<!--  -->
			<td>{{riskUnit.repayNo}}</td>
			<td>{{riskUnit.payNo}}</td>
			<!-- <td>{{riskUnit.dangerNo}}</td> -->
			<td>{{riskUnit.policyNo}}</td>
			<td>{{riskUnit.damageDate.time | date : config.display.dateFormat}}</td>
			<td>{{riskUnit.damageReason}}</td>
			<td>{{riskUnit.comCode}}</td>
			<td>{{riskUnit.itemName}}</td>
			<!-- <td>{{riskUnit.insuredName}}</td> -->
			<td>
				<!-- <div ng-if="riskUnit.clmassType==='0'"> -->
					{{riskUnit.currency}}
				<!-- </div>
				<div ng-if="riskUnit.clmassType==='1'">
					{{riskUnit.currency}}
				</div>
				<div ng-if="riskUnit.clmassType==='2'">
					{{riskUnit.currency}}
				</div> -->
			</td>
			<!-- 已决 -->
			<td>{{riskUnit.sumPayValue}}</td>
			<!-- 未决 -->
			<td>{{riskUnit.outStanding}}</td>
			<!-- 生成日期 -->
			<td>{{riskUnit.createDate.time | date : config.display.dateFormat}}</td>
			<!-- <td>{{riskUnit.clmassType}}</td> -->
			<td><a class="btn btn-default" ng-click="openClmFromQuery(riskUnit.repayNo,riskUnit.dangerNo)">详情</a>
			</td>
		</tr>
	</tbody>
</table>
</div>