<div >
    <div class="pull-right">
        <div class="btn-group">
            <!--  <a ng-if="operation==='edit' || operation==='new'" class="btn btn-primary"
               ng-disabled="!frmSaveSettleAcc.$valid"
               ng-click="saveReinsurer()">保存</a>-->
            <!--  <a ng-if="operation==='view'" class="btn btn-primary" ng-click="toggleMode('edit')">编辑</a>-->
            <a ng-href="#/settleAccs" class="btn btn-default">关闭</a>
        </div>
    </div>

    <form name="frmSaveSettleAcc" ng-class="{'readonly': operation==='view'}">
    <div ng-if="operation === 'edit' || operation === 'view'" ng-include="'/reins/page/templates/settle/editor/reinsSettleAcc.edit.tpl.html'"></div>
    <div ng-if="operation === 'new'" ng-include="'/reins/page/templates/settle/editor/reinsSettleAcc.new.tpl.html'"></div>
    </form>

</div>

