<form name="frmSearch1" novalidate  method="POST" action="/reins/reinsPrint/printPly.do">
	<div>
		<!-- 分保清单打印 -->
		<div class="modal-header">
	        <h3 >单证打印</h3>
    	</div>
    	<div class="modal-body">
			<div class="row">
				<div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>合约编号</label>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<input type="text" name="plyNo" ng-model="keywords.treatyNo" ng-blur="checkPlyNo(keywords.treatyNo)">
						<span></span>
					</div>
				</div>
				
				<div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>合约名称</label>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<input type="text" name="plyNo" ng-model="keywords.treatyNo" ng-blur="checkPlyNo(keywords.treatyNo)">
						<span></span>
					</div>
				</div>
	
				
			</div>
			 	
			 	
			 	
			<div class="row">
				<div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>打印险种</label>
				</div>
				<div class="col-lg-4">
					<div class="btn-group">
						<input type="text" name="riskCode" ng-model="keywords.riskCode" ng-blur="checkRiskCodeStartNo(keywords.riskCode)"/>
					</div>
				</div>
				
	            <div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>报表格式</label>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<select  ng-model="keywords.reportType">
							<option name="reportType" value="XLS">XLS</option>
						</select>
					</div>
				</div>   
				
			</div>
	         
	         
	         
	         <div class="row">
				<div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>业务币别</label>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<input type="radio" name="currencySelect" ng-value="1" ng-click="hideCur()" ng-model="keywords.currency" checked/>所有币种
						<input type="radio" name="currencySelect" ng-value="0" ng-click="showCur()" ng-model="keywords.currency" />单个币种
					</div>
				</div>
				
	         	<div class="col-lg-2"></div>
	         	<div class="col-lg-4"></div>
	         	<div class="col-lg-2" style="background-color:#f5f5f5;">
					<label>报表日期分类选择</label>
				</div>
			  	<div class="col-lg-4">
			  		<div class="input-group">
					<input type="radio" name="dateType" ng-value="D"  ng-model="keywords.reportDateType" checked/>按日期
					<input type="radio" name="dateType" ng-value="Q"  ng-model="keywords.reportDateType" />按财务帐季度
					<input type="radio" name="dateType" ng-value="M"  ng-model="keywords.reportDateType" />按财务帐月度
				</div>
			  	</div>
	         </div>
	
	
	
	         <div class="row">
	         	<div class="col-lg-2"></div>
	         	<div class="col-lg-4">
	         		<div class="input-group">
						<select name="currency" ng-show="cur" ng-model="keywords.currencyOne" ng-options="c.id as c.value for c in currencys">
							<option value="">请选择</option>
						</select>
					</div>
	         	</div>
	         	
	         	<div class="col-lg-2"></div>
	         	<div class="col-lg-4"></div>
	         </div>
	
	
	
			<div class="row">
				<div class="col-lg-6">
					<a class="btn btn-default" ng-click="reset()" >重置</a>
					<button  ng-click="print(keywords)" class="btn btn-default">确定 </button>
				</div>
				<div class="col-lg-6">
				</div>
			</div>
		</div>	
	</div>		
</form>