<div ng-controller="ContractPropListCtrl" collapse="hideList">

    <div ng-hide="searchTableFlag" class="search-toggle" ng-click="searchTableFlag = ! searchTableFlag">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <!-- 查询条件 -->
    <div collapse="!searchTableFlag" class="well">
        <h4>查询合同</h4>
        <form name="searchForm" novalidate>
			<div class="row">
				<div class="col-xs-4">
					<label class="col-xs-4">合同类型</label>
					<div class="col-xs-8">
						<!-- <select ng-model="keywords.contGrpTypCdeFlag">
							<option value="=">=</option>
							<option value="*">*</option>
						</select> -->
						<select ng-model="keywords.contGrpTypCde"
								ng-options="cd.id  as cd.value for cd in contGrpTypCdes">
							<option value="">全部</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<label class="col-xs-4">合同编号</label>
					<div class="col-xs-8">
						<select ng-model="keywords.contNoFlag">
							<option value="=">=</option>
							<option value="*">*</option>
						</select>
						<input type="text" ng-model="keywords.treatyNo">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="col-xs-4">合同简称</label>
					<div class="col-xs-8">
						<select ng-model="keywords.refNmeFlag">
							<option value="=">=</option>
							<option value="*">*</option>
						</select>
						<input type="text" ng-model="keywords.refNo">
					</div>
				</div>
				<div class="col-xs-4">
					<label class="col-xs-4">合同全称</label>
					<div class="col-xs-8">
						<select ng-model="keywords.contNmeFlag">
							<option value="=">=</option>
							<option value="*">*</option>
						</select>
						<input type="text" ng-model="keywords.treatyName">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="col-xs-4">业务年度</label>
					<div class="col-xs-8">
						<select ng-model="keywords.contYearFlag">
							<option value="=">=</option>
							<option value="*">*</option>
						</select>
						<input type="text" ng-model="keywords.uwYear">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" align="right">
					<a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
					<a ng-click="searchTableFlag = ! searchTableFlag" class="btn btn-default">取消</a>
					<a ng-click="searchContracts()" class="btn btn-primary">立即查询</a>
				</div>
			</div>
             <!-- <table class="table">
               <tr>
                    <td>合同类型</td>
                    <td>
                        <select ng-model="keywords.contGrpTypCdeFlag">
                            <option value="=" selected>=</option>
                            <option value="*">*</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="keywords.contGrpTypCde" ng-options="cd.id  as cd.value for cd in contGrpTypCdes">
                            <option value="">全部</option>
                        </select>
                    </td>
                   <td>合同编号</td>
                    <td>
                        <select ng-model="keywords.contNoFlag">
                            <option value="=" selected>=</option>
                            <option value="*">*</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" ng-model="keywords.treatyNo">
                    </td>
                </tr> -->
               <!--  <tr>
                    <td>合同简称</td>
                    <td>
                        <select ng-model="keywords.refNmeFlag">
                            <option value="=" selected>=</option>
                            <option value="*">*</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" ng-model="keywords.refNo">
                    </td>
					<td>合同全称</td>
	                <td>
	                     <select ng-model="keywords.contNmeFlag">
	                            <option value="=" selected>=</option>
	                            <option value="*">*</option>
	                        </select>
	                    </td>
                    <td>
                        <input type="text" ng-model="keywords.treatyName">
                    </td>
                </tr> -->
                <!-- <tr>
                    <td>业务年度</td>
                    <td>
                        <select ng-model="keywords.contYearFlag">
                            <option value="=" selected>=</option>
                            <option value="*">*</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" ng-model="keywords.uwYear" >
                    </td>
                </tr> -->
              <!-- 
                <tr>
                    <td colspan="6" align="right">
                        <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
                        <a ng-click="searchTableFlag = ! searchTableFlag" class="btn btn-default">取消</a>
                        <a ng-click="searchContracts()" class="btn btn-primary">立即查询</a>

                    </td>
                </tr>
            </table> -->
        </form>
    </div>

    <div class="page-header">


        <div class="btn-toolbar pull-right" role="toolbar">

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="global.viewType" btn-radio="'thumbnail'">
                    <span class="glyphicon glyphicon-th-large"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="global.viewType" btn-radio="'table'">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <h3>单证打印列表</h3>
    </div>

    <div class="panel panel-default " ng-show="contractList.length > 0">
        <!-- 显示查询结果列表 -->
      	<div ng-if="global.viewType==='thumbnail'"  ng-include="'/reins/page/templates/print/print.prop.list.thumbnail.tpl.html'"></div>
 		<div ng-if="global.viewType==='table'"  ng-include="'/reins/page/templates/print/print.prop.list.table.tpl.html.html'"></div>


            <!-- 分页  -->
             <div class="clearfix panel-footer">
	            <span class="pull-right">共找到{{pagination.totalItems}}份合同</span>
	        </div>

		<div class="clearfix pull-right" ng-show="contractList.length > 0" style="margin-bottom:3%">
            <pagination total-items="pagination.totalItems"
                        page="pagination.pageIndex"
                        items-per-page="pagination.pageSize"
                        max-size="pagination.maxSize"
                        previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}"
                        first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}"
                        class="pagination-small"
                        boundary-links="true"
                        on-select-page="onSelectPage(page)">
            </pagination>
        </div>
    </div>
</div>