<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>
            	<div ng-if="!(mode==='admin')">
                	序号
            	</div>
            </th>
            <th>合同编号</th>
            <th>业务年度</th>
            <th>合同简称</th>
            <th>合同起期</th>
            <th>合同止期</th>
            <th align="center">单证打印</th>
        </thead>
        <tbody>
        <tr ng-repeat="contract in contractList" class="hover-visible-wrapper" ng-class="{'danger animated shake':contract.contStatus==='2'}">
            <td>
                <input ng-if="mode==='admin'" type="checkbox" ng-model="contract.checked">
                <!--<paper-checkbox ng-if="mode==='admin'" angupoly="{checked:'contract.checked'}"></paper-checkbox>-->

                {{getListIndex($index, pagination)}}
            </td>
            <td>{{contract.treatyNo}}</td>
            <td>{{contract.uwYear}}</td>
            <td>{{contract.refNo}}</td>
            <td>{{contract.startDate.time | date : config.display.dateFormat}}</td>
            <td>{{contract.endDate.time | date : config.display.dateFormat}}</td>
            <td>
                 <div class="btn-group btn-group-sm hover-visible">
                    <button ng-click="openContractReports(contract)" class="btn btn-default">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;分保清单
                    </button>&nbsp;
                    <button ng-click="openContractBill1(contract)" class="btn btn-default">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;已决赔款清单
                    </button>&nbsp;
                    <button ng-click="openContractBill2(contract)" class="btn btn-default">
                    <i class="glyphicon glyphicon-list-alt"></i>&nbsp;未决赔款清单
                    </button>
                </div> 
            </td>
        </tr>
        </tbody>
    </table>
</div>