<div><!--事故打包-->
    <div class="modal-header">
       <h3 align="left">事故打包</h3>
   </div>
    <div class="modal-body">
        <!-- <table class="table table-stripped">
            <tr>
                <td>业务号</td>
                <td>立案号</td>
                <td>保单号</td>
                <td>风险单位号</td>
                <td>赔付币别</td>
                <td>我司净已决</td>
                <td>我司净未决</td>
                <td>自留比例</td>
            </tr>
            <tr  ng-repeat="claim in fxoPayLists">
                <td>{{claim.certiNo}}</td>
                <td>{{claim.claimNo}}</td>
                <td>{{claim.policyNo}}</td>
                <td>{{claim.riskUnit}}</td>
                <td>{{claim.currency}}</td>
                <td>{{claim.retPaid}}</td>
                <td>{{claim.retSumNoPaid}}</td>
                <td>{{claim.retRate}}</td>
            </tr>
        </table> -->
        <input type="checkbox" ng-model="existEvent"/>添加到已有事故
        <div>
            <form name="frmSearchContract" novalidate>
				<div class="row">
                    <div class="col-lg-2"  >
                        <label>事故代码</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text"  ng-readonly="!existEvent"   ng-model="event.eventCode">
                            <span></span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <label>事故描述</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" ng-model="event.eventcDesc">
                            <span></span>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-lg-2">
                        <label>起始时间</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" ng-model="event.damageBegDate"
                                   datepicker2 >
                            <span></span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <label>终止时间</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" ng-model="event.damageEndDate"
                                   datepicker2 >
                            <span></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>合同号</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input	type="text" ng-model="event.treatyNo" 
            					typeahead-loading="loading..."
               					typeahead="state.id +'-'+ state.value as state.id +'-'+ state.value for state  in getCodeCode('exTreatyNo',$viewValue) | filter:$viewValue "
                     			 ng-blur=""
                     			 ng-required="true" 	typeahead-wait-ms="500" />
                            <span></span>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <br/>
        
        <form name="frmSearchContract2" novalidate>
        		<div class="col-lg-7">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;（参考值：1.0）<br>请确认超赔分摊的兑换率<br></label>
                </div>
        	<div class="row" ng-repeat="fxoExchVo in fxoExchVoList">
                <div class="col-lg-2">
					<label>{{fxoExchVo.scurrencyName}}:{{fxoExchVo.tcurrencyName}}=1:</label>
                </div>

                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text" ng-model="fxoExchVo.userExchRate">
                            <span></span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;（参考值：{{fxoExchVo.exchrate}}）<br>请确认超赔分摊的兑换率<br></label>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default"  ng-if="!existEvent" ng-click="eventEncode(event)">打包</a>
        <a class="btn btn-default"  ng-if="existEvent"  ng-click="updateEvent()">追加</a>
        <a class="btn btn-default" ng-click="cancel()">返回</a>
    </div>
</div>