
<script id="messageListTmpl" type="text/x-jsrender">
<div class="row page-title">
&nbsp;
<a href="/">
<i class="fa fa-home fa-fw fa-lg"></i>
回到首页
</a>
/ {{:title}}
</div>
<div id="search-panel">
<div class="col-md-12 column" >
<div class="row clearfix">
<div class="col-md-12 column background-color-white padding-left-right-base box panel box-info">
<div class="box-header with-border">
       <!--  <h4 class="box-title">
          <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" class="">
            档案信息
          </a>
        </h4> -->
</div>
<div class="tabbable boxbody" id="tabs-180259">
        <div class="tab-content list-table">
        </div>
</div>
</div>
</div>
</div>
</div>
</script>           