<table class="table table-stripped">
    <thead>
	    <th nowrap>业务号</th>
	    <th nowrap>立案号</th>
	    <th nowrap>风险单位号</th>
	    <th nowrap>保单号</th>
	    <th nowrap>出险原因</th>
	    <th nowrap>出险日期</th>
	    <th nowrap>被保险人</th>
	    <th nowrap>币种</th>
	    <th nowrap>赔款类型</th>
	    <th nowrap>赔款金额</th>
	    <th nowrap></th>
    </thead>
    <tr ng-repeat="record in inquiry" >
        <td>{{record.certiNo}}</td>
        <td>{{record.registerNo}}</td>
        <td>{{record.riskUnitNo}}</td>
        <td>{{record.policyNo}}</td>
        <td>{{record.damageReason}}</td>
        <td>{{record.damageDate.time | date : config.display.dateFormat}}</td>
        <td>{{record.insuredName}}</td>
        <td>{{record.currency}}</td>
        <td>{{record.clmassType | code : 'clmassTypes'}}</td>
        <td>{{record.clmAmountVar | currency}}</td>
        <td>
            <div class="btn-group btn-group-sm">
                <a class="btn btn-default" ng-click="showReinsShareSettle_(record.certiNo)">分摊信息</a>
                <a class="btn btn-default" ng-click="showBill(record,options.bizType, '',record.certiNo)">账单</a>
                
                <a target="_blank" class="btn btn-default" ng-if="record.clmassType==='0'" 
	                 ng-href='http://{{config.backend.printIp}}/WDDE/pdf2.jsp?zhumobanname=sx-rei-lfcxtzs&paras=1%3d{{record.certiNo}}&KEY=N'>出险通知书打印</a>
	              
                <a target="_blank" class="btn btn-default" ng-if="record.clmassType==='1' || record.clmassType==='2'" 
                 ng-href='http://{{config.backend.printIp}}/WDDE/pdf2.jsp?zhumobanname=sx-rei-DebitNote&paras=1%3d{{record.certiNo}}&KEY=N'>账单打印</a>
                 
                <a target="_blank" class="btn btn-default" ng-if="record.clmassType==='2'" 
                 ng-href='http://{{config.backend.printIp}}/WDDE/pdf2.jsp?zhumobanname=sx-rei-jathzd&paras=1%3d{{record.certiNo}}&KEY=N'>结案打印</a>
                 
                 
	                 
            </div>
        </td>
    </tr>
</table>