<div >
    <div class="modal-header">
        <h3>账单</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
            	<th nowrap>账单类型</th>
                <th nowrap>账单确认</th>
                <th nowrap>账单编号</th>
                <th nowrap>出单公司</th>
                <th nowrap>接受人代码</th>
                <th nowrap>接受人名称</th>
                <th nowrap>账单币别</th>
                <th nowrap>账单余额</th>
                <th nowrap ng-if="bizType==='2'"></th>
            </thead>
            <tr ng-repeat="bill in billList">
            	<td>{{bill.billTyp}}</td>
                <td>{{bill.billStatus}}</td>
                <td>{{bill.billNo}}</td>
                <td>{{bill.deptCode}}</td>
                <td>{{bill.reinsCode}}</td>
                <td>{{bill.reinsName}}</td>
                <td>{{bill.currency}}</td>
                <td>{{bill.balance | currency}}</td>
                <td ng-if="bizType==='2'">
                
                	<a target="_blank" class="btn btn-default"  ng-if="bill.billTyp==='普通临分'"
	                 ng-href='http://{{config.backend.printIp}}/WDDE/pdf2.jsp?zhumobanname=sx-rei-FacultativeClosingPl&paras=1%3d{{certiNo}}&reinsCode=2%3d{{bill.reinsCode}}&KEY=N'>账单打印</a>
                
                </td>
            </tr>
        </table>
        <div>
            <a class="btn btn-default" ng-click="ok()">关闭</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>
</div>