<div collapse="hideList">

    <div ng-hide="searchTable.flag" class="search-toggle" ng-click="searchTable.flag = ! searchTable.flag">
	    <span class="glyphicon glyphicon-search"></span>
	</div>
    <div class="page-header">
        <h3 style="display:inline-block">临分业务</h3>
    </div>
        	
    <!-- 查询条件 -->
	<div collapse="!searchTable.flag" class="well">
	    <h4>查询临分业务</h4>
	    <form name="searchForm" novalidate>
            <!-- <select ng-model="options.bizType" ng-change="changeReset(keywords)" style="border:none">
                <option  value="2">分保</option>
                <option  value="3">分赔</option>
	            <option  value="4">分批</option>
	        </select> -->
	        <div ng-if="options.bizType==='2' || options.bizType==='4'" class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<label class="col-xs-4">询价单号：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.enquiryNoFlag">
								<option value="=">=</option>
								<option value="*">*</option>
							</select>
							<input type="text" ng-model="keywords.enquiryNo">
						</div>
					</div>
					<div class="col-xs-4">
						<label class="col-xs-4">投保单号：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.proposalNoFlag">
								<option value="=">=</option>
								<option value="*">*</option>
							</select>
							<input type="text" ng-model="keywords.proposalNo">
						</div>
					</div>
					<div class="col-xs-4">
						<label class="col-xs-4">批单号：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.endorseNoFlag">
								<option value="=">=</option>
								<option value="*">*</option>
							</select>
							<input type="text" ng-model="keywords.endorseNo">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<label class="col-xs-4">保单号：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.policyNoFlag">
								<option value="=">=</option>
								<option value="*">*</option>
							</select>
							<input type="text" ng-model="keywords.policyNo">
						</div>
					</div>
					<div class="col-xs-4">
						<label class="col-xs-4">币别：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.currency"
									ng-options="c.id as c.id +'-'+ c.value for c in currencys">
								<option value=''>全部</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<label class="col-xs-4">确认标志：</label>
						<div class="col-xs-8">
							<select ng-model="keywords.verifyFlag">
								<option value="">全部</option>
								<option value="0">暂存</option>
								<option value="1">待确认</option>
								<option value="2">待通过</option>
								<option value="3">通过</option>
								<option value="4">确认不通过</option>
								<option value="9">注销</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-8">
						<label class="col-xs-2">出单机构：</label>
						<div class="col-xs-10">
							<select ng-model="keywords.makeCom" ng-options="c.id as c.value for c in makeComCode">
								<option value=''>全部</option>
							</select>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-12" align="right">
						<a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
						<a ng-click="searchTable.flag = !searchTable.flag" class="btn btn-default">取消</a>
						<a ng-click="searchFacPlyInfo_()" class="btn btn-primary"
						   ng-disabled="!searchForm.$valid">立即查询</a>
					</div>
				</div>
	        </div>
        	<!-- <div ng-if="options.bizType==='3'" class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-2">
	                        <label>立案号</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.registerNoFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.registerNo">
	                            <span></span>
	                        </div>
	                    </div>
	
	                    <div class="col-lg-2">
	                        <label>保单号</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.plyNoFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.plyNo">
	                            <span></span>
	                        </div>
	                    </div>
	
	                </div>
	                <div class="row">
	                    <div class="col-lg-2">
	                        <label>赔案号</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.claimNoFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.claimNo">
	                            <span></span>
	                        </div>
	                    </div>
	
	                    <div class="col-lg-2">
	                        <label>出险原因</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.damageReasonFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.damageReason">
	                            <span></span>
	                        </div>
	                    </div>
	
	                </div>
	                <div class="row">
	                    <div class="col-lg-2">
	                        <label>业务年度</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.bizYearFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.bizYear">
	                            <span></span>
	                        </div>
	                    </div>
	
	                    <div class="col-lg-2">
	                        <label>币别</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select  ng-model="keywords.facPrmCur" ng-options="c.id as c.value for c in currencys">
					            	<option value=''>全部</option>
           					    </select>
	                            <span></span>
	                        </div>
	                    </div>
	
	                </div>
	                <div class="row">
	                    <div class="col-lg-2">
	                        <label>起保起期</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <input type="text"
	                                   datepicker2
	                                   ng-model="keywords.startDate">至<input type="text"
	                                                                         datepicker2
	                                                                         ng-model="keywords.endDate">
	                            <span></span>
	                        </div>
	                    </div>
	
	                    <div class="col-lg-2">
	                        <label>出险起期</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <input type="text"
	                                   datepicker2
	                                   ng-model="keywords.damageStartDate">至<input type="text"
	                                                                               datepicker2
	                                                                               ng-model="keywords.damageEndDate">
	                            <span></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-lg-2">
	                        <label>被保险人</label>
	                    </div>
	
	                    <div class="col-lg-4">
	                        <div class="input-group">
	                            <select ng-model="keywords.insNameFlag">
	                                <option value="=">=</option>
	                                <option value="*">*</option>
	                            </select>
	                            <input type="text" ng-model="keywords.insName">
	                            <span></span>
	                        </div>
	                    </div>
	
	                </div>
	
					<div class="row">
						<div class="col-lg-12" align="right">
		                	<a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
		                    <a ng-click="searchTable.flag = !searchTable.flag" class="btn btn-default">取消</a>
		                    <a ng-click="searchFacPlyInfo_()" class="btn btn-primary" ng-disabled="!searchForm.$valid">立即查询</a>
		                </div>
	                </div>
	        </div> -->
        </form>
    </div> 

    <!--查询列表-->
    <div class="panel panel-default " ng-show="inquiry.length > 0">
	    <!-- 显示查询结果列表 -->
	    <div class="table-responsive">
        	<div ng-include="'/reins/page/templates/inquiry/inquiry.list.' + options.bizType + '.tpl.html'"></div>
    	</div>
   	</div>
   	
   	

	    <div class="clearfix panel-footer">
	        <span class="pull-right">共: {{pagination.totalItems}}份</span>
	    </div>
	<div class="clearfix pull-right" ng-show="inquiry.length > 0" style="margin-bottom:3%">
    <!-- 分页  -->
        <pagination total-items="pagination.totalItems"
                    page="pagination.pageIndex"
                    items-per-page="pagination.pageSize"
                    max-size="pagination.maxSize"
                    previous-text="{{pagination.previousText}}"
                    next-text="{{pagination.nextText}}"
                    first-text="{{pagination.firstText}}"
                    last-text="{{pagination.lastText}}"
                    class="pagination-small"
                    boundary-links="true"
                    on-select-page="onSelectPage(page)">
        </pagination>
    </div>

</div>
<div ui-view="operation"></div>