<div >

	<div ng-hide="searchTableFlag" class="search-toggle" ng-click="searchTableFlag = ! searchTableFlag">
	    <span class="glyphicon glyphicon-search"></span>
	</div>

	<!-- 查询条件 -->
	<div collapse="!(searchTableFlag)" novalidate class="well">
	    <h4>查询超赔待摊</h4>
	    <form name="searchForm" novalidate>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>立案号</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.claimNoType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="text" ng-model="keywords.claimNo">
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	                <label>风险单位号</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.riskUnitNoType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="number" ng-model="keywords.riskUnitNo">
	                    <span></span>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>出险原因</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.damageReasonType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="text"  ng-model="keywords.damageReason">
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	                <label>险种代码</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.productNodeCodeType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="text" ng-model="keywords.productNodeCode">
	                    <span></span>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>巨灾代码</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.cataTypeType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="number" ng-model="keywords.cataType">
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	                <label>巨灾名称</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <select ng-model="keywords.cataNameType">
	                        <option value="=">=</option>
	                        <option value="*">*</option>
	                    </select>
	                    <input type="text" ng-model="keywords.cataName">
	                    <span></span>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>出险日期</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="keywords.damageDateBeg"
	                           datepicker2
	                           ng-readonly="false"
	                           >
	                    <span></span>
	                    至<input type="text" ng-model="keywords.damageDateEnd"
	                            datepicker2
	                            ng-readonly="false"
	                            >
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	            </div>
	
	            <div class="col-lg-4">
	            </div>
	        </div>
	
	        <div class="row">
				<div class="col-lg-12">
					<div class="pull-right">
			            <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
		                <a ng-click="searchTableFlag = ! searchTableFlag" class="btn btn-default">取消</a>
		                <a ng-click="searchClaims()" class="btn btn-primary" ng-disabled="!searchForm.$valid">立即查询</a>
			        </div>
	            </div>
			</div>
	    </form>
    </div>
    
    <a ng-href="#/events"></a>
    <div class="page-header">
	    <div class="btn-group pull-right">
	        <!-- <a class="btn btn-default" ng-href="#/claims/prepaidInsurance" ng-disabled="!(selectCount > 0)" >险位分摊</a> -->
	        <a class="btn btn-default" ng-click="prepareRiskShare_pre(fxoPayLists)"  ng-disabled="!(selectCount > 0)" >险位分摊</a>
	        <a class="btn btn-default" ng-click="createEventPag_pre(fxoPayLists)" ng-disabled="!(selectCount > 0)">事故打包</a>
	        <a class="btn btn-default" ng-click="editFxoPay_pre(fxoPayLists)" ng-disabled="!(selectCount > 0) || (selectCount>1)">修改待摊金额</a>
	        <a class="btn btn-danger" ng-click="deleteFxoPay(fxoPayLists)" ng-disabled="!(selectCount > 0)">删除待摊</a>
	    </div>
	    <h3>超赔待摊</h3>
    </div>
    
    <div class="panel panel-default " ng-show="fxoPayLists.length > 0">
	    <!-- 显示查询结果列表 -->
	    <div class="table-responsive" style="overflow:scroll;">
	        <table class="table table-striped table-hover">
	        	<thead>
	                <th nowrap>
	                    <input type="checkbox" ng-model="checkAll"  ng-click="toggleAllCheck()">全选
	                </th>
	                <th nowrap>业务号</th>
	                <th nowrap>立案号</th>
	                <th nowrap>保单号</th>
	                <th nowrap>风险单位号</th>
	                <th nowrap>赔款类型</th>
               	    <th nowrap>赔案次数</th>
	                <th nowrap>被保险人</th>
	                <th nowrap>巨灾代码及名称</th>
	                <th nowrap>出险日期</th>
	                <th nowrap>赔付币别</th>
	                <th nowrap>我司净已决</th>
	                <th nowrap>自留比例</th>
	                <th nowrap>事故包</th>
	            </thead>
	            <tbody>
	            <tr  ng-repeat="claim in fxoPayLists">
	                <td><input type="checkbox" ng-model="claim.checked" ng-click="setEventPagFlag()"> {{getIndex($index, pagination)}}</td>
	                <td>{{claim.certiNo}}</td>
	                <td>{{claim.claimNo}}</td>
	                <td>{{claim.policyNo}}</td>
	                <td>{{claim.riskUnitNo}}</td>
	                <td>{{claim.clmType | code : 'clmassTypes'}}</td>
                	<td>{{claim.claimTimes}}</td>
	                <td>{{claim.insuredName}}</td>
	                <td>{{claim.cataCode}}-{{claim.cataName}}</td>
	                <td>{{claim.damageDate.time | date: 'yyyy-MM-dd'}}</td>
	                <td>{{claim.currency}}</td>
	                <td>{{claim.retPaid | currency }}</td>
	                <td>{{claim.retRate}}</td>
	                <td>{{claim.eventCode}}</td>
	            </tr>
	            </tbody>
	        </table>
        </div>
    
       <div class="clearfix panel-footer">
         <span class="pull-right">共： {{pagination.totalItems}}份</span>
       </div>
      
       <div class="clearfix pull-right" ng-show="fxoPayLists.length > 0">
         <!-- 分页  -->
            <pagination total-items="pagination.totalItems"
                        page="pagination.pageIndex"
                        items-per-page="pagination.pageSize"
                        max-size="pagination.maxSize"
                        previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}"
                        first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}"
                        class="pagination-small"
                        boundary-links="true"
                        on-select-page="onSelectPage(page)">
            </pagination>
       </div>
    </div>
</div>
<div ui-view="operation"></div>