<div ng-controller="AccountingFromQueryListCtrl">
    <!--<div ng-hide="searchTableFlag" class="search-toggle" ng-click="searchTableFlag = ! searchTableFlag">-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
    <!--</div>-->
    <div class="well">
        <form name="fcoRepayForm">
            <table  class="table">
                <input type="hidden" name="operateType" value="Gen">
                <tr>
                    <td class=title>分赔案号：</td>
                    <td class=input>
                        <select ng-model="keywords.recertifyNoTag" class="tag">
                            <option value="=">=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text"  ng-model="keywords.recertifyNo" class="condition" maxlength="40"></td>
                    <td class=title>保单号:</td>
                    <td class=input>
                        <select ng-model="keywords.policyNoTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text"  ng-model="keywords.policyNo" class="condition" maxlength="44" ></td>
                </tr>
                <tr>
                    <td class=title>危险单位号：</td>
                    <td class=input>
                        <select ng-model="keywords.dangerNoTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text"  ng-model="keywords.dangerNo" class="condition" maxlength="5"></td>
                    <td class=title>立案号：</td>
                    <td class=input>
                        <select ng-model="keywords.payNoTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text"  ng-model="keywords.payNo" class="condition" maxlength="44"></td>
                </tr>

                <tr>
                    <td class=title>出险原因:</td>
                    <td class=input>
                        <select ng-model="keywords.damageCodeTag" class="tag">
                            <option value="=" >=</option>
                        </select>
                        <select class="condition" ng-model="keywords.damageCode" ng-options="c.id as c.value for c in damageCode"></select>

                    </td>
                    <td class=title>理算书号：</td>
                    <td class=input>
                        <select ng-model="keywords.compensateNoTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text" ng-model="keywords.compensateNo"></td>
                </tr>
                <tr>
                    <td class=title>险类:</td>
                    <td class=input>
                        <select ng-model="keywords.classCodeTag" class="tag">
                            <option value="=" >=</option>
                        </select>
                        <select class="condition" ng-model="keywords.classCode" ng-options="c.id as c.value for c in classCode"></select>

                    <td class=title>出单公司：</td>
                    <td class=input>
                        <select ng-model="keywords.comCodeTag" class="tag">
                            <option value="=" >=</option>
                        </select>
                        <select class="condition" ng-model="keywords.comCode" ng-options="c.id as c.value for c in comCode"></select>
                </tr>
                <tr>
                    <td class=title>业务年度:</td>
                    <td class=input>
                        <select ng-model="keywords.uwYearTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text"  ng-model="keywords.uwYear" class="condition" maxlength="22"></td>
                    <td class=title>出险日期：</td>
                    <td class=input>
                        <select ng-model="keywords.damageDateTag" class="tag" ng-change="changeTerm1(keywords.damageDateTag)">
                            <option value=":">:</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                            <option value=">=">>=</option>
                            <option value="<="><=</option>
                        </select>
                        <input type="text" ng-model="keywords.damageDate" class="date" maxlength="4"> <span ng-if="showTwoInput1">-</span> <input type="text" ng-if="showTwoInput1" ng-model="keywords.damageDate2" class="date" maxlength="4">
                </tr>
                <tr>
                    <td class=title>起保日期:</td>
                    <td class=input>
                        <select ng-model="keywords.startDateTag" class="tag" ng-change="changeTerm(keywords.startDateTag)">
                            <option value=":">:</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                            <option value=">=">>=</option>
                            <option value="<="><=</option>
                        </select>
                        <input type="text" ng-model="keywords.startDate" class="date" maxlength="4"> <span ng-if="showTwoInput">-</span> <input type="text" ng-if="showTwoInput" ng-model="keywords.startDate2" class="date" maxlength="4">
                    <td class=title>险种：</td>
                    <td class=input>
                        <select ng-model="keywords.riskCodeTag" class="tag">
                            <option value="=" >=</option>
                        </select>
                        <select class="condition" ng-model="keywords.riskCode" ng-options="c.id as c.value for c in riskCode"></select>
                </tr>
                <tr>
                    <td class=title>分保单号:</td>
                    <td class=input>
                        <select ng-model="keywords.repolicyNoTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text" ng-model="keywords.repolicyNo" class="condition" maxlength="10"></td>
                    <td class=title>币种：</td>
                    <td class=input>
                        <select ng-model="keywords.currencyTag" class="tag">
                            <option value="=" >=</option>
                        </select>
                        <select class="condition" ng-model="keywords.currency" ng-options="c.id as c.value for c in currency"></select>
                </tr>

                <tr>
                    <td class=title>分保方式：</td>
                    <td class=common1>
                        <input type="checkbox" ng-model="keywords.reinsType" value="0">全部
                        <input type="checkbox" ng-model="keywords.reinsType" value="1">临分
                        <input type="checkbox" ng-model="keywords.reinsType" value="2">混合</td>
                    <td class=title>被保险人：</td>
                    <td class=input>
                        <select ng-model="keywords.insuredNameTag" class="tag">
                            <option value="=" >=</option>
                            <option value="*">*</option>
                        </select>
                        <input type="text" ng-model="keywords.insuredName" class="condition" maxlength="100">
                    </td>
                </tr>
                <tr>
                    <td class=title>帐单生成状态：</td>
                    <td class=common1>
                        <input type="radio" ng-model="keywords.accType" value="0">全部
                        <input type="radio" ng-model="keywords.accType" value="1">已生成帐单
                        <input type="radio" ng-model="keywords.accType" value="2">未生成帐单
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                        <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
                        <!--<a ng-click="closeSearchTableFlag()" class="btn btn-default">取消</a>-->
                        <a ng-click="searchPlyInfoList('E',pagination)" class="btn btn-primary">立即查询</a>

                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>