<div ng-controller="AccountingFromQueryListCtrl">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>序号</td>
                <th>{{prompt.floRepay.RepayNo}}</td>
                <th>{{prompt.floRepay.PolicyNo}}</td>
                <th>赔案号</td>
                <th>理算书号</td>
                <th>{{prompt.floRepay.DamageDate}}</td>
                <th>转收付时间</td>
                <th>{{prompt.floRepay.DamageReason}}</td>
                <th>{{prompt.floRepay.ComCode}}</td>
                <th>{{prompt.floRepay.InsuredName}}/船名</td>
                <th>临分确认人</td>
                <th>{{prompt.floRepay.Currency}}</td>
                <th>已决赔款</td>
                <th>{{prompt.floRepay.OutStanding}}</td>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <h5>临分对内账单</h5>
        <table>
            <thead>
            <th>账单类型</th>
            <th>账单状态</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <h5>临分对外账单</h5>
        <table>
            <thead>
            <th>账单类型</th>
            <th>账单状态</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
