<div>
	 <div class="modal-header">
        <h3>分赔案详情</h3>
    </div>
    <div class="modal-body">
    	 <div>
    	 	<tabset>
    	 		 <tab heading="分赔案主信息">
    	 		 	<form name="searchForm">
	    	 		 	<div class="row">
				            <div class="col-lg-2">
	                  			<label>分保赔案号</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.floRepay.repayNo}}
			                        <span></span>
			                    </div>
			                </div>
			                
			                <div class="col-lg-2">
			                    <label>立案号</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.floRepay.payNo}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
						<div class="row">
							<div class="col-lg-2">
								<label>赔案号</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.claimNo}}
									<span></span>
								</div>
							</div>

							<div class="col-lg-2">
								<label>保单号</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.policyNo}}
									<span></span>
								</div>
							</div>
						</div>

				        <div class="row">
							<div class="col-lg-2">
								<label>分保单号</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.rePolicyNo}}
									<span></span>
								</div>
							</div>
			                
			                <div class="col-lg-2">
			                    <label>出险日期</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.floRepay.damageDate | date : 'yyyy-MM-dd'}}
			                        <span></span>
			                    </div>
			                </div>
				        </div>
						<div class="row">
							<div class="col-lg-2">
								<label>险类</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.classCode}}-{{plyRiskUnit.floRepay.className}}
									<span></span>
								</div>
							</div>

							<div class="col-lg-2">
								<label>险种</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.riskCode}}-{{plyRiskUnit.floRepay.className}}
									<span></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<label>起保日期</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.startDate | date :'yyyy-MM-dd'}}
									<span></span>
								</div>
							</div>

							<div class="col-lg-2">
								<label>终止日期</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.endDate | date :'yyyy-MM-dd'}}
									<span></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<label>被保险人</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.insuredName}}
									<span></span>
								</div>
							</div>
							<div class="col-lg-2">
								<label>统计日期</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.reportDate | date :'yyyy-MM-dd'}}
									<span></span>
								</div>
							</div>
						</div>

				        <div class="row">
							<div class="col-lg-2">
								<label>出单公司</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.comCode}}-{{plyRiskUnit.floRepay.comName}}
									<span></span>
								</div>
							</div>
				            <div class="col-lg-2">
	                  				<label>出险原因</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.floRepay.damageReason}}
			                        <span></span>
			                    </div>
			                </div>

				        </div>
				        <div class="row">
							<div class="col-lg-2">
								<label>业务年度</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.uwYear}}
									<span></span>
								</div>
							</div>
							<div class="col-lg-2">
								<label>结案否标志</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<div ng-if="plyRiskUnit.floRepay.endCaseFlag=='0'">
										<input name="" type="checkbox" ng-model="plyRiskUnit.floRepay.endCaseFlag"/>
									</div>
									<div ng-if="plyRiskUnit.floRepay.endCaseFlag=='1'">
										<input name="" type="checkbox" ng-checked="true" ng-model="plyRiskUnit.floRepay.endCaseFlag"/>
									</div>
								</div>
							</div>

				        </div>


				        <div class="row">
							<div class="col-lg-2">
								<label>币别</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.currency}}
									<span></span>
								</div>
							</div>
							<div class="col-lg-2">
	                  				<label>总保额</label>
			                </div>
			                <div class="col-lg-4">
			                    <div class="input-group"> {{plyRiskUnit.floRepay.amount}}
			                        <span></span>
			                    </div>
			                </div>

				        </div>
						<div class="row">
							<div class="col-lg-2">
								<label>费用合计</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.sumFee}}
									<span></span>
								</div>
							</div>
							<div class="col-lg-2">
								<label>物质损失赔款金额</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.sumPay}}
									<span></span>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-2">
								<label>未决金额</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.outStanding}}
									<span></span>
								</div>
							</div>
							<div class="col-lg-2">
								<label>本次赔款合计</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.sumTotal}}
									<span></span>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-2">
								<label>说明</label>
							</div>
							<div class="col-lg-4">
								<div class="input-group"> {{plyRiskUnit.floRepay.remarks}}

								</div>
							</div>


						</div>
			        </form>
				</tab>
    	 		 
    	 		 
    	 		 
				<tab heading="赔款项目合计">
    	 		 	<div style="overflow: auto;height: auto;">
						<table class="table table-bordered">
					        <thead >
					        	<tr>
						            <td nowrap>赔款类型</td>
						            <td nowrap>项目代码</td>
						            <td nowrap>标的名称</td>
						            <td nowrap>币别</td>
						            <td nowrap>赔款金额</td>
								</tr>
					        </thead>
					        <tbody>
				                <tr ng-repeat="floReItem in plyRiskUnit.floReItemDtoList
">
				                    <td>
					                    <div ng-if="(floReItem.payType === '0')">物质损失赔款</div>
	                					<div ng-if="(floReItem.payType === '1')">费用</div>
				                   		<div ng-if="(floReItem.payType === '2')">未决赔款</div>
				                    </td>
						            <td>
						          		<div ng-if="(floReItem.itemCode === '00')">物质损失赔款</div>
	                					<div ng-if="(floReItem.itemCode === '99')">未决</div>
						            	<div >费用</div>
						            </td>
						            <td> {{floReItem.itemName}} </td>
						            <td> {{floReItem.currency}} </td>
						            <td> {{floReItem.payValue}} </td>				                 </tr>
					        </tbody>
					    </table>
					</div>
    	 		 </tab>

    	 		 <tab heading="分摊明细（已决赔款）">
    	 		 	<div style="overflow: auto;height: auto;">
					    <table class="table table-bordered">
					    	<thead>
					    		<tr>
						        	<td nowrap>项目代码</td>
						        	<td nowrap>分保方式</td>
						            <td nowrap>分摊比例%</td>
						            <td nowrap>币种</td>
						            <td nowrap>分摊赔款</td>
						            <td nowrap>接收人类型</td>
						            <td nowrap>编码</td>
						            <td nowrap>分保接收人简称</td>
									<td nowrap>编码</td>
									<td nowrap>最终接收人简称</td>
						        </tr>
					    	</thead>
					        <tbody>
						        <tr ng-repeat="floSharePay in plyRiskUnit.floSharePayList">
						            <td>
						             	<div ng-if="(floSharePay.payType === '0')">物质损失赔款</div>
	                					<div ng-if="(floSharePay.payType === '1')">费用</div>
				                   		<div ng-if="(floSharePay.payType === '2')">未决赔款</div>
						            </td>
						            <td>{{floSharePay.reinsMode}}</td>
						            <td>{{floSharePay.shareRate}}</td>
						            <td>{{floSharePay.scurrency}}</td>
						            <td>{{floSharePay.payValue}}</td>
						            <td>
						            	<div ng-if="(floSharePay.reinsType === '0')">经纪人</div>
	                					<div ng-if="(floSharePay.reinsType === '1')">接受人</div>
						            </td>
						            <td>{{floSharePay.reinsCode}}</td>
						            <td>{{floSharePay.reinsName}}</td>
									<td>{{floSharePay.freinsCode}}</td>
									<td>{{floSharePay.freinsName}}</td>
						        </tr>
					        </tbody>
					    </table>
				    </div>
    	 		 </tab>

				<tab heading="分摊明细（未决赔款）">
					<div style="overflow: auto;height: auto;">
						<table class="table table-bordered">
							<thead>
							<tr>
								<td nowrap>项目代码</td>
								<td nowrap>分保方式</td>
								<td nowrap>分摊比例%</td>
								<td nowrap>币种</td>
								<td nowrap>分摊赔款</td>
								<td nowrap>接收人类型</td>
								<td nowrap>编码</td>
								<td nowrap>分保接收人简称</td>
								<td nowrap>编码</td>
								<td nowrap>最终接收人简称</td>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="floSharePay in plyRiskUnit.floShareOutList">
								<td>
									<div ng-if="(floSharePay.payType === '0')">物质损失赔款</div>
	                				<div ng-if="(floSharePay.payType === '1')">费用</div>
				                   	<div ng-if="(floSharePay.payType === '2')">未决赔款</div>
								</td>
								<td>{{floSharePay.reinsMode}}</td>
								<td>{{floSharePay.shareRate}}</td>
								<td>{{floSharePay.scurrency}}</td>
								<td>{{floSharePay.payValue}}</td>
								<td>
									<div ng-if="(floSharePay.reinsType === '0')">经纪人</div>
	                				<div ng-if="(floSharePay.reinsType === '1')">接受人</div>
	                			</td>
								<td>{{floSharePay.reinsCode}}</td>
								<td>{{floSharePay.reinsName}}</td>
								<td>{{floSharePay.freinsCode}}</td>
								<td>{{floSharePay.freinsName}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</tab>
    	 	</tabset>
    	 </div>
    	 <div>
            <button class="btn btn-default" ng-click="close()">关闭</button>
        </div>
    </div>
</div>

    