<div ng-controller="AccountingFromQueryListCtrl">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>序号</th>
                <th>{{prompt.fpoReendor.ReendorNo}}</th>
                <th>{{prompt.fpoReendor.PolicyNo}}</th>
                <th>批单号</th>
                <th>生效日期</th>
                <th>转收付时间</th>
                <th>{{prompt.fpoReendor.ComCode}}</th>
                <th>{{prompt.fpoReendor.InsuredNam}}</th>
                <th>临分确认人</th>
                <th>{{prompt.fpoReendor.Currency}}</th>
                <th>{{prompt.fpoReendor.AmountChg}}</th>
                <th>含税保费变化量</th>
                <th>{{prompt.fpoReendor.BaseRate}}</th>
                <th>{{prompt.fpoReendor.ShareRate}}</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <table class=sub>
            <tr class=common>
                <td><input type="button" class="middlebutton" value="生成帐单" onclick="genAcc('FB');return false;">
                    <input type="button" class="button" value="打印分保条" onclick="PrintParticularsButtonAction();return false;">
                    <input type="button" class="button" value="帐单删除" onclick="delAcc();return false;">
                    <input type="button" class="button" value="账单转收付" onclick="payment();return false;"></td>
                <td class="title2" width="25%" align="center">
                    <input type="button" class="button" value="帐单删除" onclick="delAcc();return false;">
                <td><input name="settleBtn" type="button" class="middlebutton" value="复核并转收付" onclick="settleReendor('F');return false;"></td>
            </tr>
        </table>

        <h5>临分对内账单</h5>
        <table>
            <thead>
            <th>账单类型</th>
            <th>账单状态</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <h5>临分对外账单</h5>
        <table>
            <thead>
            <th>账单类型</th>
            <th>账单状态</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

