<div ng-controller="AccountingFromQueryListCtrl">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>序号</th>
                <th>{{prompt.fcoRepolicy.RepolicyNo}}</th>
                <th>{{prompt.fcoRepolicy.PolicyNo}}</th>
                <th>出单公司</th>
                <th>{{prompt.fcoRepolicy.InsuredName}}</th>
                <th>临分确认人</th>
                <th>{{prompt.fcoRepolicy.StartDate}}</th>
                <th>转收付时间</th>
                <th>{{prompt.fcoRepolicy.Currency}}</th>
                <th>{{prompt.fcoRepolicy.Amount}}</th>
                <th>总含税保费</th>
                <th>{{prompt.fcoRepolicy.baseRate}}</th>
                <th>{{prompt.fcoRepolicy.ShareRate}}</th>
            </thead>
            <tbody>
            <tr ng-repeat="plyRisk in plyRiskUnitList">
                <td><input type="radio" value="true" ng-model="plyRisk.checkedBill" name="selectState" ng-change="QueryAcc(plyRisk.rePolicyNo)"/></td>
                <td>{{plyRisk.rePolicyNo}}</td>
                <td>{{plyRisk.policyNo}}</td>
                <td></td>
                <td>{{plyRisk.insuredName}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{plyRisk.currency}}</td>
                <td>{{plyRisk.amount}}</td>
                <td></td>
                <td>{{plyRisk.baseRate}}</td>
                <td>{{plyRisk.shareRate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix panel-footer">
            <span class="pull-right">共找到{{pagination.totalItems}}份合同</span>
        </div>

        <div class="clearfix pull-right" ng-show="contractList.length > 0">
            <!-- 分页  -->
            <pagination total-items="pagination.totalItems"
                        page="pagination.pageIndex"
                        items-per-page="pagination.pageSize"
                        max-size="pagination.maxSize"
                        previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}"
                        first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}"
                        class="pagination-small"
                        boundary-links="true"
                        on-select-page="onSelectPage(page)">
            </pagination>
        </div>
        <table class="table table-striped">
            <tr class=common>
                <button  class="btn btn-default" ng-click="genAcc('FB','P')">生成帐单</button>
                <!--<input type="button" class="button" value="打印分保条" onclick="PrintParticularsButtonAction();">-->
                <button  class="btn btn-default" ng-click="delAcc()">删除账单</button>
                <button  class="btn btn-default" ng-click="payment()">账单转收付</button>
            </tr>
        </table>

        <h5>临分对内账单</h5>
        <table class="table table-striped table-hover">
            <thead>
            <th>账单类型</th>
            <th>账单状态</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>接受人名称</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr ng-repeat="fzBAc in fzBAccList">
                <td></td>
                <td></td>
                <td>{{fzBAc.accNo}}</td>
                <td>{{fzBAc.comCode}}</td>
                <td>{{fzBAc.reinsCode}}</td>
                <td>{{fzBAc.reinsName}}</td>
                <td>{{fzBAc.recertifyNo}}</td>
                <td>{{fzBAc.currency}}</td>
                <td>{{fzBAc.balance}}</td>
            </tr>
            </tbody>
        </table>
        <h5>临分对外账单</h5>
        <table class="table table-striped table-hover">
            <thead>
            <th>账单类型</th>
            <th>账单编号</th>
            <th>出单公司</th>
            <th>接受人编码</th>
            <th>接受人名称</th>
            <th>分保业务单证号</th>
            <th>账单币种</th>
            <th>账单余额</th>
            </thead>
            <tbody>
            <tr ng-repeat="fzRAcc in fzRAccList">
                <td></td>
                <td>{{fzRAcc.accNo}}</td>
                <td>{{fzRAcc.comCode}}</td>
                <td>{{fzRAcc.reinsCode}}</td>
                <td>{{fzRAcc.reinsName}}</td>
                <td>{{fzRAcc.recertifyNo}}</td>
                <td>{{fzRAcc.currency}}</td>
                <td>{{fzRAcc.balance}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>