<div ng-controller="AccountingFromQueryListCtrl">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>序号</th>
                <th>{{prompt.fcoRepolicy.RepolicyNo}}</th>
                <th>{{prompt.fcoRepolicy.PolicyNo}}</th>
                <th>出单公司</th>
                <th>{{prompt.fcoRepolicy.InsuredName}}</th>
                <th>临分确认人</th>
                <th>{{prompt.fcoRepolicy.StartDate}}</th>
                <th>转收付时间</th>
                <th>{{prompt.fcoRepolicy.Currency}}</th>
                <th>{{prompt.fcoRepolicy.Amount}}</th>
                <th>总含税保费</th>
                <th>{{prompt.fcoRepolicy.BaseRate}}</th>
                <th>{{prompt.fcoRepolicy.ShareRate}}</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <tr class=common>
                <input type="button" class="button" value="生成帐单" onclick="genAcc('FB');return false;">
                <input type="button" class="button" value="打印分保条" onclick="PrintParticularsButtonAction();">
                <input type="button" class="button" value="删除账单" onclick="delAcc();return false;">
                <input type="button" class="button" value="账单转收付" onclick="payment();return false;">
            </tr>
        </table>
    </div>
</div>