<div ng-controller="AccountingFromQueryListCtrl" >
    <div ng-hide="searchTableFlag" class="search-toggle" ng-click="searchTableFlag = ! searchTableFlag">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div collapse="!searchTableFlag" class="well">
        <form name="fcoReendorForm" action="/reins/recertifyQuery.do?rows=10&opt=facOut" method="post">

        <table class="table">
            <tr>
                <td class=title>批单申请号：</td>
                <td class=input>
                    <select ng-model="keywords.endorNoTag" class="tag">
                        <option value="=" >=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.endorNo" class="condition" maxlength="50"></td>
                <td class=title>保单号：</td>
                <td class=input>
                    <select ng-model="keywords.policyNoTag" class="tag">
                        <option value="=" >=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.policyNo" class="condition" maxlength="44"></td>
            </tr>
            <tr>
                <td class=title>危险单位号：</td>
                <td class=input>
                    <select ng-model="keywords.dangerNoTag" class="tag">
                        <option value="=" >=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" name="dangerNo" class="condition" maxlength="5"></td>
                <td class=title>出单公司:</td>
                <td class=input>
                    <select ng-model="keywords.comCodeTag" class="tag">
                        <option value="=" >=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.comCode" class="condition" maxlength="4">
            </tr>

            <tr>
                <td class=title>批改方式:</td>
                <td class=input>
                    <select ng-model="keywords.endorTypeTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.endorType" class="condition" maxlength="100">
                </td>
                <td class=title>生效日期：</td>
                <td class=input>
                    <select ng-model="keywords.endorDateTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.endorDate" class="condition" maxlength="22"></td>
            </tr>
            <tr>
                <td class=title>险类:</td>
                <td class=input>
                    <select ng-model="keywords.classCodeTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.classCodeclassName" class="condition" maxlength="100">
                </td>
                <td class=title>险种：</td>
                <td class=input>
                    <select ng-model="keywords.riskCodeTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.riskCoderiskName" class="condition" maxlength="22"></td>
            </tr>
            <tr>
                <td class=title>业务年度:</td>
                <td class=input>
                    <select ng-model="keywords.uwYearTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.uwYear" class="condition" maxlength="100">
                </td>
                <td class=title>币种：</td>
                <td class=input>
                    <select ng-model="keywords.currencyTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.currency" class="condition" maxlength="22"></td>
            </tr>
            <tr>
                <td class=title>起保日期:</td>
                <td class=input>
                    <select ng-model="keywords.startDateTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.startDate" class="condition" maxlength="100">
                </td>
                <td class=title>被保险人：</td>
                <td class=input>
                    <select ng-model="keywords.insuredNameTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.insuredName" class="condition" maxlength="22"></td>
            </tr>
            <tr>
                <td class=title>分批单号：</td>
                <td class=input>
                    <select ng-model="keywords.recertifyNoTag" class="tag">
                        <option value="=">=</option>
                        <option value="*">*</option>
                    </select>
                    <input type="text" ng-model="keywords.recertifyNo" class="condition" maxlength="22">
                </td>
                <td class=title>分保方式：</td>
                <td>
                    <input type="checkbox" ng-model="keywords.reinsType" value="1" checked="checked">临分
                    <input type="checkbox" ng-model="keywords.reinsType" value="2" checked="checked">混合
                </td>
            </tr>
            <tr>
                <td class=title>帐单生成状态：</td>
                <td class=common1 colspan="3">
                    <input type="radio" ng-model="keywords.accType" value="0" checked="checked">全部
                    <input type="radio" ng-model="keywords.accType" value="1">已生成帐单
                    <input type="radio" ng-model="keywords.accType" value="2">未生成帐单
                </td>
            </tr>
            <tr>
                <td colspan="6" align="right">
                    <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
                    <a ng-click="searchTableFlag = ! searchTableFlag" class="btn btn-default">取消</a>
                    <a ng-click="searchPlyInfoList('C')" class="btn btn-primary">立即查询</a>

                </td>
            </tr>
        </table>
    </form>
    </div>
</div>