<div collapse="hideList">
    <div class="well">
        <form name="searchForm" novalidate>
            <select ng-model="options.bizType" ng-change="changeReset(keywords,options.bizType)">
                <option value="P">分保单账单生成</option>
                <option value="E">分批单账单生成</option>
                <option value="C">分赔案账单生成</option>
            </select>

            <div ng-if="options.bizType==='P'" class="container-fluid">

                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.html'" ></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.jsp'"></div>-->
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.list.html'"></div>
            </div>
            <div ng-if="options.bizType==='E'" class="container-fluid">
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.html'"></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.list.html'"></div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.jsp?operateType=Gen'"></div>-->
            </div>
            <div ng-if="options.bizType==='C'" class="container-fluid">
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.html'"></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.list.html'"></div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.jsp'"></div>-->
            </div>

            <h5>临分对内账单{{fzBAccList123}}</h5>
            <table class="table table-striped table-hover">
                <thead>
                <th>账单类型</th>
                <th>账单状态</th>
                <th>账单编号</th>
                <th>出单公司</th>
                <th>接受人编码</th>
                <th>接受人名称</th>
                <th>分保业务单证号</th>
                <th>账单币种</th>
                <th>账单余额</th>
                </thead>
                <tbody>
                <tr ng-repeat="fzBAc in fzBAccList123">
                    <td></td>
                    <td></td>
                    <td>{{fzBAc.accNo}}</td>
                    <td>{{fzBAc.comCode}}</td>
                    <td>{{fzBAc.reinsCode}}</td>
                    <td>{{fzBAc.reinsName}}</td>
                    <td>{{fzBAc.recertifyNo}}</td>
                    <td>{{fzBAc.currency}}</td>
                    <td>{{fzBAc.balance}}</td>
                </tr>
                </tbody>
            </table>
            <h5>临分对外账单</h5>
            <table class="table table-striped table-hover">
                <thead>
                <th>账单类型</th>
                <th>账单编号</th>
                <th>出单公司</th>
                <th>接受人编码</th>
                <th>接受人名称</th>
                <th>分保业务单证号</th>
                <th>账单币种</th>
                <th>账单余额</th>
                </thead>
                <tbody>
                <tr ng-repeat="fzRAcc in fzRAccList123">
                    <td></td>
                    <td>{{fzRAcc.accNo}}</td>
                    <td>{{fzRAcc.comCode}}</td>
                    <td>{{fzRAcc.reinsCode}}</td>
                    <td>{{fzRAcc.reinsName}}</td>
                    <td>{{fzRAcc.recertifyNo}}</td>
                    <td>{{fzRAcc.currency}}</td>
                    <td>{{fzRAcc.balance}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>


</div>
<div ui-view="operation"></div>