<div collapse="hideList">
    <div class="well">
        <form name="searchForm" novalidate>
            <select ng-model="options.bizType" ng-change="changeReset(keywords,options.bizType)">
                <option value="P">分保单账单生成</option>
                <option value="E">分批单账单生成</option>
                <option value="C">分赔案账单生成</option>
            </select>

            <div ng-if="options.bizType==='P'" class="container-fluid">

                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.html'" ></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.jsp'"></div>-->
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepolicyQuery.list.html'"></div>
            </div>
            <div ng-if="options.bizType==='E'" class="container-fluid">
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.html'"></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.list.html'"></div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacReendorQuery.jsp?operateType=Gen'"></div>-->
            </div>
            <div ng-if="options.bizType==='C'" class="container-fluid">
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.html'"></div>
                <div class="page-header">
                    <h2 style="display:inline-block">查询临分账务</h2>
                </div>
                <div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.list.html'"></div>
                <!--<div ng-include="'/reins/page/templates/linfenAccounting/AccFacRepayQuery.jsp'"></div>-->
            </div>
        </form>
    </div>


</div>
<div ui-view="operation"></div>