<html xmlns:DINO>
<head>
<title>Expoware Soft Console</title>

<style>
   @media all
    {
	    DINO\:msdntab  {behavior:url(msdntab.htc);}
	    DINO\:msdnline {behavior:url(msdnline.htc);}
    }
</style>
</head>

<script language="JavaScript">

function ViewPage(htmlPage) {

}
</script>


<body background="blegtext.gif">

<IMG src="expo2.gif">


<DINO:msdnline />


<DINO:msdntab label="Invoices" 
      href="javascript:Hello()">
Click here for a quick view of both invoices already sent and those to be prepared yet. 
</DINO:msdntab>

<br>

<DINO:msdntab label="Details" 
      href="javascript:Hello()">
Click here to see all the details about sent invoices. You can also get a preview or a printout.
</DINO:msdntab>

</body>
</html>
