<div>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav navbar-nav navbar">
               
                <li ng-repeat = "menu in menus.admin">
                    <a ng-if="(menu.url === '#/admin/contracts/prop/admin' || 
				    			menu.url === '#/admin/contracts/nprop/admin' || 
				    			menu.url === '#/admin/relationships' || 
				    			menu.url === '#/admin/reinsurers' || 
				    			menu.url === '#/admin/retentions')" 
	    				ng-href="{{menu.url}}">{{menu.label}}</a>
    				<a ng-if="!(menu.url === '#/admin/contracts/prop/admin' || 
				    			menu.url === '#/admin/contracts/nprop/admin' || 
				    			menu.url === '#/admin/relationships' || 
				    			menu.url === '#/admin/reinsurers' || 
				    			menu.url === '#/admin/retentions')" 
		    			ng-click="openNewWindow(menu.url)">{{menu.label}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="admin"></div>
</div>