<div class="table-responsive">
	        <table class="table table-striped table-hover">
	        	<thead>
		        <tr>
		            <th><input type="checkbox"  ng-model="checkAll" ng-click="checkAllRetentions()">全选</th>
		            <th>险种代码</th>
		            <th>占用性质/建筑</th>
		            <th>风险等级</th>
		            <th>生效时间</th>
		            <th>失效时间</th>
		            <th>币种</th>
		            <th>自留额</th>
		            <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="retention in retentionList" class="hover-visible-wrapper">
		            <td><input type="checkbox" ng-model="retention.checked">{{getIndex($index)}}</td>
		            <td>{{retention.id.riskCode}}</td>
		            <td>{{retention.id.riskClass}}</td>
		            <td>{{retention.id.riskLevel}}</td>
		            <td>{{retention.id.effcTm.time  | date : config.display.dateFormat}}</td>
		            <td>{{retention.expdTm.time  | date : config.display.dateFormat}}</td>
		            <td>{{retention.currency}} </td>
		            <td>{{retention.retentionValue}} </td>
		            <td>
		            	<div class="btn-group btn-group-sm hover-visible">
			                <a class="btn btn-default" ng-click="getDetail(retention)">详细</a>
			                <a class="btn btn-default" ng-show="false" ng-href="#/admin/retentions/{{retention.id}}/edit">编辑</a>
		                </div>
		            </td>
		        </tr>
		        </tbody>
		    </table>
	    </div>