<div ng-controller="BillCreateCtrl">
    <!--比例-浮动手续费-->
    <div ng-hide="options.ready"
         style="padding:50px;text-align: center">
        <div ng-if="!(pagination.totalItems >0)" ng-show="!(contract.stateFlag === '6' || contract.contStatus === '6')">
            <div ng-if="contract != 'batch'" style="color:darkgray;padding:60px;">此账单期还没有账单</div>
            <a ng-if="(contract.contAttr==='nprop')" class="btn btn-primary btn-lg" ng-click="showForm('1')">生成账单</a>
            <a ng-if="(contract.contAttr==='prop' && (keywords.billType ==='06' || keywords.billType ==='01') && mode==='1')"  class="btn btn-primary btn-lg"
              ng-click="createPropBill()">生成账单</a> <!--   && mode==='2'-->
            <a ng-if="(contract.contAttr==='prop' && (keywords.billType ==='02' || keywords.billType ==='04' || keywords.billType ==='03') && mode==='1')"  class="btn btn-primary btn-lg"
              ng-click="createPropAccord()">生成账单</a> 
            <a ng-if="(contract.contAttr==='prop' && mode==='2' )"  class="btn btn-primary btn-lg"
             ng-click="createPropAccord()">生成账单</a>
              <a ng-if="(contract.contAttr==='prop' && mode==='1' && keywords.billType ==='07')"  class="btn btn-primary btn-lg"
             ng-click="createPropAccord()">生成账单</a>
             <a ng-if="mode==='1' && contract === 'batch'"  class="btn btn-primary btn-lg"
             ng-click="createPropBill()">生成账单</a>
             <a target="_blank" class="btn btn-primary btn-lg" ng-if="mode==='1' && contract === 'batch' && keywords.billType ==='01'" ng-click="genBathPropAccord()">季度账单打印</a>
             <!--  
             <a target="_blank" class="btn btn-primary btn-lg" ng-if="mode==='1' && contract === 'batch' && keywords.billType ==='01'" ng-click="genBathPropAccord()"
	       	 ng-href='http://{{config.backend.printIp}}/WDDE/viewpolicy.jsp?zhumobanname=sx-rei-jdzd&paras=1%3d{{keywords.billDate}}&KEY=N'>季度账单打印</a>	
	       	 -->
        </div>
        <div ng-if="!(pagination.totalItems >0)" ng-show="(contract.stateFlag === '6' || contract.contStatus === '6')">
            <div style="color:darkgray;padding:60px;">此账单期还没有账单</div>
            <div style="color:blue;padding:60px;">已关闭的合同账单不能生成账单</div>
        </div>
    </div>
    <div ng-show="options.ready">
        <!--比例-浮动手续费账单-->
        <div ng-if="contract.contAttr==='prop' && keywords.billType==='06'"
             ng-include="'/reins/page/templates/bill/contract.bill.floating.tpl.html'">
        </div>
        <!--非比例-预付费对内-->
        <div ng-if="contract.contAttr==='nprop' && keywords.billType==='08'"
             ng-include="'/reins/page/templates/bill/contract.bill.preponaccount.tpl.html'">
        </div>
        <!--非比例-调整账单-->
        <div ng-if="contract.contAttr==='nprop' && keywords.billType==='09'"
             ng-include="'/reins/page/templates/bill/contract.bill.adjustList.tpl.html'">
        </div>
        <!--非比例-赔付率-->
        <div ng-if="contract.contAttr==='nprop' && keywords.billType==='10'"
             ng-include="'/reins/page/templates/bill/contract.bill.stoplossreco.tpl.html'">
        </div>
        <!--比例-合同分入-账单-季度账单-->
        <div ng-if="contract.contAttr==='prop' && keywords.billType==='01' && mode==='2'" 
             ng-include="'/reins/page/templates/bill/contract.bill.quarter.tpl.html'">
        </div>
        <!--比例-合同分入-账单-现金赔款账单-->
        <div ng-if="contract.contAttr==='prop' && keywords.billType==='02' && mode==='2'"
             ng-include="'/reins/page/templates/bill/contract.bill.quarter.tpl.html'">
        </div>
        <!--比例-合同分入-账单-纯益手续费-->
        <div ng-if="contract.contAttr==='prop' && keywords.billType==='04' && mode==='2'"
             ng-include="'/reins/page/templates/bill/contract.bill.quarter.tpl.html'">
        </div>
        
        
        <!--比例-合同分出-账单-浮动、纯益、现金赔款账单--yanliming 2015/05/21-->
        <div ng-if="contract.contAttr==='prop' && (keywords.billType==='03' || keywords.billType==='04' || keywords.billType==='02') && mode==='1'"
             ng-include="'/reins/page/templates/bill/contract.bill.quarter.tpl.html'">
        </div>
         
        <!--(contract.contAttr==='prop' && keywords.billType==='01') ||
        (contract.contAttr==='prop' && keywords.billType==='04') ||-->
     
       <!--  <div ng-if="(contract.contAttr==='prop' && keywords.billType ==='06') ||
        (contract.contAttr==='prop' && keywords.billType==='02')"
             style="padding:50px;text-align: center">
            <div class="row">
                <div class="col-lg-2">
                    <a ng-click="createBill()" class="btn btn-primary">生成账单</a>
                </div>
                <div class="col-lg-2">
                    <a ng-click="resetSearchBox()" class="btn btn-default">取消</a>
                </div>
            </div>
        </div> -->
    </div>

</div>