<div>
	<button align="right" class="btn  btn-default" ng-click="pageJumpclose()">返回</button>
    <div class="modal-header">
    	<h3>合同账单查看</h3>
<!--        <h3>合同账单{{contract.treatyNo}}</h3>-->
    </div>
    
    <div class="modal-body">
    	<form name="frmSearchContract" novalidate>
			<div class="row">
	            <div class="col-lg-2">
	                <label>合同年度</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="billListsub.contYear" style="border:none;" ng-readonly="true">
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	                <label>账单年月</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                	{{billListsub.startDate}}-{{billListsub.endDate}}
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>合同编号</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="billListsub.contNo" style="border:none;" ng-readonly="true">
	                    <span></span>
	                </div>
	            </div>
	
	            <div class="col-lg-2">
	                <label>币别</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="billListsub.currency" style="border:none;" ng-readonly="true">
	                    <span></span>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2">
	                <label>接受公司</label>
	            </div>
	
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="billListsub.reinsName" style="border:none;" ng-readonly="true">
	                    <span></span>
	                </div>
	            </div>
	
				 <div class="col-lg-2">
	                <label>账单类型</label>
	            </div>
	               
		
	            <div class="col-lg-4">
	                <div class="input-group">
	                    <input type="text" ng-model="billListsub.billTyp" style="border:none;" ng-readonly="true">
	                    <span></span>
	                </div>
	            </div>
	        </div>
	    </form>
    
    	<table class="table table-borderd">
             <thead>
	             <th>费用类型</th>
	             <th>借方</th>
	             <th>贷方</th>
             </thead>
             <tr >
                 <td>保费</td>
                 <td>{{bfJ}}</td>
                 <td>{{bfD}}</td>
             </tr>
             <tr >
                 <td>手续费</td>
                 <td>{{sxfJ}}</td>
                 <td>{{sxfD}}</td>
             </tr>
             <tr >
                 <td>赔款</td>
                 <td>{{pkJ}}</td>
                 <td>{{pkD}}</td>
             </tr>
             <tr >
                 <td>退现金赔款</td>
                 <td>{{txjpkJ}}</td>
                 <td>{{txjpkD}}</td>
             </tr>
             <tr >
                 <td>提取保费准备金</td>
                 <td>{{tqbfzbjJ}}</td>
                 <td>{{tqbfzbjD}}</td>
             </tr>
             <tr >
                 <td>返还保费储备金</td>
                 <td>{{fhbfcbjJ}}</td>
                 <td>{{fhbfcbjD}}</td>
             </tr>
             <tr >
                 <td>利息</td>
                 <td>{{lxJ}}</td>
                 <td>{{lxD}}</td>
             </tr>
             <tr >
                 <td>税金</td>
                 <td>{{sjJ}}</td>
                 <td>{{sjD}}</td>
             </tr>
             <tr >
                 <td>经纪费</td>
                 <td>{{jjfJ}}</td>
                 <td>{{jjfD}}</td>
             </tr>
             <tr >
                 <td>余额</td>
                 <td>{{yeJ}}</td>
                 <td>{{yeD}}</td>
             </tr>
             <tr >
                 <td>总计</td>
                 <td>{{countJ | currency}}</td>
                 <td>{{countD | currency}}</td>
             </tr>
             <tr >
                 <td>未决赔款</td>
                 <td>{{wjpkJ}}</td>
                 <td>{{wjpkD}}</td>
             </tr>
         </table>
    </div>
</div>