<!-- 浮动手续费对内账单生成-->
<div ng-if="keywords.optType==='in'">
    <div class="row">
        <div class="col-lg-3">
            <label>截止对内账单期</label>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <select   >
                    <option value="=" selected="true">=</option>
                    <option value="*">*</option>
                </select>
            </div>
        </div>

        <div class="col-lg-3">
            <label>截止日期</label>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label>调整月度</label>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                合同生效后<input type="text" >个月
            </div>
        </div>

        <div class="col-lg-3">
            <label>账单期别</label>
        </div>
        <div class="col-lg-3">
            第<input type="text" >期
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a ng-click="searchContract()" class="btn btn-default">生成账单</a>
        </div>
        <div class="col-lg-3">
            <a ng-click="resetSearchBox()" class="btn btn-default">取消</a>
        </div>
    </div>
</div>

<div ng-if="keywords.optType==='out'">

    <div class="row">
        <div class="col-lg-3">
            <a ng-click="searchContract()" class="btn btn-default">生成账单</a>
        </div>
        <div class="col-lg-3">
            <a ng-click="resetSearchBox()" class="btn btn-default">取消</a>
        </div>
    </div>
</div>