<div >



    <div class="container-fluid">

        <!--对内公司信息导入<input type="file" value="浏览...">-->

        <form ng-if="!viewFlag" ng-upload-form action="/reins/xolContBill/saveFhxComShareList.do" method="POST" enctype="multipart/form-data"

              data-file-upload="options" on-file-upload-done="onFileUploadDone(data)" on-file-upload-fail="onFileUploadFail()"

              ng-class="{'fileupload-processing': processing() || loadingFiles}">

            <input type="hidden" name="accPeriod" ng-model="keywords.billDate" ng-value="keywords.billDate"/>

            <input type="hidden" name="treatyNo" ng-model="contract.tmpTreatyNo" ng-value="contract.tmpTreatyNo"/>

            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

            <div class="row fileupload-buttonbar">

                <div class="col-lg-7">

                    <!-- The fileinput-button span is used to style the file input field as button -->

		                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">

		                    <i class="glyphicon glyphicon-plus"></i>

		                    <span>选择数据文件</span>

		                    <input type="file" name="file" ng-disabled="disabled">

		                </span>

                </div>

            </div>

            <!-- The table listing the files available for upload/download -->

            <table class="table table-striped files ng-cloak">

                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">

                    <td>{{file.name}} ({{file.size | formatFileSize}})</td>

                    <td>

                        <strong data-ng-show="file.error" class="error text-danger">上传失败!</strong>

                    </td>

                    <td>

                        <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>

                    </td>

                    <td>

                        <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">

                            <i class="glyphicon glyphicon-upload"></i>

                            <span>上传</span>

                        </button>

                        <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$clear()" data-ng-hide="file.$state() == 'pending'">

                            <i class="glyphicon glyphicon-trash"></i>

                            <span>删除</span>

                        </button>

                    </td>

                </tr>

            </table>

        </form>

    </div>

    <tabset >

        <tab ng-repeat="section in billData.fhxSecionVoList" heading="{{section.sectionNo}}">

            <table class="table table-bordered">

                <tr ng-repeat="layer in section.fhxLayerViewVoList">

                    <td>层号</td>

                    <td>&nbsp;&nbsp;<input type="text" readonly ng-model="layer.layerNo" style="border: 0px"></td>

                    <td>最低预付分保费(MDP)</td>

                    <td>&nbsp;&nbsp;<input type="text" readonly ng-model="layer.mdp" style="border: 0px" ></td>

                </tr>

            </table>

        </tab>

    </tabset>

    <table class="table table-bordered">

        <thead>

            <th nowrap>Section</th>

            <th nowrap>BU</th>

            <th nowrap>业务来源</th>

            <th nowrap>险种</th>

            <th nowrap>币别</th>

            <th nowrap>最低预付分保费(MDP)</th>

            <th nowrap>占比</th>

        </thead>

        <tr ng-repeat="shareList in billData.fhxComShareList">

            <td>{{shareList.id.sectionNo}}</td>

            <td>{{shareList.id.centerCode}}</td>

            <td>{{shareList.id.businessNature}}</td>

            <td>{{shareList.id.riskCode}}</td>

            <td>{{shareList.id.currency}}</td>

            <td>{{shareList.premium | currency}}</td>

            <td>
            	<input ng-readonly="true" size="20" style="border:none;width: 31px;" ng-model="shareList.shareRate" percentage />
            </td>

        </tr>

    </table>

</div>

<a class="btn btn-default" ng-if="!viewFlag" ng-click="createBills()">生成账单</a>

<a class="btn btn-default" ng-click="toggle()" ng-if="!viewFlag">返回</a>
<a class="btn btn-default" ng-click="changeDate(keywords)" ng-if="viewFlag">返回</a>