<div class="container-fluid">
<form name="frmSearchContract" novalidate>

<div class="row">
    <div class="col-lg-2">
        <label>账单编号：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control"  type="text" placeholder="账单编码" ng-model="contracts.billOut" readonly/>
    </div>
    <div class="col-lg-2">
        <label> 合约编码：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text"  ng-model="contracts.concNo" readonly/>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>接受公司：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text" ng-model="contracts.reinTr" typeahead-loading="loading..."
               typeahead="state.id +'-'+ state.value as state.id +'-'+ state.value for state in getByReturn('reinsCode',$viewValue) | filter:$viewValue "
               ng-required="true" 	typeahead-wait-ms="500" />
    </div>
    <div class="col-lg-2">
        <label>业务年度：</label>
    </div>
    <div class="col-lg-4">
        <input year  class="year-preview" ng-required="true"  type="text" ng-model="contracts.busiYear"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>合约分项：<label>
    </div>
    <div class="col-lg-4">
        <select class="form-control"  ng-model="contracts.inty">
            <option  ng-repeat="c in inties">{{c}}</option>
        </select>
    </div>
    <div class="col-lg-2">
        <label>销售体系：<label>
    </div>
    <div class="col-lg-4">
        <select class="form-control"  ng-model="contracts.inty">
            <option  ng-repeat="c in inties">{{c}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>账单起期SS：</label>
    </div>
    <div class=col-lg-4>
        <input class="form-control" type="text"  ng-model="contracts.billPeriFrom" readonly>
    </div>
    <div class="col-lg-2">
        <label>账单止期：</label>
    </div>
    <div class=col-lg-4>
        <input class="form-control" type="text"  ng-model="contracts.billPeriTo" readonly>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>账单余额：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text"  ng-model="contracts.balance" readonly/>
    </div>
    <div class="col-lg-2">
        <label>币别：</label>
    </div>
    <div class="col-lg-4">
        <select  class="form-control" ng-model="contracts.curr" ng-options="c.id as c.value for c in currencys">
            <option value=''>请选择币别</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>险类：</label>
    </div>
    <div class="col-lg-4">
        <select class="form-control" ng-model="contracts.incoClass"
                ng-options="c.id as c.value for c in classCodes"
                ng-change="searchRiskCode(contracts.incoClass)">
        </select>
    </div>
    <div class="col-lg-2">
        <label>险种：</label>
    </div>
    <div class="col-lg-4">
        <select class="form-control" ng-model="contracts.inco"
                ng-options="c.id as c.value for c in riskCodes">
        </select>
    </div>
</div>

<!--现金赔款账单
      通知时间，出险时间，被保险人，总保险，出险原因
 -->
<div class="row" ng-show="keywords.billType==='02'">
    <div class="col-lg-2">
        <label>通知时间：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text text" placeholder="日期" datepicker2="" ng-model="contracts.startDate" class="ng-isolate-scope ng-pristine ng-valid">
    </div>
    <div class="col-lg-2">
        <label>出险时间：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text text" placeholder="日期" datepicker2="" ng-model="contracts.startDate" class="ng-isolate-scope ng-pristine ng-valid">
    </div>
</div>
<div class="row" ng-show="keywords.billType==='02'">
    <div class="col-lg-2">
        <label>被保险人：</label>
    </div>
    <div class="col-lg-4">
        <select class="form-control"  ng-model="contracts.inco"><option value="01">0101-企业财产险</option></select>
    </div>
    <div class="col-lg-2">
        <label>总保险：</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text"  ng-model="contracts.oriInco" />
    </div>
</div>
<div class="row" ng-show="keywords.billType==='02'">
    <div class="col-lg-2">
        <label>出险原因：</label>
    </div>
    <div class="col-lg-4" colspan="3">
        <textarea  ng-model="contracts.inRemark" placeholder="输入文本.."></textarea>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <label>备注（对内）：<label>
    </div>
    <div class="col-lg-4" colspan="3">
        <textarea ng-model="contracts.remaIn" placeholder="输入文本.."></textarea>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>备注：</label>
    </div>
    <div class="col-lg-4" colspan="3">
        <textarea ng-model="contracts.rema" placeholder="输入文本.."></textarea>
    </div>
</div>
<div class="row">
    <div colspan="4">账单项目</div>
</div>
<table class="table table-bordered">
    <tr>
        <td>账单项目编码-名称</td>

        <td>账单项目金额</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="bill in contracts.ribillInContSubs">
        <td>
            <select class="form-control"
                    ng-click="feeNamelist($index,bill.fety)" ng-model="bill.fety" ng-options="c.id as (c.id+'---'+c.value) for c in feecdes">
                <option value=''>请选择编码-名称</option>

            </select>
        </td>
        <td><input onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" class="form-control" type="text" ng-model = "bill.repaAmou" placeholder="输入金额"

                   ng-change="getQuickRecords()"/></td>
        <td>
            <a class="btn btn-danger"  ng-click="removeBillAccount(bill)">删除</a>
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            <a class="btn btn-default" ng-click="addLayerBill()">添加</a>
        </td>
    </tr>
</table>


</form>
<a class="btn btn-default" ng-click="createContInBill(contracts,'')">生成</a>
<a class="btn btn-default" ng-click ="toggle()">取消</a>
</div>
