<script id="queryFormTmpl" type="text/x-jsrender">
<div class="page-title">
  &nbsp;
    <a href="/">
        <i class="fa fa-home fa-fw fa-lg"></i>
        回到首页
    </a>
    /业务权限查询
</div>
<div id="search-panel">
<div class="col-md-10 column" >
  <div class="row clearfix">
    <div class="col-md-12 column background-color-white padding-left-right-base box panel box-info">
         <div class="box-header with-border">
              <!--   <h4 class="box-title">
                  <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" class="">
                    配置查询
                  </a>
                </h4> -->
        </div>
        <div class="tabbable" id="tabs-180259">
            <div class="tab-content list-table">
            </div>
        <div>
        </div>
        </div>
            <!-- /.box -->
        </div>
</div>
</div>
        <div class="col-md-2 column">
            <div class="row margin-left-1x">
                <div class="col-md-12 column background-color-component-default">
                    <div class="page-header margin-top-3x">
                        <div><h5><span class="color-red font-weight-bolder">| </span>查询</h5></div>

                        <form role="form" class="searchform">
                            <div class="form-group query-border">
                                <input type="hidden" name="level" value="System">
                               {{for queryConditions}} 
                                <input name="{{:name}}" class="form-control input-sm" type="text" placeholder="{{:placeholder}}" />
                               {{/for}}

                            </div>
                        <button type="button" class="btn btn-danger btn-search btn-sm btn-block">查询</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
    </div>

</script>           