<link rel="import" href="/reins/page/templates/assets/polymer/paper-checkbox/paper-checkbox.html">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>
              <input type="checkbox" ng-model="checkAll" ng-click="checkAllContracts()">全选
            </th>
            <th>结算状态</th>
            <th>结算人编号</th>
            <th>结算人名称</th>
            <th>账单编号</th>
            <th>合约编号</th>
            <th>合约分项</th>
            <th>帐单期/临分分期</th>
            <th>被保险人</th>
            <th>业务年度</th>
            <th>帐单币种</th>
            <th>帐单余额</th>
            <th>已结金额</th>
            <th>未结金额</th>
            <th>应付日期</th>
        </thead>
        <tbody>
        <tr ng-repeat="settle in settleList" class="hover-visible-wrapper" >
            <td>
                <input type="checkbox" ng-model="settle.checked">
                {{$index+1}}
            </td>
           <!--  <td>{{settle.settleStatus}}</td> -->
            <td>
           <div ng-if="settle.settleStatus==='0'">未结</div>
           <div ng-if="settle.settleStatus==='1'">部分结</div>
           <div ng-if="settle.settleStatus==='2'">全结付</div>
           </td>
            <td>{{settle.payCode}}</td>
            <td>{{settle.payName}}</td>
            <td>{{settle.accNo}}</td>
            <td>{{settle.treatyNo}}</td>
            <td>{{settle.sectionNo}}</td>
            <td>{{settle.accPeriod}}</td>
            <td>{{settle.insuredName}}</td>
            <td>{{settle.uwYear}}</td>
            <td>{{settle.currency}}</td>
            <td>{{settle.accBalance}}</td>
            <td>{{settle.paidValue}}</td>
            <td>{{settle.noPaidValue}}</td>
            <td>{{settle.settleDate.time | date : config.display.dateFormat}}</td>
        </tr>
         
        </tbody>
        <tr>
           <td colspan="6" align="right">
              <a class="btn btn-danger"   ng-click="prepareSettle()">结算</a>
           </td>
       </tr> 
    </table>
</div>
<div  ng-if="showExtra === 'prepareSettle'" style="position:fixed;top:0;left:0;background:rgba(0,0,0,.4);width:100%;height:100%;z-index:99999;">
	<div style="position:absolute;top:100px;width:1000px;z-index:3;left:50%;margin-left:-500px;"
	                 ng-include="'/reins/page/templates/settle/AccSettle.gen.tpl.html'"></div>
</div>