<!--再保人列表-->
<div>
	<div class="modal-header">
		<h2>结算单管理--删除</h2>
	</div>
	<div class="modal-body">
		<table class="table table-stripped">
			<tr>
				<th>结算单编号</th>
				<th>结算人编号</th>
				<th>结算人名称</th>
				<th>结付币种</th>
				<th>结付金额</th>
				<th>经办人</th>
				<th>结算单生成日期</th>
				<th>结算单转收付日期</th>
				<th>实际付款日期</th>
				<!--  <th>&nbsp;</th>-->
			</tr>
			<tr ng-repeat="settleAcc in settleAccList">
				<td>{{settleAcc.settleNo}}</td>
				<td>{{settleAcc.payCode}}</td>
				<td>{{settleAcc.payName}}</td>
				<td>{{settleAcc.currency}}</td>
				<td>{{settleAcc.settleValue}}</td>
				<td>{{settleAcc.operatorCode}}</td>
				<td>{{settleAcc.operateDate.time | date :config.display.dateFormat}}</td>
				<td>{{settleAcc.sendDate.time | date :config.display.dateFormat}}</td>
				<td>{{settleAcc.sendFlag}}</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a class="btn btn-danger" ng-click="deleteList()">确认删除</a> <a
			class="btn btn-primary" ng-click="cancel()">撤销</a>
	</div>
</div>
