<div ng-controller="SettleListCtrl" collapse="hideList">
    <div ng-hide="searchTableFlag" class="search-toggle" ng-click="searchTableFlag = ! searchTableFlag">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div collapse="!searchTableFlag" class="well">
        <h4>账单查询</h4>
        <form name="searchForm" novalidate>
            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">结算人编号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.reinsCode" style="width: 143px"
                                ng-options="c.id as c.id +'-'+ c.value for c in reinsCodes">
                            <option value=''>全部</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">账单币种：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.currency"
                                ng-options="c.id as c.id +'-'+ c.value for c in currencys">
                            <option value=''>全部</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">账单编号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.accNoTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.accNo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">归属机构：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.comCodeTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.comCode">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">直接业务号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.drCertifyNoTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.drCertifyNo">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">分保业务号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.reCertifyNoTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.reCertifyNo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">合约编号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.treatyNoTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.treatyNo">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">合约分项编号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.sectionNoTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.sectionNo">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">业务年度：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.uwYearTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.uwYear">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">险类：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.classCodeTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.classCode">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">险种：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.riskCodeTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.riskCode">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">应结付日期：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.settleDateTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="date" style="line-height: normal" ng-model="searchWords.settleDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">被保险人/船名：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.insuredNameTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.insuredName">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">对方帐单编号：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.yourRefTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.yourRef">
                    </div>
                </div>
               <!--  <div class="col-xs-4">
                    <label class="col-xs-4">分出公司：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.comCodeInTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.comCodeIn">
                    </div>
                </div> -->
                 <div class="col-xs-4">
                    <label class="col-xs-4">帐单类型：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.accKind">
                            <option name="searchWords.accKind" value="" selected>全部</option>
                            <option name="searchWords.accKind" value="P" ng-model="searchWords.accKind">分保单账单</option>
                            <option name="searchWords.accKind" value="E" ng-model="searchWords.accKind">分批单账单</option>
                            <option name="searchWords.accKind" value="CF" ng-model="searchWords.accKind">分赔案账单</option>
                            <option name="searchWords.accKind" value="G" ng-model="searchWords.accKind">普通合约账单</option>
                            <option name="searchWords.accKind" value="M" ng-model="searchWords.accKind">现金赔款账单</option>
                            <option name="searchWords.accKind" value="L" ng-model="searchWords.accKind">冲销账单</option>
                            <option name="searchWords.accKind" value="CT" ng-model="searchWords.accKind">巨灾账单</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="col-xs-4">分保方式：</label>
                    <div class="col-xs-8">
                        <label><input name="searchWords.reinsType" type="radio" value="1"
                                      ng-model="searchWords.reinsType"/>合约 </label>
                        <label><input name="searchWords.reinsType" type="radio" value="0"
                                      ng-model="searchWords.reinsType"/>临分 </label>
                        <label><input name="searchWords.reinsType" type="radio" value="" checked/>全部 </label>
                    </div>
                </div>
               <!--  <div class="col-xs-4">
                    <label class="col-xs-4">帐单类型：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.accKind">
                            <option name="searchWords.accKind" value="" selected>全部</option>
                            <option name="searchWords.accKind" value="P" ng-model="searchWords.accKind">分保单账单</option>
                            <option name="searchWords.accKind" value="E" ng-model="searchWords.accKind">分批单账单</option>
                            <option name="searchWords.accKind" value="CF" ng-model="searchWords.accKind">分赔案账单</option>
                            <option name="searchWords.accKind" value="G" ng-model="searchWords.accKind">普通合约账单</option>
                            <option name="searchWords.accKind" value="M" ng-model="searchWords.accKind">现金赔款账单</option>
                            <option name="searchWords.accKind" value="L" ng-model="searchWords.accKind">冲销账单</option>
                            <option name="searchWords.accKind" value="CT" ng-model="searchWords.accKind">巨灾账单</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-xs-4">
                    <label class="col-xs-4">业务类型：</label>
                    <div class="col-xs-8">
                        <label><input name="searchWords.optType" type="radio" value="1" ng-model="searchWords.optType"/>分入
                        </label>
                        <label><input name="searchWords.optType" type="radio" value="0" ng-model="searchWords.optType"
                                      checked/>分出</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="col-xs-4">结算状态：</label>
                    <div class="col-xs-8">
                        <label><input name="searchWords.settleStatus" type="radio" value="2"
                                      ng-model="searchWords.settleStatus"/>已结算 </label>
                        <label><input name="searchWords.settleStatus" type="radio" value="0"
                                      ng-model="searchWords.settleStatus"/>未结算 </label>
                        <label><input name="searchWords.settleStatus" type="radio" value=""
                                      ng-model="searchWords.settleStatus" checked/>全部 </label>
                    </div>
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-xs-4">
                    <label class="col-xs-4">业务类型：</label>
                    <div class="col-xs-8">
                        <label><input name="searchWords.optType" type="radio" value="1" ng-model="searchWords.optType"/>分入
                        </label>
                        <label><input name="searchWords.optType" type="radio" value="0" ng-model="searchWords.optType"
                                      checked/>分出</label>
                    </div>
                </div> -->
                <div class="col-xs-4" ng-if="mode==='admin'">
                    <label class="col-xs-4">起始帐单期(如2014-01M/Q)：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.startAccPeriodTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.startAccPeriod">
                    </div>
                </div>
                <div class="col-xs-4" ng-if="mode==='admin'">
                    <label class="col-xs-4">截止帐单期(如2014-01M/Q)：</label>
                    <div class="col-xs-8">
                        <select ng-model="searchWords.endAccPeriodTag">
                            <option value="=" selected>=&nbsp;</option>
                            <option value="*">*&nbsp;</option>
                        </select>
                        <input type="text" ng-model="searchWords.endAccPeriod">
                    </div>
                </div>
            </div>
            <div colspan="6" align="right">
                <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="searchForm.$dirty">重置</a>
                <a ng-click="searchTableFlag = ! searchTableFlag" class="btn btn-default">取消</a>
                <a ng-click="searchSettle(searchWords, {}, {})" class="btn btn-primary"
                   ng-disabled="!searchForm.$valid">立即查询</a>
            </div>
        </form>
    </div>
    <div class="page-header">


        <h3 class="ng-binding">结算单生成</h3>
    </div>
    <div class="panel panel-default " ng-show="settleList.length > 0">
        <!-- 显示查询结果列表 -->
        <div ng-include="'/reins/page/templates/settle/reinsSettleResult.list.tpl.html'"></div>
    </div>
</div>
<!-- 添加下一级页面接口 -->
<div ui-view="operation"></div>