<div class="">
    <div ng-if="mode==='admin'">
        <input type="checkbox"  ng-model="checkAll" ng-click="checkAllRelationships()">全选
    </div>

    <div ng-repeat="relationship in relationshipList" class="contract-thumbnail-wrapper hover-visible-wrapper">
        <div ng-if="mode==='admin'">
            <input type="checkbox" ng-model="relationship.checked">
            {{getIndex($index)}}
        </div>

        <div class="contract-thumbnail">
			<div>
                {{relationship.uwYear}}
            </div>
            <div>
                {{relationship.treatyName}}
            </div>
            <div>{{relationship.priorityNo}}</div>
        </div>

        <div class="text-center" style="margin:5px 0 0 0">

            <div class="btn-group btn-group-sm hover-visible">
                <a ng-href="#/relationships/{{relationship.uwYear}}{{relationship.treatyNo}}/edit"  class="btn btn-default" >编辑</a>
                <a ng-href="#/relationships/{{relationship.uwYear}}{{relationship.treatyNo}}/view" class="btn btn-default">查看</a>
            </div>
        </div>
    </div>
</div>