<!-- 查询 -->
<div  collapse="hideList">
    <div ng-hide="showSearch" class="search-toggle" ng-click="showSearch = ! showSearch">
	    <span class="glyphicon glyphicon-search"></span>
	</div>
    <!-- 查询条件 -->
	<div collapse="!showSearch" class="well">
	    <h4>查询合同关系</h4>
	    <form name="relationshipSearch" novalidate>
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-md-12">
	                    <div class="col-lg-6">
	                        <div class="col-lg-3" aligb="right">
	                            <label>业务年度：</label>
	                        </div>
	                        <div class="col-lg-5">
	                            <div class="input-group">
	                                <input type="text" class="form-control"
	                                       ng-model="keywords.uwYear" >
	                                <span></span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="col-lg-4">
	                            <label>合同编号：</label>
	                        </div>
	                        <div class="col-lg-5">
	                            <div>
	                                <input type="text" class="form-control" ng-model="keywords.treatyNo">
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-12" align="right">
	                    <a ng-click="resetSearchBox()" class="btn btn-default" ng-show="relationshipSearch.$dirty">重置</a>
	                    <a ng-click="showSearch = ! showSearch" class="btn btn-default">取消</a>
	                    <a ng-click="searchRelationship(keywords, pagination, '')" class="btn btn-primary" ng-disabled="!relationshipSearch.$valid">立即查询</a>
	                </div>
	            </div>
	        </div>
	    </form>
	</div>
	<div class="page-header">
	
	    <div class="btn-group pull-right">
	    	<button type="button" class="btn btn-default" ng-model="global.viewType" btn-radio="'thumbnail'">
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
            <button type="button" class="btn btn-default" ng-model="global.viewType" btn-radio="'table'">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
	        <!-- 显示查询结果列表 -->
	        <a class="btn btn-default" ng-href="#/relationships/new">新增</a>
<!-- 	        <a class="btn btn-default" ng-href="#/admin/relationships/new">新增</a> -->
	        <!--<a class="btn btn-primary" ng-disabled="selectedCount != 1">编辑</a>-->
	        <a class="btn btn-danger"  ng-disabled="selectedCount===0" ng-click="deleteRelationships()">删除</a>
	        
	    </div>
	    <h3>合同优先级</h3>
    </div>
    <div class="panel panel-default " ng-show="relationshipList.length > 0">
	    <!-- 显示查询结果列表 -->
	     <div ng-if="global.viewType==='thumbnail'" ng-include="'/reins/page/templates/relationship/relationship.list.thumbnail.tpl.html'"></div>

         <div ng-if="global.viewType==='table'" ng-include="'/reins/page/templates/relationship/relationship.list.table.tpl.html'"></div>
    </div>
   
    <div class="clearfix pull-right" ng-show="relationshipList.length > 0" style="margin-bottom:3%">
	     <div class="clearfix panel-footer">
	        <span class="pull-right">共: {{pagination.totalItems}}份</span>
	    </div>
        <!-- 分页  -->
        <pagination total-items="pagination.totalItems"
                    page="pagination.pageIndex"
                    items-per-page="pagination.pageSize"
                    max-size="pagination.maxSize"
                    previous-text="{{pagination.previousText}}"
                    next-text="{{pagination.nextText}}"
                    first-text="{{pagination.firstText}}"
                    last-text="{{pagination.lastText}}"
                    class="pagination-small"
                    boundary-links="true"
                    on-select-page="onSelectPage(page)">
        </pagination>
    </div>
</div>
<!-- 添加下一级页面接口 -->
<div ui-view="operation"></div>