
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>险种：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.id.riskCode}}
<!--                	<div class="input-group">-->
<!--	                    <input type="text"  placeholder="险种"-->
<!--	                           ng-model="retention.id.riskCode"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>风险类别：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.id.riskClass}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="风险类别"-->
<!--	                           ng-model="retention.id.riskClass"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>风险等级：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.id.riskLevel}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="风险等级"-->
<!--	                           ng-model="retention.id.riskLevel"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>风险类别描述：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.riskClassDesc}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="风险类别描述"-->
<!--	                           ng-model="retention.riskClassDesc"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>风险等级描述：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.riskLevelDesc}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="风险等级描述"-->
<!--	                           ng-model="retention.riskLevelDesc"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>生效时间：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.id.effcTm}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="生效时间"-->
<!--	                           ng-model="retention.id.effcTm"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>自留额：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.retentionValue}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="自留额"-->
<!--	                           ng-model="retention.retentionValue"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>失效时间：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.expdTm}}
<!--                	<div class="input-group">-->
<!--	                    <input type="number"  placeholder="失效时间"-->
<!--	                           ng-model="retention.expdTm"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>币种：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.currency}}
<!--                	<div class="input-group">-->
<!--	                    <input type="text"  placeholder="币种"-->
<!--	                           ng-model="retention.currency"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>标志：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.flag}}
<!--                	<div class="input-group">-->
<!--	                    <input type="text"  placeholder="标志"-->
<!--	                           ng-model="retention.flag"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="col-lg-6">
            	<div class="col-lg-3">
                	<label>备注：</label>
               	</div>
               	<div class="col-lg-3">
               		{{retention.remarks}}
<!--                	<div class="input-group">-->
<!--	                    <input type="text"  placeholder="备注"-->
<!--	                           ng-model="retention.remarks"-->
<!--	                           ng-minlength="4"-->
<!--	                           ng-maxlength="4"-->
<!--	                           >-->
<!--	                    <span></span>-->
<!--	                </div>-->
               	</div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
