<div>
    <div class="modal-header">
        <h2>自留额管理--删除</h2>
    </div>
    <div class="modal-body">
        <table class="table table-stripped">
            <tr>
                <th>业务年度</th>
                <th>险种代码</th>
                <th>占用性质/建筑</th>
                <th>风险等级</th>
                <th>币种</th>
                <th>自留额</th>
                <th>备注</th>
            </tr>
            <tr ng-repeat="retention in retentionList">
                <td>{{retention.id.uwYear}}</td>
                <td>{{retention.id.riskCode}}</td>
                <td>{{retention.id.riskClass}}</td>
                <td>{{retention.id.riskLevel}}</td>
                <td>{{retention.currency}} </td>
                <td>{{retention.retentionValue}} </td>
                <td>{{retention.reMarks}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" ng-click="deleteList()">确认删除</a>
        <a class="btn btn-primary" ng-click="cancel()">撤销</a>
    </div>
</div>
