<div class="container-fluid" style="height: 180px; ">
	<div class="col-sm-12" style="height: 30px;top: 20px; ">	
		<div class="col-sm-10">
			<label>脚本提示:</label>
		</div>
		<div class="col-sm-2" style="height: 15px; ">
			<button type="button" class="btn btn-default" 
				ng-click="editRiskUnitSplit()" style="width: 85px; height: 30px">确定</button>
		</div>
	</div>
	<div class="col-sm-12" style="height: 30px;top: 30px; ">
		<div class="col-sm-10" >
			<label>请输入拆分危险单位个数，如：拆分2个危险单位请输入2</label>
		</div>
		<div class="col-sm-2" style="height: 15px; ">
			<button type="button" class="btn btn-default" ng-click="close()" style="width: 84px; ">取消</button>
		</div>
	</div>
	<div class="col-sm-12" style="height: 30px;top: 60px; ">
		<input type="text" class="form-control" id="dangerNumber" >
	</div>
</div>