<div>除外责任</div>
<table class="table table-bordered">
    <thead>
        <th>合同类型</th>   <!-- ? ------ -->
        <th>除外责任</th>
        <!--<th>SA申请通过</th>-->
        <th>备注</th>
    </thead>
    <tr>
        <td>成数除外</td>
        <td>
            <!--<select ng-show="riskunit.editing" ng-model="riskunit.quotaObjTypeCde" ng-click="selectExclusion(riskunit)">
                <option value="0000">其他</option>
                <option value="0001">非其他</option>
            </select>-->
            <select  ng-show="riskunit.editing" ng-model="riskunit.quotaObjTypeCde"
                      ng-click="selectExclusion(riskunit)"
                      ng-options="r.objTypeCode as r.objTypeCode+'-'+r.objTypeDesc for r in ObjTypeList"></select>
            <div ng-show="!riskunit.editing">
               <!-- <span ng-if="riskunit.quotaObjTypeCde === '0000' ">其他</span>
                <span ng-if="riskunit.quotaObjTypeCde !== '0000'">非其他</span>-->
                {{getName(riskunit.quotaObjTypeCde)}}
                <!--{{ObjTypeList| filter:riskunit.quotaObjTypeCde}}-->
            </div>
        </td>
        <!--<td>-->
            <!--<input type="checkbox" ng-show="riskunit.editing" ng-model="riskunit.quotaSaMrk" ng-click="selectExclusion(riskunit)"/>-->
            <!--<div ng-show="!riskunit.editing">-->
                <!--<span ng-if="riskunit.quotaSaMrk ">是</span>-->
                <!--<span ng-if="!riskunit.quotaSaMrk ">否</span>-->
            <!--</div>-->
        <!--</td>-->
        <td>
            <input type="text" ng-show="riskunit.editing" ng-model="riskunit.quotaSaRemark"/>
            <div ng-show="!riskunit.editing">{{riskunit.quotaSaRemark}}</div>
        </td>
    </tr>
    <tr>
        <td>溢额除外</td>
        <td>
            <!--<select ng-show="riskunit.editing" ng-model="riskunit.overObjTypeCde" ng-click="selectExclusion(riskunit)">
                <option value="0000">其他</option>
                <option value="0001">非其他</option>
            </select>-->
            <select  ng-show="riskunit.editing" ng-model="riskunit.overObjTypeCde"
                      ng-click="selectExclusion(riskunit)"
                      ng-options="r.objTypeCode as r.objTypeCode+'-'+r.objTypeDesc for r in ObjTypeList"></select>
            <div ng-show="!riskunit.editing">
                <!--<span ng-if="riskunit.overObjTypeCde === '0000' ">其他</span>-->
                <!--<span ng-if="riskunit.overObjTypeCde !== '0000'">非其他</span>-->
                {{getName(riskunit.overObjTypeCde)}}
            </div>
        </td>
        <td>
            <input type="checkbox" ng-show="riskunit.editing" ng-model="riskunit.overSaMrk" ng-click="selectExclusion(riskunit)"/>
            <div ng-show="!riskunit.editing">
                <span ng-if="riskunit.overSaMrk ">是</span>
                <span ng-if="!riskunit.overSaMrk ">否</span>
            </div>
        </td>
        <td>
            <input type="text" ng-show="riskunit.editing" ng-model="riskunit.overSaRemark"/>
            <div ng-show="!riskunit.editing">{{riskunit.overSaRemark}}</div>
        </td>
    </tr>
    <tr>
        <td>超赔合同除外</td>
        <td>
            <!--<select ng-show="riskunit.editing" ng-model="riskunit.xTreatyObjTypeCde" ng-click="selectExclusion(riskunit)">
                <option value="0000">其他</option>
                <option value="0001">非其他</option>
            </select>
            <div ng-show="!riskunit.editing">
                <span ng-if="riskunit.xTreatyObjTypeCde === '0000'">其他</span>
                <span ng-if="riskunit.xTreatyObjTypeCde !== '0000'">非其他</span>
            </div>-->
            <select  ng-show="riskunit.editing" ng-model="riskunit.xTreatyObjTypeCde"
                     ng-click="selectExclusion(riskunit)"
                     ng-options="r.objTypeCode as r.objTypeCode+'-'+r.objTypeDesc for r in ObjTypeList"></select>
            <div ng-show="!riskunit.editing">
                {{getName(riskunit.xTreatyObjTypeCde)}}
            </div>
        </td>
        <td>
            <input type="checkbox" ng-show="riskunit.editing" ng-model="riskunit.xTreatySaMrk" ng-click="selectExclusion(riskunit)"/>
            <div ng-show="!riskunit.editing">
                <span ng-if="riskunit.xTreatySaMrk ">是</span>
                <span ng-if="!riskunit.xTreatySaMrk ">否</span>
            </div>
        </td>
        <td>
            <input type="text" ng-show="riskunit.editing" ng-model="riskunit.xTreatySaRemark"/>
            <div ng-show="!riskunit.editing">{{riskunit.xTreatySaRemark}}</div>
        </td>
    </tr>
</table>