<div>原始标的信息</div>
<table class="table table-bordered" ng-if="certiType ==='3'">
    <thead>
    <th>标的序号</th>
    <th>险别</th>
    <th>标的项目</th>
    <th>标的名称</th>
    <th>邮编</th>
    <th>标的地址</th>
    <th>币别</th>
    <th>保额</th>
    <th>保额变化量</th>
    <th>含税保费</th>
    <th>含税保费变化量</th>
    <th>增值税</th>
    <th>增值税变化量</th>
    <th>不含税保费</th>
    <th>不含税保费变化量</th>
    <th>计算保额</th>
       </thead>
    <tr ng-repeat="dangerItem in dangerUnit.dangerItemCoList">
        <td>
            <input type="checkbox" ng-show="!(dangerUnit.editing || dangerUnit.editSplit)"
                   ng-model="dangerItem.isSelected" ng-disabled="true"/>
            <!-- {{$index+1}} -->{{dangerItem.serialNo}}
        </td>
        <td>{{dangerItem.kindCode}}-{{dangerItem.kindName}}</td>
        <td>{{dangerItem.itemCode}}</td>
        <td>{{dangerItem.itemDetailName}}</td>
        <td>{{dangerItem.postCode}}</td>
        <td>{{dangerItem.addressName}}</td>
        <td>{{dangerItem.currency | code:'currency'}}</td>
        <td>{{dangerItem.amount}}</td>
        <td>{{dangerItem.chgAmount}}</td>  <!--|currency-->
        <td>{{dangerItem.premium}}</td>
        <td>{{dangerItem.chgPremium}}</td>
        <td>{{dangerItem.taxFee}}</td>
        <td>{{dangerItem.chgTaxFee}}</td>
        <td>{{dangerItem.noTaxPremium}}</td>
        <td>{{dangerItem.chgNoTaxPremium}}</td>
        <!-- <td ng-if="certiType ==='1'">{{dangerItem.tax |currency}}</td> -->
        <td>
            <!--{{dangerItem.calculateFlag}}-->
            <div ng-if="dangerItem.calculateFlag == 'Y'">计算保额</div>
            <div ng-if="dangerItem.calculateFlag != 'Y'">不计保额</div>
        </td>
    </tr>
</table>
<table class="table table-bordered" ng-if="certiType ==='1'">
    <thead>
    <th>标的序号</th>
    <th>险别</th>
    <th>标的项目</th>
    <th>标的名称</th>
    <th>邮编</th>
    <th>标的地址</th>
    <th>币别</th>
    <th>保额</th>
    <th>含税保费</th>
    <th>不含税保费</th>
    <th>增值税</th>
    <th>计算保额</th>
        </thead>
    <tr ng-repeat="dangerItem in dangerUnit.dangerItemCoList">
        <td>
                     <input type="checkbox" ng-show="!(dangerUnit.editing || dangerUnit.editSplit)"
                   ng-model="dangerItem.isSelected" ng-disabled="true"/>
            <!-- {{$index+1}} -->{{dangerItem.serialNo}}
        </td>
        <td>{{dangerItem.kindCode}}-{{dangerItem.kindName}}</td>
        <td>{{dangerItem.itemCode}}</td>
        <td>{{dangerItem.itemDetailName}}</td>
        <td>{{dangerItem.postCode}}</td>
        <td>{{dangerItem.addressName}}</td>
        <td>{{dangerItem.currency | code:'currency'}}</td>
        <td>{{dangerItem.amount}}</td>
        <td>{{dangerItem.premium}}</td>
        <td>{{dangerItem.noTaxPremium}}</td>
        <td>{{dangerItem.taxFee}}</td>
        <td>
            <!--{{dangerItem.calculateFlag}}-->
            <div ng-if="dangerItem.calculateFlag == 'Y'">计算保额</div>
            <div ng-if="dangerItem.calculateFlag != 'Y'">不计保额</div>
        </td>
    </tr>
</table>
