<div class="paper">
    <hr>
    <h4>添加最终接受人(比例)</h4>
    <table class="table table-bordered" ng-repeat="facPlyComShare in riskunitsFacPlyInfo.facPlyComShareVos">
        <thead>
        <th>序号</th>
        <th>最终接受人</th>
        <th>接受份额(%)</th>
        <th>整单接受份额(%)</th> <!-- 比例有 整单接受份额(%)<input>  非比例没有-->
        <th></th>
        </thead>
        <tr ng-repeat="fac in facPlyComShare.facPlyFComShareVos">
            <td>{{$index + 1}}</td>
            <td>{{fac.facRiFComCde}}{{fac.riFComNme}}</td>
            <td>{{fac.facFComShareRate}}</td>
            <td>{{fac.rifAbsComSharerate}}</td>
            <td><a href="" class="btn btn-default">删除</a></td>
        </tr>
    </table>
    <br/>
    <br/>

    <hr>
    <h4>添加最终接受人(非比例)</h4>
    <table class="table table-bordered" ng-repeat="feoXLayer in riskunitsFacPlyInfo.feoXLayerVos">
        <thead>
            <th>序号</th>
            <th>最终接受人</th>
            <th>接受份额(%)</th>
            <th></th>
        </thead>
        <tr ng-repeat="feoX in feoXLayer.feoXReinss">
            <td>{{$index + 1}}</td>
            <td>{{feoX.freinsCode}}</td>
            <td>{{feoX.shareRate}}</td>
            <td><a href="" class="btn btn-default">删除</a></td>
        </tr>
    </table>
</div>