<div>原始标的信息</div>
<table class="table table-bordered" >
<thead>
    <th>标的序号</th>
    <th>险别</th>
    <th>标的项目</th>
    <th>标的名称</th>
    <th>邮编</th>
    <th>标的地址</th>
    <th>币别</th>
    <th>保额</th>
    <th ng-if="certiType ==='3'">保额变化量</th>
    <th>含税保费</th>
    <th ng-if="certiType ==='3'">含税保费变化量</th>
    <th>不含税保费</th>
     <th ng-if="certiType ==='3'">不含税保费变化量</th>
    <!-- <th ng-if="certiType ==='1'">增值税</th> -->
    <th>计算保额</th>
    <!-- <th>主险标识</th> -->
</thead>
<tr ng-repeat = "dangerItem in dangerUnit.dangerItemCoList" >
            <td>
               <!--  <input type="checkbox" ng-show="dangerUnit.editing" ng-model="dangerItem.isSelected" ng-if="certiType === '1'"
                       ng-disabled="((dangerItem.mainRiskFlag ==='0'||
                        dangerItem.mainRiskFlag ==='2'&& !dangerItem.isSelected && RU.addtionalTwoFlg) || !RU.riskunits[0].editing) 
                         || dangerItem.mainRiskFlag ==='3'
                          || dangerItem.mainRiskFlag ==='4'"
                       ng-click="selectItem(riskunit, riskItem)"/>
                <input type="checkbox" ng-show="dangerUnit.editing" ng-model="dangerItem.isSelected" ng-if="certiType === '3'"
                       ng-disabled="((dangerItem.mainRiskFlag ==='0' || RU.riskunits[0].splitType !='1') || !RU.riskunits[0].editing)
							 || dangerItem.mainRiskFlag ==='3'
							  || dangerItem.mainRiskFlag ==='4'"
                       ng-click="selectItem(riskunit, riskItem)"/> -->
                <input type="checkbox" ng-show="!(dangerUnit.editing || dangerUnit.editSplit)" ng-model="dangerItem.isSelected" ng-disabled="true"/>
                <!-- {{$index+1}} -->{{dangerItem.serialNo}}
            </td>
            <td>{{dangerItem.kindCode}}-{{dangerItem.kindName}}</td>
            <td>{{dangerItem.itemCode}}</td>
            <td>{{dangerItem.itemDetailName}}</td>
            <td>{{dangerItem.postCode}}</td>
            <td>{{dangerItem.addressName}}</td>
            <td>{{dangerItem.currency | code:'currency'}}</td>
            <td>{{dangerItem.amount|currency}}</td>
            <td ng-if="certiType ==='3'">{{dangerItem.chgAmount|currency}}</td>
            <td>{{dangerItem.premium|currency}}</td>
            <td ng-if="certiType ==='3'">{{dangerItem.chgPremium|currency}}</td>
            <td>{{dangerItem.noTaxPremium|currency}}</td>
             <td ng-if="certiType ==='3'">{{dangerItem.chgNoTaxPremium|currency}}</td>
            <!-- <td ng-if="certiType ==='1'">{{dangerItem.tax |currency}}</td> -->
            <td>{{dangerItem.calculateFlag}}</td>
</tr>
</table>
