<div class="paper" style="margin-top:0;">
	<div class="pull-right">
	    <a class="btn btn-default" ng-click="dangerUnit.showExtra = comeback(enquiryForm.$invalid,enquiryForm.$dirty,dangerUnit.showExtra)">返回</a>
	    <a class="btn btn-primary" ng-disabled="enquiryForm.$invalid || (feoXReinssFlag===2) || feoEnquiry.verifyFlag == '3'" ng-click="saveFacEnquiry(dangerUnitFacEnquiry,'1')">保存</a>
	    <a class="btn btn-primary" ng-disabled="reinsuranceTrue" ng-disabled="enquiryForm.$invalid || (feoXReinssFlag===2)" ng-click="saveFacEnquiry(dangerUnitFacEnquiry,'2')">提交再保</a>
	</div>
	<div class="paper">
		<ng-form name="enquiryForm">
			<div>
			<tabset>
			    <tab heading="比例临分信息">
			        <div ng-include="'/reins/page/templates/undwrt/dangerunit.enquiry.prop.tpl.html'"></div>
			    </tab>
			    <!--超赔临分信息-->
			    <tab heading="超赔临分信息">
			        <div ng-include="'/reins/page/templates/undwrt/dangerunit.enquiry.nprop.tpl.html'"></div>
			    </tab>
			</tabset>
			</div>
		</ng-form>
	</div>
</div>