<link rel="stylesheet" href="assets/css/jquery.fileupload.css">
<link rel="stylesheet" href="assets/css/jquery.fileupload-ui.css">

<html>
  <head>
    <title>Yout site</title>
  </head>
  <body>
    <div class="container container-sm">
      <div id="icon-header">
        <span class="fa fa-question-circle"></span>
      </div>
      <div id="text-column">
        <header class="secondary-header">
          <h1>Error 404: <strong>Page not found.</strong></h1>
          <p>This is not the page you're looking for.</p>
        </header>
 
        <nav class="secondary-nav">
          <ul>
            <li>
              <a href="index.html" class="btn btn-primary">
                Take me home
                <span class="fa fa-exclamation"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>



<!--  <hr>
<h4>没有找到页面</h4>
<div>
	404
</div>-->