<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gte IE 8]><!-->
<html class="no-js" id="ng-app" ng-controller="MainCtrl">
<!--<![endif]-->
<head>
    <title>{{config.app.name}} 风险单位 | {{config.app.version}}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="image/x-icon" href="../img/favicon/arch.png" rel="icon"> 
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<!-- <link rel="stylesheet" href="../css/AdminLTE.min.css">
	<link type="text/css" rel="stylesheet" href="../plugin/bootstrap-table/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="../plugin/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" />
	选择框
	<link type="text/css" rel="stylesheet" href="../plugin/select2-master/dist/css/select2.min.css">
	<link type="text/css" rel="stylesheet" href="../plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
	<link rel="stylesheet" href="../plugin/font-awesome-4.7.0/css/font-awesome.min.css"/>
	文件上传组件
	<link rel="stylesheet" href="../plugin/bootstrap-fileinput/css/fileinput.min.css"/>
	<link rel="stylesheet" href="../plugin/bootstrap-fileinput/themes/explorer/theme.min.css"/>
	icheck
	<link rel="stylesheet" href="../plugin/icheck-1.x/skins/all.css" />
	ztree
	<link rel="stylesheet" href="../plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" />
	引入自定义 CSS 文件
	<link rel="stylesheet"  href="../plugin/stylesheets/style.css" />
	<link rel="stylesheet"  href="../css/bootstrap-dangerunit.css" />
	<link rel="stylesheet"  href="../css/style.css" /> -->
	<link rel="stylesheet" href="/reins/page/templates/assets/css/bootstrap.3.1.1.css" />
    <link rel="stylesheet" href="/reins/page/templates/assets/css/bootstrap-olive.css" />
    <link rel="stylesheet" href="/reins/page/templates/assets/css/bootstrap-riskunit.css" />
    <link rel="stylesheet" href="/reins/page/templates/assets/css/main.css" />
    <link rel="stylesheet" href="/reins/page/templates/assets/css/form.css" />
    <link rel="stylesheet"  href="/reins/page/templates/assets/css/animate.css">
    <link rel="stylesheet"  href="/reins/page/templates/assets/css/ng-animate.css">
</head>
<body>
<!--[if lt IE 9]>
<div>不支持此浏览器</div>
<![endif]-->
<div ng-switch = "global.user.id === ''">
    <div ng-switch-when="false">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" style="margin-top: -5px;"><span class="color-white font-weight-bolder"><img src="/reins/img/arch6-logo.png"></span><span
                        class="color-white font-weight-bold">再保管理平台</span></span>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div class="ui-view-container">
            <div ui-view="main" ng-cloak></div>
        </div>
    </div>
</div>

<div class="splash-window">
    <div>
        <div class="loader circle"></div>
    </div>
</div>

<div class="slide notification" ng-if="global.notification.message.length>0">
    <button type="button" class="close" ng-click="closeNotification()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <span class="glyphicon" ng-class="{'glyphicon-ok-sign':global.notification.type==='success','glyphicon-remove-circle':global.notification.type==='danger'}"></span>
    {{global.notification.message}}
</div>

<div ng-if="global.isBusy" class="loadingBusyImg">
    <img src="../page/templates/assets/img/loading_small.gif"/>
</div>

<script src="../plugin/requirejs/require.js" data-main="./main-dangerunit.js?v=1.0"></script>
</body>
</html>